[2019-03-13 15:10] wlach commented on #1618
I have noticed this as well. @bcolloran, do you have any ideas?

[2019-03-13 16:34] bcolloran commented on #1618
Thanks @runsun-edu for this detailed bug report! This is definitely a bad bug :-(

Wow, this is tricky. I really have no idea what is going on, and I cannot reproduce using FF or Chromium on Ubuntu. @hamilton can you take a look to see if you can reproduce on Mac?

I suspect this is some kind of weird edge case in CodeMirror, which I believe does some king of internal magic to handle scrolling.

[2019-03-13 16:39] hamilton opened #1620 ""npm run start" drains the battery life on my laptop for no good reason"
Logging this in case others are suffering too. Something about webpack is destroying my laptop battery life, even when my computer is plugged in. I suspect it's the circular dependency checker, but who knows.

For clarity - I'm on a 2018 MBP, up to date.

[2019-03-13 16:45] hamilton commented on #1618
I can reproduce this.

[2019-03-13 16:45] hamilton commented on #1618
For clarity, it's not that my scrollwheel on my mouse doesn't work - it's that I cannot click on the scroll bar and move it. This is a bug we've probably had forever, but I never click on scroll bars!

[2019-03-13 16:49] bcolloran commented on #1619
Thanks for the report @runsun-edu!

I looked into it a bit, and I think this is a genuine syntax error in JS (I tried inserting `{a: 3, b: 4}` in the middle of a js file and the parser barked at me). I think that the parser begins treating the first curly brace as the beginning of a "block" in the case of a plain object literal -- https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/S

[2019-03-13 16:52] bcolloran commented on #1618
Oh thank you @hamilton, i overlooked that important detail, my bad. Ok, yes, I can reproduce.

[2019-03-13 17:07] wlach commented on #1618
Rats, I was hoping that you would immediately know what was going on. 😄

![Screen Shot 2019-03-13 at 1 05 24 PM](https://user-images.githubusercontent.com/20569/54299239-def95480-4590-11e9-9377-d97362b76404.png)

I forgot to mention that I noticed yesterday when investigating this issue that it seemed like the vertical scrollbar had `pointer-events: none` assigned to it. If I delete that property,

[2019-03-13 18:38] runsun-edu commented on #1619
I recall any other javascript console would treat that code w/o error. For example, https://jsconsole.com/

[2019-03-13 19:18] bcolloran commented on #1619
Sure. It's a bit tricky and a bit of a mixed bag, actually. Executing `{a:3,b:4}` in the FF devtools gives that error, but in chrome devtools it works. Executing `eval('{a:3,b:4}')` give the error in both browsers. We think that chrome actually does some magic behind the scenes to make this work, but that it's kind of "non standard". I guess i'll reopen this, because I suppose we could look into i

[2019-03-13 20:50] hamilton opened #1621 "as a user, I would like a way of forking any notebook (including my own) from the notebook menu"
I have bumped up to this use-case a number of times. While I know the workaround - copy and paste the old editor content into a new blank NB - it might be nice to provide a menu item that does this for me.

[2019-03-13 23:10] runsun-edu commented on #1619
That's true. I guess it's not that critical anyway.

[2019-03-13 23:30] runsun-edu opened #1622 "[Wishlist]: Separate long doc into tabs in the editor"
As a doc gets too long, it's hard to find where you want to edit, and takes a lot of time scrolling.

It'd be good if a long doc can be separated --- behind the scene  --- into tabbed sub-docs, then automatically assembled into a whole doc upon rendering.

With that feature, it'd be also much easier for users if relocation of a section is needed --- just drag the tab and drop it between other tabs

[2019-03-13 23:48] bcolloran commented on #1622
yep, it's a great idea @runsun-edu! something we have talked about and wanted, thank you for giving us a nudge, it'll help us prioritize it! :-)

[2019-03-14 13:34] Xjs opened #1627 "»Webgl is not supported by your browser« in Brave, although it is supported"
Opening https://alpha.iodide.io/notebooks/34/?viewMode=report in the Brave browser (https://brave.com, it's based on Chromium) yields »Webgl is not supported by your browser - visit http://get.webgl.org for more info«. Going to http://get.webgl.org in Brave, however, says »Your browser supports WebGL« and successfully displays an animation.

It would be nice if WebGL visualisations inside iodide n

[2019-03-14 14:10] Neurrone opened #1629 "the iodide editor doesn't work with screen readers"
Playing with this with the "try it out" link on the site, editing the contents of the text field for source is inaccessible for screen reader users, probably because CodeMirror is being used.

### What I Did

Editing code on https://alpha.iodide.io/tryit/

### What I Expected

Works like a normal editable field

### What Happened

Unable to hear contents of the field when moving about; probably ca

[2019-03-14 20:22] bcolloran commented on #1627
Hi @xjs, thanks for the bug report. I think this is probably an upstream bug and not something specific to Iodide, because we don't do anything that should interfere with WebGL in the code we. I wonder if there is a problem with plotly in Brave. Would you mind visiting https://plot.ly/javascript/3d-line-plots/ to see whether that works correctly?

[2019-03-14 20:26] bcolloran commented on #1629
thanks @Neurrone. We're considering moving to Monaco, which I believe has better behavior around this
https://github.com/Microsoft/monaco-editor/wiki/Monaco-Editor-Accessibility-Guide

[2019-03-15 08:00] bcolloran opened #1634 "change "jsmd" to "iomd""
per https://news.ycombinator.com/item?id=19387134

changing this might end up being a big pain in the butt, b/c if we change the terminology i'd want to change the code. luckily "jsmd" is a weird enough string the a simple find/replace in all files might do the trick.

real question is: what would we want to change do, and do we think it's worth it at this point? i'm def not attached to jsmd, and

[2019-03-15 08:03] bcolloran opened #1635 "remove `evalFrameMessageQueue` from store"
i'm pretty sure that once #1633 merges, it will be trivial to remove evalFrameMessageQueue (and the associated machinery). this will simplify away a few things, as well as closing #995

[2019-03-15 09:19] Xjs commented on #1627
That doesn't work already. Thanks for pointing me in this direction, I opened https://github.com/plotly/plotly.js/issues/3640.

[2019-03-15 09:19] #1627 closed

[2019-03-15 15:16] hamilton commented on #1634
Like the idea and I agree w/ the person that responded to my comment that we're still early so it's easy to change this now.

[2019-03-15 15:18] hamilton commented on #1634
It's important to "care" a little about this because these little things when summed matter to the end user, but my vote is just to call it the Iodide format. We don't need a shortened name.

[2019-03-15 15:48] Neurrone commented on #1629
@bcolloran yup it does, the experience it provides in VS Code is pretty good.

[2019-03-15 17:39] filips123 opened #1637 "Support for other languages"
There should also be support for other languages:

* PHP (already [some project](https://github.com/oraoto/pib))
* Java (already [some project](https://github.com/i-net-software/JWebAssembly))
* C/C++
* Node.js

This is because some of them are very used in web development and some of them provide research tools. There are already some projects to compile them to WebAssembly.

[2019-03-15 17:50] hamilton commented on #1637
@filips123 we'd love to see an example with any of these that have been compiled to WebAssembly! Making a language plugin is pretty straightforward, and once the requisite loader is written, you can actually bring in any wasm language you like. Take a look at our docs here: https://iodide-project.github.io/docs/language_plugins/

[2019-03-15 18:50] filips123 commented on #1637
@hamilton I didn't test any of them so I can't provide you any examples.

[2019-03-15 19:09] bcolloran commented on #1634
i think it's nice to have a short construction to facilitate talking about jsmd --
"just copy your jsmd from your editor..." vs "just copy your iodide formatted text from your editor"

also we have a zillion places in the code where we use the string "jsmd". my hunch is that as a practical matter, if we have that string everywhere in our code and we don't have some kind of name for the format, we'

[2019-03-15 20:11] hamilton commented on #1634
Yep those are good points. To add a bit of nuance / further food for thought on your comments (and because it's Friday):

(1) I guess this is ultimately just a matter of preference and experience, but I've always been able to just say "the iodide notebook format is a flat file with a special text delimiter between cells" and most people (esp. data scientists & others with experience w/ nbs) unders

[2019-03-15 21:16] wlach commented on #1634
GitHub's "github flavored markdown" (gfm) went over pretty well as far as I know:

https://github.github.com/gfm/

I don't have strong opinions about what the acronym should be, but I think it makes sense to have "iodide" in the name. Just to make it clear it's a format specific to iodide and not an implementation of an open standard.

[2019-03-15 22:09] wlach commented on #1397
After investigating further, I don't think this is actually what we want. Instead, we should just allow suitably-authorized clients to create the notebook using the standard iodide APIs. They should get enough metadata in the response to be able to direct the user to any created notebook:

See #1642

[2019-03-15 22:09] #1397 closed

[2019-03-17 12:38] filips123 commented on #1637
@hamilton

I will try to do something for PHP.

There is already project to compile PHP to WASM, but it needs to be added as plugin. I created oraoto/pib#23 for this.
I currently prototype plugin in https://gist.github.com/filips123/8d6135debb763374fac5078bcee28542 but it currently doesn't work.

Do you know how to fix those errors? Also, how can communication (level 2+) be implemented between lan

[2019-03-17 14:50] six42 opened #1645 "file not found error for a local file"
Hi iodide team,
first thanks for this nice tool. I just started to explore it.

I tried to fetch files stored in my notebook but get a file not found error.

### What I Did
I forked https://alpha.iodide.io/notebooks/154 (Saving an image to iodide, loading it into a notebook)
my version is: https://alpha.iodide.io/notebooks/800
I then saved the video localy and uploaded again in my workbook
https:/

[2019-03-17 19:58] hamilton commented on #1645
Thanks for the issue @six42. I'm having trouble reproducing this error - it seems like the upload is available, and when I hit "run all" (or just hit the "run" button multiple times on [your notebook](https://alpha.iodide.io/notebooks/800)) I see the short video pop up as expected.

Can someone else verify what I'm seeing?

[2019-03-17 20:06] hamilton commented on #1637
@filips123 fantastic - I'll take a look at this once my work week has gotten under way. I think @mdboom may be able to give you some pointers re: level 2 and beyond (or point you to the source where he handles things in Python, for inspiration). Worth noting that this kind of wasm use case is relatively new, so there aren't really that many domain experts here. You may have to make your own fire!

[2019-03-18 00:01] bcolloran commented on #1645
Working for me also.

Other notes:
- that gritty video is hilarious
- iodide works much better than expected on mobile

[2019-03-18 12:42] mdboom commented on #1637
@filips123: Thanks for working on this.  As to the specific error -- The gist is loading `php.js` from `https://oraoto.github.io/pib/php.js`, but that `.js` file is loading the `.data` (which contains the tree of files for PHP) from a relative URL which is just `php.data`.  Since the webpage is at `alpha.iodide.io`, it tries to load `https://alpha.iodide.io/php.data` and it fails.  Fortunately, yo

[2019-03-18 14:47] filips123 commented on #1637
Some problem with PHP plugin is that it sometimes needs some time to initialize. In the original project, the module will call some function after it is initialized ([source](https://github.com/oraoto/pib/blob/master/index.html#L102-L164) - see `init` function and `phpModuleOptions`). How can this be done in Iodide?

---

What should `evaluate` return? Should it be the output (`stdout` and `stderr

[2019-03-18 16:40] mdboom commented on #1637
I think you could just follow the pattern you linked to -- set the `postRun` configuration option to the function you want to call when emscripten has finished loading the module.  But maybe I'm missing something?

It should be the return value.  `stdout` and `stderr` are by default sent to `console.log` by emscripten.  Right now, that means they go to the developer console, but a future version o

[2019-03-18 16:49] filips123 commented on #1637
Yes, but what should `postRun` function do? How to inform Iodide that module has finished loading?

If I am correct, the return value can't be changed by the script. It is just "compiler status", so when the code is correct it is "0".

[2019-03-18 17:07] mdboom commented on #1637
I'm sorry, I misunderstood the question.  Iodide expects the language plugin code to define a `Promise` called `languagePluginLoader` which resolves when done.

[code]

[2019-03-18 17:08] mdboom commented on #1637
The `evaluate` function should return the return value of whatever is run, not just a success/fail.  If that is what the PHP wasm library you are using does, that would have to be changed in order to the get the return value out.

[2019-03-18 20:26] six42 commented on #1645
Thanks @hamilton and @bcolloran for taking the time to check.
It works now for me as well.
Reproduced my steps but still working.
Maybe a problem with a first login only.

[2019-03-18 20:26] #1645 closed

[2019-03-18 22:10] wlach commented on #1618
This bug is very annoying on machines without an easily-accessible scroll wheel / touch scroll (e.g. my Linux laptop), it would be nice to be able to fix it sooner than later.

[2019-03-18 22:28] bcolloran commented on #1618
@wlach do you see this on FF and Chromium? Dragging scrollbars seems to work on FF ubuntu for me, but not on chromium

[2019-03-18 22:41] wlach commented on #1618
It's broken on both for me (using Fedora). On Mac it appears to work on Firefox (Nightly) but not on Chrome.

Very strange.

[2019-03-19 02:39] bcolloran commented on #1634
"iomd", "iodoc"

[2019-03-20 02:51] hamilton commented on #1594
@bcolloran can we close this issue or repurpose it?

[2019-03-20 02:57] hamilton commented on #1592
I think there are other use-cases here other than revisions, but perhaps another solution can answer the user story I'm interested in. This is a problem I have had re: autosave. I encourage y'all to let the idea marinade in the refrigerators of your minds. I'm not convinced that if it is a modal thing is bound to cause confusion if we make it clear you've disabled autosave in the header message, a

[2019-03-20 03:30] bcolloran commented on #1594
ah yes, this is done via #1597, thanks for catching that hamilton!

[2019-03-20 03:30] #1594 closed

[2019-03-20 18:24] PythonLinks opened #1653 "You have a gorgeous logo"
But it is only available as a PNG file.  Any chance of getting an SVG version?

Thanks
Chris

[2019-03-20 19:13] bcolloran commented on #1653
Thanks @PythonLinks. funny, we've been talking about the need for a "real" logo for more than a year (#267) :-)

in any case, svg is here: https://github.com/iodide-project/iodide-graphics/blob/master/iodide-sticker-2-paths.svg

[2019-03-20 19:13] #1653 closed

[2019-03-21 16:02] PythonLinks opened #1657 "How to use the Docker Image?"
###Short summary of the bug.

There is a docker container for iodide.
https://hub.docker.com/r/mozilla/iodide/tags

But no instructions on how to start it.

So I tried copying and modifying the pyodide/run_docker script.

 #Please include the IODIDE version number where you found the bug

MASTER

### What I Did
Tried to get the iodide dockerfile running.

### code sample or exact steps that causes

[2019-03-21 16:45] bcolloran commented on #1653
(oh also, just out of curiousity: why do you want an svg version in particular? :-) )

[2019-03-21 16:57] hamilton opened #1658 "the notebook revisions list on the server needs time stamps"
HH:MM:SS

[2019-03-21 17:09] hamilton commented on #1658
for reference, this is an example of what i mean.

https://alpha.iodide.io/notebooks/341/revisions/

It's impossible to do any real forensics on my revisions if I can't identify whjen i actually worked on these.

[2019-03-21 18:01] hamilton opened #1659 "hitting "run all cells" in a report with no code sets the kernel to "BUSY""
[This notebook](https://alpha.iodide.io/notebooks/1139/) demonstrates the issue. Hit "run all cells".

[2019-03-21 18:26] rumkin commented on #1634
I see here a general purpose text container and a particular set of languages over it. The first is a multiple markup container/document (like TAR). And I'm sure it will be used outside of Iodide. The second is Iodide's own set of languages and flags. This set should has a clear project's related name to avoid confusion and misusing. The text container could has more general/abstract name.

[2019-03-21 18:57] PythonLinks opened #1660 "Iodide Installation Documentation"
Short summary of the bug.
bin/install_pyodide does not work.

Please include the IODIDE version number where you found the bug
MASTER

### What I Did
$git clone https://github.com/iodide-project/iodide
$cd iodide
$bin/install_pyodide

### What I Expected
For it to download and install Pyodide.

### What Happened

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2019-03-21 19:01] PythonLinks commented on #1660
The reason I titled this issue  Installation Documentation is because I was just writing the installation documentation, when I got stuck on this item.  Here is the current version.

#Software Installation

The first thing you have to do is to install Node.   You can read more here:
     https://nodejs.org/en/download/package-manager/

Then git clone the iodide repository.
    $git clone https://g

[2019-03-21 19:06] PythonLinks commented on #1660
Also if I do
git clone ...
cd iodide
make
bin/post_compile

I get the error message
bin/post_compile: line 12: CACHE_DIR: unbound variable

I suspect that there is some order in which I should be executing commadns, but I do not know what it is.

[2019-03-21 19:12] bcolloran opened #1661 "run ./manage.py migrate from make shell"
per conversation with @wlach on gitter, we should run ./manage.py migrate from make shell automatically

[2019-03-21 19:59] PythonLinks commented on #1653
Thank you for asking.
I built a content management system.
http://distributed-wiki.com

It is a tree of wiki pages.

I am about to add in an Iodide content type.   (If I can figure out how to install Iodide on my linux server.)

So I need an icon for the the management view.   The management view lets you see all of the objects in one node of the tree, and rename, cut, copy, delete and paste them.

[2019-03-22 02:11] #1558 closed

[2019-03-22 13:40] wlach commented on #1661
I actually meant run it from `make up`, but it appears it already does this:

https://github.com/iodide-project/iodide/blob/master/bin/run#L31

So in fact you didn't need to run the make shell thing I suggested -- just shutting down the server and running make up should have done the job. There's probably something we could do to make it more obvious you need to restart the server / run the migrat

[2019-03-22 13:40] #1661 closed

[2019-03-22 17:38] wlach commented on #1657
Hi, the docker image on dockerhub is intended more for a specific deployment context inside Mozilla, and is not something we can really support. If you just want to experiment with an iodide server, I'd recommend starting with our local deployment instructions here:

https://iodide-project.github.io/docs/local-dev/

[2019-03-22 17:38] #1657 closed

[2019-03-22 17:44] wlach commented on #1658
Longer term we should probably try to unify the revisions list view on the server with the one inside the client, but this seems like a logical improvement.

The code to change is here:

https://github.com/iodide-project/iodide/blob/4ef000d1c936bd3fedc9316822ee0dc07aebc435/src/server/pages/revisions-page.jsx#L207

The local revision formatter uses this code to format the date in the format @hamilt

[2019-03-22 17:58] wlach commented on #1660
That script isn't meant to be run standalone,  it's meant to be run by webpack:

https://github.com/iodide-project/iodide/blob/master/webpack.config.js#L178

I'd recommend reading through the instructions on getting a local development environment going:

https://iodide-project.github.io/docs/local-dev/

[2019-03-22 17:58] #1660 closed

[2019-03-22 21:39] bcolloran commented on #1661
(hmm fwiw, i did kill my server and re-run `make up`. i've never had a problem with that before, so hopefully this was a one-off)

[2019-03-22 23:53] bcolloran commented on #1132
closing this b/c our previous strategy for export is not going to be revived. when we look at export again, it will essentially be green field, so this version of this issue won't be relevant.

[2019-03-22 23:53] #1132 closed

[2019-03-22 23:57] bcolloran commented on #1100
@wlach @openjck -- did we complete this part of the redash story, or are any of the current PRs relevant?

[2019-03-23 15:40] hamilton commented on #1637
@filips123 any progress on this front?

[2019-03-23 15:41] hamilton commented on #1620
This was fixed by removing the large number of circular dependencies in a recent PR.

[2019-03-23 15:41] #1620 closed

[2019-03-23 15:44] hamilton commented on #1461
@mdboom Is it possible to just change the deployment for the docs to the latest version of the `production` branch of iodide? That'd sync up everything.

[2019-03-23 15:46] filips123 commented on #1637
@hamilton I currently don't have much time, but I will continue working. I contacted author of PHP In Browser about questions for return value and level 2.

[2019-03-23 18:08] sdwfrost commented on #1637
Has anyone made a plugin for Typescript? Happy to give it a go, but dont want to duplicate effort

[2019-03-23 19:02] hamilton commented on #1637
No one to my knowledge has done so! A typescript plug-in would be welcome.

On Sat, Mar 23, 2019 at 11:08 AM Simon Frost <notifications@github.com>
wrote:

[2019-03-24 03:06] wlach commented on #1100
We wound up addressing the redash story in a slightly different way (see #1642), as it turns out that one can't really just POST to iodide from a 3rd party web service on the client side and expect to have it work. We should investigate how services like https://codesandbox.io/ have made this story work e.g. from the material ui docs: https://material-ui.com/getting-started/usage/

I'd say this is

[2019-03-25 04:59] hamilton opened #1670 "uncaught error in eval frame re: assemblyscript_demo notebook"
[This notebook](https://alpha.iodide.io/notebooks/1234/) demonstrates that, when you load this assemblyscript plugin, Iodide hangs.

In the devtools console, I see:

[code]

Regardless of why the error is being thrown (something to do with the plugin, obviously) we need to make sure to catch it in the eval.

/cc @sdwfrost (it's his notebook)

[2019-03-25 05:20] hamilton commented on #1670
Apologies - noticing this was brought up in the list. Will be good to track the bug at any rate.

[2019-03-25 07:04] SJasoria commented on #1658
Hi!
I'll take up this bug if no one else is hacking on it

[2019-03-25 15:08] hamilton commented on #1658
@SJasoria feel free to take this one

[2019-03-25 17:19] bcolloran commented on #1100
hmm it looks like it might actually *not* work even from the material docs -- if you edit the code and then open in codesandbox, your edits are lost. i wonder if codesandbox makes you set up stock examples on their side and just gives an embed link

[2019-03-26 00:07] #1593 closed

[2019-03-26 04:04] bcolloran opened #1673 "EXPLORE/REPORT button should just be one component"
the explore/report button is currently actually two components. it should really just be one component that toggles its text+appearance, because it's conceptually just one thing, and not moving it during the transition will also fix a tooltip bug

[2019-03-26 21:05] wlach commented on #1287
this is done now

[2019-03-26 21:05] #1287 closed

[2019-03-27 01:44] #597 closed

[2019-03-27 22:39] wlach opened #1680 "Should detect somehow if no longer logged in"
We should detect somehow if the user's session has expired, or we otherwise can't save for that reason. Right now we claim "we'll keep trying" which isn't really true (if the user manually logs in elsewhere, it will work, but that's pretty obscure...)

[2019-03-27 23:29] wlach commented on #1569
(1) and (3) now implemented, so only (2) remains. Have a WIP for that locally.

[2019-03-28 18:33] #1659 closed

[2019-03-28 19:45] bcolloran opened #1682 "need better ux for sharing a specific version of a notebook"
perhaps specify a slug on a certain notebook

[2019-03-28 19:46] bcolloran opened #1683 "annotate revisions (add notes and name)"

[2019-03-29 05:46] hamilton opened #1686 "arrayBuffer fetch type not documented in the fetch chunk section of the docs"
~Array Buffers are pretty common response formats for `fetch` calls in JS. At the moment the closest we have is `blob` which requires some gymnastics to get into the right format. Critically, I think this would prevent us from exploiting some of the more interesting binary-based data representations we care about, including apache arrow tables.~

~This would make a really great first issue, since

[2019-03-29 07:24] bcolloran opened #1689 "move fetch chunk parsing/logic to editor and handle local fetch on editor side"
it occurs to me that, following from the work i did recently to move a bunch of logic for managing evaluation to the editor, we have an opportunity to simplify fetch chunk evaluation (and shrink the eval frame even further) by:
- moving the parsing logic back to the editor
- in the case of "local" fetches, initiating the fetch from the editor side and passing down the file blob/text/whatever witho

[2019-03-29 23:08] hamilton opened #1691 "while working on a notebook on alpha, I periodically told I am looking at an older version"

[2019-03-30 07:45] #1085 closed

[2019-03-30 07:45] #1635 closed

[2019-03-30 16:52] PythonLinks opened #1693 "Http2 Trouble + compliments."
So first of all my compliments on this newest release.
I love that you organized the src directory into
(editor  eval-frame  server  shared).  Just 4 items.
Now it all makes sense to me.   The previous version, I never knew where to look for stuff.  This is much much better.

Next compliment, I was having a huge problem with it secretly loading some file or other.  After searching for a day, I wen

[2019-03-30 21:48] hamilton opened #1694 "definitely-staging.iodide.app not in ALLOWED_HOSTS?"
As of right now `definitely-staging` is not usable.

![Screen Shot 2019-03-30 at 2 46 52 PM](https://user-images.githubusercontent.com/95735/55282107-c0b68700-52fa-11e9-893a-2549f67b02f9.png)

[2019-03-30 21:54] hamilton opened #1695 "this.props.userDefinedVarNames not defined"
This error occurs on `master` when moving the panes around. Probaby a result of the file reorg, and I imagine probably an easy fix.

[2019-03-31 00:36] hamilton opened #1696 "the server needs to fill out appropriate metadata in head in the notebook template"
You'll notice this if you post a notebook link on Twitter, slack, etc. - there is no preview to be had. We can easily provide additional metadata in the header template, making it easier to index Iodide.

Once we have other forms of notebook metadata (description, tags, representative image, etc.) those can also be added.

[2019-03-31 05:29] #1695 closed

[2019-03-31 15:18] PythonLinks commented on #1693
Okay, that was my mistake.
On a clean install I had to change the url.
I managed to change it to http2, instead of https.
Since i have never had to deal with http2, I was quite confused, and looking in all the wrong places.

My apologies.  In any case the compliments still stand.
Chris

[2019-04-01 12:28] PythonLinks opened #1701 "Iodide + Nginx Href = false"
Short summary of the bug. Please include the IODIDE version number where you found the bug - if you are just running locally (building for dev or prod) you can put MASTER

### What I Did
I installed the newest MASTER version of Iodide.
Changed the port and url.  Built it.
I fired up an NGINX server.  You can see my NGINX config file at the bottom of the page.
It has the commands to define the WASM

[2019-04-01 16:48] bcolloran commented on #1693
glad you figured it out, and thanks for the compliments :-)

sounds like we can close this issue

[2019-04-01 16:48] #1693 closed

[2019-04-02 00:29] jeffmcwhirter opened #1702 "Add outputhandler to a plugin definition"
e.g.:
%%js
function processLispOutput(r) {
if(r.val) return r.val;
return Utils.formatJson(r);
}

%% plugin
{
"languageId": "lisp",
"displayName": "Microtalk Lisp",
"url": "https://ds604.neocities.org/js/microtalk.js",
"module": "MICROTALK",
"evaluator": "evaluate",
"pluginType": "language",
"outputHandler":"processLispOutput"
}

[2019-04-02 02:58] hamilton commented on #1694
This appears to have been fixed. Perhaps it was just a passing hiccup!

[2019-04-02 02:58] #1694 closed

[2019-04-02 09:20] PythonLinks commented on #741
+1.
I just read all of the issues, this is my favorite one.
(After the one I posted of course!)

[2019-04-02 12:29] PythonLinks commented on #1701
Problem Solved.

Every notebook has to have the noteookInfo JSON available.

At the bottom of this page is my iodide.dev.html file.
That is after running npm run start.
No notebook info.  So it crashes.

I guess that means that people are not using the npm run-and-serve.
Everyone is focussed on the Django Server.

But think about the market.  The big competitor is Jupyter Notebooks.  For that you

[2019-04-03 00:18] hamilton opened #1707 "fetch chunk no longer halts further evaluation on error"
tested on both alpha and definitely-staging.

[2019-04-03 15:21] hamilton commented on #1421
I had the idea of `alt+up` + `alt+down` this morning, which is unused, and is close to where the fingers are naturally.

[2019-04-03 15:23] hamilton commented on #1421
Additionally, maybe this keybinding could also be used in the console to get to the next / previous evaluated selection without having to hold the arrow keys up or down. I've found this to be a rough edge, trying to get past a big code chunk in my history to get to a smaller one.

[2019-04-03 15:26] teonbrooks commented on #1421
i like it. these are similar keybinding with jupyter (assuming alt and command are the same).

[2019-04-04 21:04] wlach commented on #1691
Could you be more specific about when/how this happens?

[2019-04-04 21:57] hamilton commented on #1691
@wlach I'll try to figure out how to reproduce! It _seems_ random but I doubt it is.

[2019-04-05 18:35] wlach opened #1710 "Should only show notebooks on the front page that have been changed in some interesting way"
Right now the "firehose of notebooks" on alpha.iodide.io is dominated by notebooks which are forks of existing ones, with no changes:

![image](https://user-images.githubusercontent.com/20569/55648590-bc80e280-57ae-11e9-84f9-8377eacf9429.png)

I would propose a simple changes to make it much more likely that the information will be useful/interesting:

1. Add a boolean `user_titled` field to the n

[2019-04-05 18:53] wlach opened #1711 "Should use smaller version of user icons in main view"
On the front page, we currently get github and gravatar images using their native sizes, which are rather large (80x80 in the case of gravatar, up to 500x500 in the case of github)

We get the URL here:

https://github.com/iodide-project/iodide/blob/b45ecdc126a2db79cba30f3cd9eb5ceba2e1b6c4/server/views.py#L21

(the part of the query where we fetch the avatar URL is `owner__avatar`)

And render it

[2019-04-06 03:29] jeffmcwhirter opened #1712 "Add a depends member to the plugin definition"
Posted this on gitter but here it is as an issue.

A suggestion - add a depends member to the plugin definition that enables the import of other JS or CSS libs, e.g..:
{
        "languageId": "plantuml",
	"displayName": "PlantUml",
        "codeMirrorMode": "",
        "keybinding": "x",
        "url": "https://raw.githubusercontent.com/six42/iodide-plantuml-plugin/master/src/iodide-plantuml-plugi

[2019-04-08 16:40] bcolloran opened #1719 "need to make sure state updates only affect correct components"
in React DevTools, if you enable "highlight updates" and take just any notebook action, you'll see that virtually _every_ component in the notebook rerenders (see https://reactjs.org/docs/optimizing-performance.html#avoid-reconciliation and https://blog.logrocket.com/make-react-fast-again-part-3-highlighting-component-updates-6119e45e6833 for the React DevTools feature)

(importantly, react devtoo

[2019-04-08 16:53] bcolloran opened #1720 "react devtools need to be able to connect to the eval-frame"
related to #1719 -- we need to be able to connect to the eval-frame with react devtools to monitor perf. we might try this: https://github.com/eddyerburgh/react-dev-tools-iframe-webpack-plugin
or even adapt the code directly: https://github.com/eddyerburgh/react-dev-tools-iframe-webpack-plugin/blob/master/index.js

it looks like this code might overwrite the variable that allows react devtools to

[2019-04-08 17:10] bcolloran opened #1722 "should user-specified reps use the Chrome custom object formatter protocol?"
in particular, the use of a restricted subset of html tags seems quite sensible. it also feels sensible to take cues from chrome's devtools team in general -- learn from the people who have thought about a problem most, ya know?

https://docs.google.com/document/d/1FTascZXT9cxfetuPRT2eXPQKXui4nWFivUnS_335T3U/edit

https://medium.com/@tomsu/devtools-tips-day-10-custom-formatters-58ee46e640f9

[2019-04-09 00:27] bcolloran commented on #1710
Would it be possible to check how many revisions a notebook has, and only show notebooks with some number of revisions? In that case, we could set a higher threshold -- e.g., 10 revisions would indicate that someone was in the notebook for at least a five minutes and made several changes (even if they didn't get around to changing the title).

if we do this, we could just use the existing data wit

[2019-04-09 01:07] wlach commented on #1710
That could work, it would be an aggregation query and wouldn't be too terribly slow. However I think there are a few reasons why it would be useful to do it this way:

1. We could key certain user interface behaviour off of whether the title has ever been changed or not (e.g. we could default to blanking out the title altogether when the user clicks on it if they never explicitly set a title and t

[2019-04-09 14:32] teonbrooks opened #1725 "[Feature Request] intercept backspace button press outside editor"
In Jupyter Notebook, if you try to hit backspace outside of the cell, it intercepts this action with a prompt to ask if you want to navigate from the page. The default behavior of backspace within a website is to navigate to previous page. This might be accidental in the context of a notebook so we can launch a modal to ask the user if they are sure they want to navigate away.

below is an example

[2019-04-09 17:07] wlach commented on #1601
Sorry I meant to comment after reopening but got distracted:

#1698 fixed an aspect of this, but I would also like to be able to persist links/state across reloads of the report view. e.g. something like this should work for our athena query dashboard:

https://data-iodide.stage.mozaws.net/notebooks/22/?viewMode=report#wlachance@mozilla.com

This would require some things which are rather involved

[2019-04-09 18:05] teonbrooks commented on #1601
ah, gotcha, that makes sense, yeah @hamilton and I chatted about that as well. and i agree, that would be super useful and very compelling

[2019-04-10 00:01] louisabraham opened #1728 "Syntax coloring doesn't work"
Hi, I'm the maintainer of [domical](https://github.com/louisabraham/domical)
I just updated my plugin to work with the latest version.
I'm trying to get the syntax coloring to work but I have no idea why it fails: https://alpha.iodide.io/notebooks/1627/

[2019-04-10 00:06] bcolloran commented on #1728
Oops, that is on us @louisabraham -- it broke a while back (https://github.com/iodide-project/iodide/issues/1279). I _think_ it should be a pretty quick fix. I'll take look.

[2019-04-10 17:49] rafrombrc commented on #1710
I've started on this... unless someone feels strongly otherwise, I'm gonna just do the "only show queries that have >=10 revisions" as a starting point, since that addresses the original pain point, doesn't require a data model change, and is the least amount of work.

@wlach would you be able to add me as a contributor so I can claim this issue, or at least assign it to me so toes don't get stepp

[2019-04-10 18:31] wlach commented on #1710
Sure, that sounds like a reasonable place to start. @rafrombrc -- I added you as a collaborator on this repo.

[2019-04-11 10:41] PythonLinks opened #1733 "SHIPPING A CONTAINER (Problem + Solution)"
Under the current system, for every installation, you have to  edit the domain name and
rerun “npm run build-production”.  That makes it unreasonable to ship a docker container with Iodide, because the end user does not want to do that.  They want the container to just work.

commit c3744fa42244cca44a1d7b36f9dc8689f923fbca
Author: bcolloran <bcolloran@mozilla.com>
Date:   Sat Mar 30 22:29:27 2019

[2019-04-11 16:44] wlach commented on #1733
I don't think shipping an iodide docker container is a priority just at the moment -- a working iodide environment has a large number of additional dependencies (e.g. a database) which need to be available.

Given the resources we have available, I think our focus will have to be on the current public site (alpha.iodide.io) and our internal Mozilla server -- we are welcome to helping/assisting peo

[2019-04-11 16:44] wlach commented on #1733
I don't think shipping an iodide docker container is a priority just at the moment -- a working iodide environment has a large number of additional dependencies (e.g. a database) which need to be available.

Given the resources we have available, I think our focus will have to be on the current public site (alpha.iodide.io) and our internal Mozilla server -- we are welcome to helping/assisting peo

[2019-04-15 15:19] teonbrooks opened #1743 "Unable to continue editing when notebook owner makes revisions"
Short summary of the bug. Please include the IODIDE version number where you found the bug - if you are just running locally (building for dev or prod) you can put MASTER
current state of Iodide at alpha.iodide.io

### What I Did
I was playing around with a notebook and while doing so the owner of the notebook edited it. it locked my ability to continue editing at that state in the notebook.

code

[2019-04-15 17:31] wlach commented on #1696
@rafrombrc @robhudson this would be another interesting one to look at, if you're looking for a diversion.

[2019-04-16 20:16] mdboom opened #1746 "notebook ownership information in redux store is not updated appropriately when notebook is forked"
### What I Did

- Opened https://definitely-staging.iodide.io/notebooks/26/
- Click "copy to your account"
- Run the first cell:
[code]
- Got error `"only the owner of this notebook can save files"`

### What I Expected

I could save files to the forked copy of the notebook.

[2019-04-16 20:17] mdboom commented on #1746
Note and/or clue: Reloading the new fork seems to resolve the issue.

[2019-04-16 20:18] hamilton commented on #1746
Got it. It sounds like `state.notebookInfo` & family is not updating when the notebook is forked, which would cause that error to be thrown.

[2019-04-17 06:16] renedlog opened #1748 "A value renderer encountered an error."
### What I Did
code sample:  https://alpha.iodide.io/notebooks/300/

Steps:
Run Full Notebook -> Workspace -> Expand pyodide object -> "A value renderer encountered an error."

### What I Expected

Do not allow expansion or do render an info why it cannot expand (catch error).

### What Happened

Error msg

### (if applicable) notebook that reproduces bug
https://alpha.iodide.io/notebooks/300/

[2019-04-17 09:14] frastlin opened #1749 "Add Screen Reader Support to the Editor"
I ran the [Example application](https://alpha.iodide.io/tryit/) in Firefox using [NVDA 2019.1.1](https://www.nvaccess.org/download/)
and when I enter edit mode (or focus mode) in the editor, NVDA just reads "blank" when arrowing up and down the content. NVDA reads the content in brows mode, but it is not possible to edit text in brows mode.

Editors such as MCE, Google Docs, and Monaco work perfec

[2019-04-17 17:03] hamilton commented on #1749
Thanks for the issue @frastlin! Moving to Monaco is on our immediate roadmap, which will solve this issue. We are tracking this issue in #1629, and will take your issue as yet another sign that we need to get this right ASAP so users with screen readers can work in the editor. I'm going to close this issue in favor of the earlier one.

[2019-04-17 17:03] #1749 closed

[2019-04-17 17:07] frastlin commented on #1629
I am in support of this move and can't wait until it gets finished!

[2019-04-18 17:07] andresn opened #1753 "pyodide - requests module is not available"
Any chance you'll add this? I'm looking to bring in data from Google Sheets.

[code]

[2019-04-20 03:02] wlach opened #1755 "Support accessing /api/ endpoints using jwt authentication"
To support the internal server use case, @jezdez had the idea of using https://github.com/davesque/django-rest-framework-simplejwt to allow users to get a token which allows accessing the iodide api's with a known expiry (unlike the django session authentication, which randomly times out due to the vagaries of openidc).

The server-side implementation of this is likely to be very similar to the au

[2019-04-22 17:31] bcolloran opened #1760 "validate _all_ API args, break out API arg validation in #1703 into a little library that we can use to"
following from @hamilton's nice file API argument validation in #1703, we should apply argument validation to all of the iodide API. in the process, we should break the argument validation into proptypes-style helper function

see: https://github.com/iodide-project/iodide/pull/1703#discussion_r274200088

[code]

[2019-04-29 14:49] hamilton opened #1773 ""delete notebook" on server appears to be 404ing now"
This was likely introduced by a recent change. I think it'll be an easy fix.

[2019-04-29 14:50] #1102 closed

[2019-04-29 16:47] #1710 closed

[2019-04-29 23:48] hamilton commented on #1686
This was actually closed in a recent PR (that was much bigger than this small issue) but our docs have not been updated accordingly. I'm going to update this to say we need to add to the docs.

[2019-04-30 01:30] hamilton commented on #1450
@bcolloran do you think at this point we've effectively cleaned up the message passing code?

[2019-04-30 01:35] bcolloran commented on #1450
not really. it's not on fire ATM, but we still haven't done anything as nice as what you requested in that comment a while back, which i think remains a good thing to shoot for. it's still messy and could use clean up, so we can keep this open to track the idea behind your comment... but i think we share the sentiment that it's not a high priority

[2019-04-30 04:46] #1773 closed

[2019-04-30 13:43] wlach commented on #1743
I feel like maybe we should just insist that a user log in and fork if they want to modify another user's notebook (i.e. anything other than `/tryit/`), at least for right now. It's really not a lot of extra trouble for the user and lets us avoid thinking about a whole host of potential issues. Glitch does basically just this and it seems to be fine

@hamilton @bcolloran -- does this make sense?

[2019-04-30 14:16] #1658 closed

[2019-04-30 16:30] ctmattice opened #1778 "dependency error on master"
Short summary of the bug. Please include the IODIDE version number where you found the bug - if you are just running locally (building for dev or prod) you can put MASTER

### What I Did
ran -> git pull origin master
for my local copy.

code sample or exact steps that causes the bug
make build

### What I Expected
completion without errors as other builds

explanation, imgs, etc.

### What Happene

[2019-04-30 16:52] bcolloran commented on #1743
i don't think we should enforce such a strict limitation on editing without login, and esp not while github is our only login provider. i still think one of our key value props is that you can just show up at iodide.io and start hacking on another person's work and playing with it without needing to login -- it's a Known Thing that logging in a barrier that keeps people from engaging with products

[2019-04-30 17:04] wlach commented on #1743
So Glitch gets around that by letting anonymous users fork projects (which auto-expire after 5 days). Might be something for us to consider.

[2019-04-30 17:55] wlach commented on #1569
Note to self: don't have two lists of things to do in the same issue. :) Going to finish up (2) today.

[2019-04-30 18:28] hamilton commented on #1743
I think we should in the meantime just make sure users don't lose their work right now by not disabling editing if someone is playing with someone else's notebook for any reason. Seems like the lowest-hanging fruit.

Long-term, I see merit to the anonymous forking workflow, but I understand its a bigger engineering effort and we'll have to make some decisions around that (eg are file uploads allow

[2019-04-30 20:06] hamilton commented on #1746
Seems like there's more at play here. I have a branch that fixes this as I expected, but loading within that same page does not work (I get a 404). Will have to dig a bit deeper to see why.

[2019-04-30 21:16] hamilton commented on #1585
This was fixed w/ the new data table PR

[2019-04-30 21:16] #1585 closed

[2019-04-30 22:12] hamilton commented on #1396
I don't think there is genuinely any way for us to detect a CORS issue from the notebook itself given the sandboxing. As such, I might recommend we do something that React does – in the error message, provide a link to some additional documentation about what might have caused the `NetworkError when attempting to fetch resource` message, and they can click on the link and we can put the CORS issue

[2019-04-30 22:13] hamilton commented on #1396
(I see we already have a CORS Problems section in our docs, maybe just link to that)

[2019-04-30 22:30] bcolloran commented on #1396
yeah that might be about as good as we can do. sounds reasonable to me.

[2019-05-01 15:42] wlach commented on #1778
@ctmattice I'm pretty confused, are you running the instructions here:

https://iodide-project.github.io/docs/local-dev/

The python parts of iodide are meant to be run using docker-compose locally. Other configurations (e.g. trying to use the local python environment) explicitly are not supported. Going to close this for now, reopen if I'm missing something.

[2019-05-01 15:42] #1778 closed

[2019-05-01 16:22] vadimkantorov commented on #1686
I've just tried out `arrayBuffer` mode on `definitely-staging.iodide.io`: the `arrayBuffer` keyword is not hightlighted as is `blob`

[2019-05-01 16:26] vadimkantorov commented on #1686
Also there seem some correctness issues: https://definitely-staging.iodide.io/notebooks/37/ (the new way returns some bad bytes, the old blob+FileReader way works fine)

[2019-05-01 16:32] hamilton commented on #1686
Yes, syntax highlighting hasn't been implemented quite yet on `arrayBuffer` - thanks for catching that. Should be easy to add.

Re: your example, you would still need to wrap the output of the `arrayBuffer` in `Uint8Array`, right? That particular conversion is not automatic w/ the fetch chunk type. All `arrayBuffer` does is effectively gives you `fetch(url).then(r=>r.arrayBuffer())` so you would p

[2019-05-01 16:36] vadimkantorov commented on #1686
at least on Python's side both seem to have the same type:
[code]

[2019-05-01 16:38] vadimkantorov commented on #1686
And even if this is right, the task of binary dataset loading is so common (given super-slowness of pandas and csv parsing), that there should be a way without three different magics: `fetch`, (tricky) `js` and `py`

[2019-05-01 17:02] hamilton commented on #1686
It's not really about type. Your two examples aren't the same because in one you're doing an additional coercion to `Uint8Array`. `arrayBuffer` returns an array buffer, _not_ a typed array. I performed the additional `Uint8Array` call as you did in the `blob` example and it seems to work as expected (no error, that is).

[2019-05-01 17:03] hamilton commented on #1686
I agree this can be potentially confusing to users, though, so we'll have to (1) provide some example notebooks to make it clear how to do these sorts of things and (2) think a bit more about how to smooth out the process.

[2019-05-01 17:08] vadimkantorov commented on #1686
Maybe an extra fetch type `bytes` or `binary` (that would be convertable to uint8)?

[2019-05-01 17:10] hamilton commented on #1686
Yeah, that's not a bad idea, and quite simple to implement. To be frank the majority of time I've used array buffers has been loading data that requires `Uint8Array` (arrow, etc.) so I feel your pain. I'll file a separate issue for that one and chat w/ the team about it.

[2019-05-01 17:11] vadimkantorov commented on #1686
Meanwhile, should `js.Uint8Array.new(js.myarraybuffer)` theoretically work? (once `import js` + `__getattr__` PR lands)

[2019-05-01 17:13] hamilton opened #1786 "proposal: binary fetch type"
Inspired by the thread on #1686. It is very common to load binary data (pickled objects, arrow data frames, etc.) that need to get put through `Uint8Array`, that it might make sense to have an additional fetch type called `bytes` or `binary` that automatically does it so users don't have to deal with an additional implementation detail.

This would be as simple as just wrapping `fetch(url).then(r=

[2019-05-01 17:24] hamilton commented on #1686
In theory that should work!

[2019-05-01 17:30] vadimkantorov commented on #1686
How did you do the trick with `new Uint8Array(...)`?

For me the conversion hangs forever:
[code]

[2019-05-01 17:36] hamilton commented on #1686
I did the following and didn't experience any hang (though I haven't verified the data at all):

[code]

[2019-05-01 17:40] vadimkantorov commented on #1686
The difference is that you have `var`. Without `var` it hangs forever (at least in Chrome)

[2019-05-01 17:48] hamilton commented on #1686
Yes, just verified that in FF. That is most certainly a javascript language quirk! Yet another reason why having a `binary` fetch type would make things easier.

[2019-05-01 17:53] vadimkantorov commented on #1686
If it's consistent across browsers it'a a nastier quirk! Probably worth a documentation note somewhere :) or a deeper investigation (does it repro outside Iodide context with pure JavaScript?)

[2019-05-01 18:02] bcolloran commented on #1786
proposal sgtm hamilton!

qq for @mdboom -- in your pyodide blog post you mention that there is automatic conversion from python `bytes` to js `UInt8ClampedArray` -- would UInt8ClampedArray preferable for some reason? (i don't know the difference)

i think the "bytes" terminology might be better than "binary" to maintain that parallelism. @mdboom do happen to know if "bytes" is used this way in oth

[2019-05-01 18:05] mdboom commented on #1786
The `UInt8ClampedArray` is required be HTML canvas to display pixels.  But I don't think the distinction matters much here -- both forms convert implicitly and efficiently from Javascript to Python.

The term `bytes` would be consistent with Python's use of the term, so I'm happy with that.

[2019-05-01 18:06] hamilton commented on #1686
I can say pretty confidently that it's a language quirk, and all JS engines implement it because whatever it's doing, it's baked into the agreed-upon ECMAScript spec. We are basically using the vanilla `eval` in JS, which means that whatever engine your browser comes with, it uses to run the javascript.

Javascript is a strange language in a lot of ways. Most js linters would throw an error if you

[2019-05-01 18:07] vadimkantorov commented on #1686
Also a question: is it meaningful to convert `arrayBuffer` as Python's `memoryview` (without a specified typed array conversion)?  What's the semantics?

[2019-05-01 18:12] vadimkantorov commented on #1686
I agree about having `var`'s are good (but it wasn't intuitive what is scoping of code cells, should I create "global" variables or if `var` is fine)!

Yet ```a = new Uint8Array([1,2,3])``` works without hang, so there is something about the interplay with the `arrayBuffer`.

[2019-05-01 18:20] mdboom commented on #1686
An array buffer is a buffer of bytes, with no real semantics beyond this.  So a Python `memoryview` is a pretty close analogy.  To interpret it as anything else on the Python side, you'd cast to `bytes` or a numpy array with a specific dtype or something...

[2019-05-01 18:22] vadimkantorov commented on #1686
Confused by the `memoryview` type I tried to pipe it in BytesIO (as you've seen), but it seemed that it's not a simple array of bytes, otherwise it'd have worked and Uint8Array conversion would not have been needed.

Also the following fails (with the same old numpy.load error):
[code]

[2019-05-01 18:25] #1686 closed

[2019-05-01 18:29] vadimkantorov commented on #1686
@hamilton Should I create a separate issue for the last snippet?

[2019-05-01 18:33] hamilton commented on #1686
@vadimkantorov that sounds good. It sounds like a pyodide-specific issue so I would file it in that repository specifically.

[2019-05-01 18:38] vadimkantorov commented on #1686
thanks for assistiance!

( created https://github.com/iodide-project/pyodide/issues/406 )

[2019-05-01 18:49] mdboom opened #1787 "Displaying large typed arrays to the console hangs"
Unlike regular Arrays, displaying large typed arrays to the console seems to hang Iodide definitely.

### What I Did

`new UInt8Array(40000000)`

`new Array(40000000)` works and is correctly truncated.

[2019-05-01 18:49] mdboom commented on #1686
I think the hanging comes not from a language quirk but from trying to display a really large typed array to the console.  I filed #1787 for that.

[2019-05-01 18:52] #1707 closed

[2019-05-01 19:02] vadimkantorov commented on #1786
@hamilton Maybe after https://github.com/iodide-project/pyodide/pull/407 this is not needed :) Though `bytes` still reads more intuitive than `arrayBuffer` (even in case `arrayBuffer` conversion to memoryview is fixed)

[2019-05-01 19:07] hamilton commented on #1786
@vadimkantorov possible, but not every language we hope to have compiled to wasm has this affordance (including JS), so we'll still likely implement. Glad to see iodide-project/pyodide#407 might unblock your notebook.

[2019-05-01 19:29] bcolloran opened #1788 "use immer for immutable store"
not something to undertake right now, but leaving this as a note-to-self since i've been looking into this -- immer looks like the best path for us for moving towards immutable state, much easier than immutable.js

https://github.com/immerjs/immer
https://egghead.io/lessons/redux-simplify-creating-immutable-data-trees-with-immer

[2019-05-01 20:15] #995 closed

[2019-05-02 18:24] hamilton commented on #1686
this is so obvious in hindsight! Thanks @mdboom.

[2019-05-03 14:10] vadimkantorov opened #1801 "proposal: package versions and git revisions"
It would be useful to know the git revision for packages used to build iodide, e.g. iodide's git revision and pyodide git revision (to know when to test some fixes at https://definitely-staging.iodide.io ). Maybe a "Help" ui page, or some variable available from JavaScript.

e.g. in NumPy it's implemented in `numpy.__config__.show()`

[2019-05-03 19:30] joseph-long opened #1803 "Indicate loading process of `fetch`able entities"
As a quality-of-life improvement for people on slow connections, it would be nice to expose the loading progress of (e.g.) the Pyodide WASM bundle in the iodide console. (Since this cuts across two projects, I didn't feel comfortable hacking on it myself.)

I'm imagining something like this:

<img width="720" alt="image" src="https://user-images.githubusercontent.com/31168267/57160961-2f29b180-6d9

[2019-05-04 14:37] vadimkantorov commented on #361
Is there an up-to-date way of running a JSMD from a GitHub Gist or a GitHub repo? (public ones to begin with)

It'd be very useful, many people are already quite used to trust their code to GitHub.

[2019-05-06 14:58] #1746 closed

[2019-05-06 17:35] bcolloran commented on #1801
hmm, i think we should be able to read the iodide version at least during build and inject it as a global in webpack. is there a way to do that for pyodide at build time too? @mdboom any ideas?

[2019-05-06 17:39] vadimkantorov commented on #1801
PyTorch also includes git revision in build - like that one can construct this (iodide / pyodide).__version__ that could list all the versions and git revisions - this is useful for reporting bugs and testing bug fixes

[2019-05-06 17:47] bcolloran commented on #1801
oh, @wlach and @hamilton i recall that we do have `iodide.VERSION` available in the JS environment, but we're not setting it to anything useful... nor are we updating the package.json, which we should probably add to the version release doc,

[2019-05-07 05:18] mdboom commented on #1801
For pyodide, we already have:

From Python:  `import pyodide; pyodide.__version__`
From JS: `pyodide.version`

but obviously that's not the git hash, which should probably be added.

[2019-05-07 05:26] vadimkantorov commented on #1801
For an example, PyTorch just appends the git hash into `__version__` like `1.1.0+dfd787a`

[2019-05-07 19:21] hamilton commented on #1803
This is a great idea. We had thought about this a while back, but hadn't gotten around to it.

[2019-05-08 21:11] wlach commented on #1037
Let's close this bug, we've implemented much of it, and our discussion/thinking in this area has evolved so that much of the discussion is obsolete.

[2019-05-08 21:11] #1037 closed

[2019-05-10 18:04] shi-yan opened #1821 "is using %% for cell separator a good idea?"
I think %% in the jsmd format isn't a good choice. Both Latex and Matlab code use %% for their comment block, this could confuse a jsmd parser.

Although jsmd doesn't support them yet, the use of %% prohibits future integration. Both Latex and Matlab are huge in academia.

[2019-05-11 08:16] vadimkantorov opened #1822 "[feature request] nbviewer-like urls to access notebooks in GitHub repos and gists"
Putting iodide notebooks under version control (along with other data handling code) seems very reasonable (they are very diff-friendly!).

Proposal:
1) nbviewer-like urls to open notebooks stored in github repos / gists. In this scenario saving back isn't supported
2) (advanced) Committing back to a given single notebook file (Iodide already has GitHub authorization, and may request additional pe

[2019-05-11 15:35] vadimkantorov opened #1824 "[feature request] Execution indicator spinner in Report Mode"
There is an execution spinner in Explore Mode, but none in Report Mode. When a user opens Report Mode directly, currently there is no indication of whether exeuction has completed or how many cells have completed execution.

[2019-05-13 05:58] PythonLinks commented on #1053
And when the task completes, some notification please.
Specifically on save, ti would be great to be notified that it was saved.

[2019-05-13 17:12] bcolloran commented on #1821
hi @shi-yan, thank you for your interest in iodide!

choosing a delimiter like this is definitely challenging because of the potential collisions that might occur. I'm not sure any choice would be free from collisions (at least not any reasonable choice -- something succinct and visually clear), but we chose "\n%%" because two percent signs at the start of a line doesn't have collisions in any of

[2019-05-13 17:12] #1821 closed

[2019-05-13 19:16] bcolloran commented on #1090
menu exists, reopened #1015 to add a "clear console" button back in that menu. closing this one

[2019-05-13 19:16] #1090 closed

[2019-05-13 19:20] bcolloran commented on #1824
thanks for filing this @vadimkantorov -- we were talking about it just the other day, and i thought we already had an issue to track this, but i can't find one. oops!

related to #1087

[2019-05-13 19:27] bcolloran commented on #1053
@PythonLinks can you clarify what you need in a new issue? Do you mean you want a notification that your notebook has been saved? Because notebooks are saved automatically to the Iodide server every few seconds. Or do you mean you want confirmation of saving a file using our saving API? or something else? Thanks!!

[2019-05-13 19:38] PythonLinks commented on #1053
Great question.

It is interesting.  The problem was with my mental model.
I am an old guy.  My thinking is that disk space is expensive.  My default assumption is
that it only saves when I tell it to.  Sure I read somewhere that it saves automatically,
automatically.   But I never assimilated that information.

Plus I do things differently on the Forest Wiki.   Here let me give a
different opinio

[2019-05-13 19:39] vadimkantorov commented on #1824
this is even more important given that it’s not easy to offload python computations to a background thread and then ping-back updates on the main thread. Currently the python computation in html elements events (e.g. select’s onchanged) happens on the main thread, hangs the browser and there isn’t even a spinner

[2019-05-13 20:19] bcolloran opened #1833 "need ability to securely and privately store user secrets and/or API keys"
to let people query private data sets, we need some way to let users save API keys and other secrets to their user accounts, and allow them to inject those into data queries. For the injection bit we'll need to think through both the syntax, and the implementation WRT things like: where does the injection happen (client or server?) and can it happen securely without exposing secrets while still al

[2019-05-13 20:26] bcolloran opened #1834 "Need abiltity to save user settings"
#1833 re secrets and API keys is one use case, but there will be more:
- keybindings
- preferred pane layout
- text wrap setting
- etc?

this will require some back-end work to allow settings to be saved to the server. this part should aim to be pretty generic; maybe one generic table for storing json, and a high-level client side API.

front end stuff, OTOH, might need to be pretty specific. ther

[2019-05-13 20:36] bcolloran commented on #1822
@vadimkantorov we decided to pull back from this a while ago because some of the workflows we want to enable (like instant automatic saving) was going to be hard/impossible to implement using github as our data backend, as well as finding git to be hard to understand for beginners and frankly overkill complicated for a lot of data/science work. since our team is too small to build and maintain bot

[2019-05-13 20:37] bcolloran commented on #1803
Thanks for filing @joseph-long !

[2019-05-13 20:39] bcolloran commented on #1786
@hamilton you got this working (or added docs or something?)? is this handled to your satisfaction now?

[2019-05-13 20:45] bcolloran commented on #1719
turns out that React DevTools gives false positives with react-redux https://github.com/facebook/react-devtools/issues/1290
grrrr

hopefully this will be fixed someday. in the meantime, you can't really use the react devtools for perf profiling our app, which is sad :-(

[2019-05-13 20:49] bcolloran commented on #1712
this seems totally reasonable to me, any thoughts @mdboom @hamilton ?

we probably need to rework the plugin definition stuff at some point anyway. a few of these things are deprecated or about to be (keybinding, codeMirrorMode).

@jeffmcwhirter i think we'd welcome a PR if you want to give it a shot! :-) if so, lmk and we can discuss details here more. (if not, np)

[2019-05-13 20:51] bcolloran commented on #1702
this goes nicely with the "depends" proposal in #1712, and is also a nice idea.

PR welcome! if you're interested we can discuss details :-)

[2019-05-13 21:04] bcolloran commented on #1701
thanks @PythonLinks -- you're right, we are focused on the server. we're hoping to build up iodide.io to be something that schools can use without needing to run any kind of server whatsoever, ever a "simple" nginx server, because even that is complicated for a lot of people to set up.

also, for background: we initially started with a "simpler" file-based approach, but because of some limitations

[2019-05-13 21:14] bcolloran commented on #1634
@hamilton @wlach @mdboom @teonbrooks

I hereby formally propose that we switch to "iomd". @hamilton thank you for your thoughtful comments on the matter. in the end, i think it will continue to be handy to have a conceptual and written shorthand by which to grab this complex of ideas.

I'm also happy to just do nothing and stick with "jsmd" if we want to ignore the objection raised by that person

[2019-05-13 21:30] bcolloran commented on #1599
did we do this? @wlach i think your previous autosave PR now triggers on changes in the editor or title?

[2019-05-13 22:24] bcolloran commented on #1468
blocked by #1834

[2019-05-13 22:29] bcolloran commented on #1396
i think the best practical option is to add a message whenever there is a fetch error that we can't specify which says something like "failed to fetch resource at X. This may be a CORS issue, see the docs at Y."

[2019-05-13 22:34] bcolloran commented on #1228
blocked by #1833

[2019-05-13 22:36] bcolloran commented on #1824
oh i found it -- this is a duplicate of #1149

[2019-05-13 22:36] #1824 closed

[2019-05-13 22:36] bcolloran commented on #1149
this issue was flagged again in #1824

[2019-05-13 22:40] bcolloran commented on #1074
i think this is superseded by more recent discussions of (auto)saving/versioning/branching etc

[2019-05-13 22:40] #1074 closed

[2019-05-13 23:17] bcolloran opened #1835 "look at jspm for import of npm modules"
see https://jspm.io/
can we somehow hook into this to allow users to import modules from npm?

[2019-05-14 00:03] bcolloran opened #1836 "can we add the ability to link to headings in our docs?"
@mdboom if this is like a trivial config flag we can flip in our docs processor or something like that, it would be nice to have! :-)

[2019-05-14 16:37] openjck commented on #1634
I vote for iomd. It has a nice ring to it. 🤷‍♂

[2019-05-14 16:42] wlach commented on #1634
Yup, iomd sounds good to me.

[2019-05-14 16:43] mdboom commented on #1634
Yep.  The "branding" ties in better...

On Tue, May 14, 2019 at 12:42 PM William Lachance <notifications@github.com>
wrote:

--
Michael Droettboom
Data Engineer
Mozilla Corporation

[2019-05-14 18:31] teonbrooks commented on #1634
`iomd` sounds great. `xmd` is also good

[2019-05-14 19:31] bcolloran opened #1838 "proposal: `iodide.file.cache`? (name tbd)"
(context: discussion of "query" language plugin)

for workflows in which you need to run expensive computations or queries that you don't want to re-run when sharing a report, it is important that we have mechanisms for (a) not evaluating some code chunks, and (b) for saving and loading results of these expensive computations. currently, we have the ability to explicitly mark a chunk with `skipRun

[2019-05-14 20:23] bcolloran commented on #1634
ok, the proposal is hereby accepted. i will update the issue name and tag it as a "good first issue" in case someone want to take it up.

[2019-05-14 20:25] bcolloran commented on #1634
task to be done: change all instances of "jsmd" to "iomd" everywhere in the repo (docs, code, etc). a few big global search and replace operations, one for each of various case permutations (at least "jsmd", "Jsmd")

[2019-05-14 20:29] mdboom commented on #1838
The result variable probably needs to be the variable name as a string, since you can't replace its content in place otherwise.  That's not *bad* but a little confusing, potentially.  Alternative would be:

`result = iodide.file.cache("result.json", "json", result)`

which is also confusing.

[2019-05-14 20:31] wlach commented on #1634
Please do not work on this before I've landed #1812, otherwise I'm going to spend hours fixing merge conflicts. I'm going to untag this as a good first issue for now.

[2019-05-14 21:03] bcolloran commented on #1634
sounds good @wlach

[2019-05-14 22:37] bcolloran commented on #1838
ah, yes of course you're right. indeed, this is already how the file `load` API works. i'll update the description above.

(le sigh, no metaprogramming in js :-/ )

[2019-05-14 22:49] bcolloran commented on #1838
side note: it also possible to accomplish the current workflow using a `fetch` chunk:

[code]

[2019-05-14 23:03] bcolloran commented on #1838
oh @mdboom i just remembered (and @hamilton can correct me if i recall it wrongly) -- a `cache` function probably could not have syntax like `result = iodide.file.cache("result.json", "json", result)`, for the same reason the `file.load` function needs to take the variable name argument as a string: `cache` would be an async function, so it would return a promise rather than the final desired valu

[2019-05-14 23:19] hamilton opened #1840 "explicitly add chunk flags to evaluator calls"
Allowing chunk flags would allow language plugins to push whatever metadata they want into the evaluator itself, allowing things like this:

[code]

This should be a pretty straightforward addition – all we need to do is pass in the flags directly into the evaluator in `src/eval-frame/actions/actions.js`, lines 65 or 82 (I think).

[2019-05-14 23:43] hamilton opened #1841 "proposal: create a JS async language plugin to play with top-level await"
Working iteratively with async javascript is not always very pretty. We've built a number of workarounds that help:

1.) fetch chunks make it simple to load data from the web + from the iodide server
2.) if your return value of a chunk is a Promise, iodide awaits until the Promise resolves.

But there's probably more we can do, or at least experiment with. These aren't particularly natural ways of

[2019-05-15 00:04] hamilton commented on #1838
Yep, that's correct.

[2019-05-15 01:05] bcolloran commented on #1840
:+1:  on this proposal. trying to begin thinking through some details (ht @hamilton for discussing some of this already)

- high level thought: i think this has the potential to be very useful, but also potentially to be used in ways that make notebooks very opaque and confusing, so we want to be a bit careful, and limit these flags pretty sharply
    - my immediate hunch is that use of eval flags

[2019-05-15 06:49] bcolloran commented on #1841
thinking about this a little, and even thought it contradicts much of what i say in #1840, a natural approach would be to have e.g:

[code]

be nothing more than sugar for:

[code]

see https://alpha.iodide.io/notebooks/2327/

as in that NB, this kind of immediately-invoked async function returns a promise, and thus blocks the eval queue automatically. but also, since it returns a promise _unlike

[2019-05-15 11:24] PythonLinks commented on #1701
Thank you for that critical information.

I totally understand your thinking.  The mass market is education.  They need a solid server.

Allow me to express a different opinion.  A marketing opinion, as opposed to a developer opinion.

The educational market is a possible future market.   But it has very little money to spend.  There is no ”business model”.  Even non-profits need a business model.

[2019-05-15 13:22] teonbrooks commented on #1838
I agree, having a cache function would be useful from the user perspective and would reduce it from a two step save/load to a smarter operation. this is something I'm often dealing with (just ran a bootstrap and would like to show what was done but wouldn't need to do it every time).

[2019-05-15 17:59] bcolloran commented on #1701
thanks for the the thoughts @PythonLinks. Have you seen the blog post from a couple months back?--
https://hacks.mozilla.org/2019/03/iodide-an-experimental-tool-for-scientific-communicatiodide-for-scientific-communication-exploration-on-the-web/

That should give you some insight into who we're thinking of as our "customers" and the wrkflow issues we're trying to solve for those people.

(and just

[2019-05-15 17:59] #1701 closed

[2019-05-15 21:33] dmose commented on #1841
The main use case I have at this moment is awaiting fetches from the Bugzilla REST API.  As things stand, it just means that I have to nest things in functions that I might ideally do at the top-level.  It's not a big deal.

That said, I'm coming to the conclusion that one of the hardest things about Iodide is the unusual scoping environment, and I'd rather not see that get worse.

[2019-05-16 14:12] MayeulC commented on #727
I agree with the proposal. I looked at iodide after a high school maths teacher asked me if I knew of any way to run modern python in the browser, to make it easier on High-schoolers to perform their homework without the need for installing additional software (nor dedicated servers).

As-is, iodide could fit the bill quite well, if there was an additional "python console" tab, or any other mechan

[2019-05-16 17:01] bcolloran commented on #1637
i'm going to close this issue because it's a bit broad (and more than we can tackle in the general case), but please do feel free to file issues regarding difficulties you encounter during specific language implementations!

[2019-05-16 17:01] #1637 closed

[2019-05-16 17:02] filips123 commented on #1637
@bcolloran Maybe create some tracking system for language suggestions and implementations.

[2019-05-16 18:11] bcolloran commented on #1637
@filips123 i'm open to suggestions about how to track that, but to expand on this a little: we are a very a small, and unfortunatley we don't have the resources to respond to suggestions that we implement language X. What we _can_ do is offer support when someone from the community undertakes an implementation of language X -- if there are specific bugs or questions that come up in the process of

[2019-05-16 18:14] bcolloran commented on #727
@MayeulC -- regarding the interface, did you notice that the panes can be moved and resized? if you just want to see the editor and the console, you can drag by the tabs to arrange the view you want, and we have an open issue about toggling layouts via menu here: https://github.com/iodide-project/iodide/issues/1468

[2019-05-16 19:05] filips123 commented on #1637
Something like this would probably be good.

[2019-05-16 23:34] hamilton opened #1845 "if I upload a file using the server file uploader, the notebook file API is not aware"
This case happens if a user uploads a file using the revisions page while the notebook associated with that file is also open. The redux store on the client doesn't automatically update because we don't really do any real communication between the two. The easy solution would be to relax the check in the file API and just let the server communication explicitly tell the notebook if the file does n

[2019-05-17 10:07] vadimkantorov commented on #1822
@bcolloran Thanks for the perspective. When I have time, I'll try to build a standalone Iodide version and understand where the notebook fetch is happening :)

[2019-05-21 18:03] bcolloran commented on #1841
oh duh, also my simple proposal would not work at all if the user declares their variables. e.g.:

[code]

mapping to
[code]

would mean that the vars declared in the inner scope clobber the vars declared in the outer global scope. :-(

hmmm as i think about this more, i'm increasingly inclined to think that it'ss probably is the kind of thing that looks simple but is not, and that introduces more

[2019-05-22 02:19] bcolloran opened #1853 "fetch cell error handling bug"
[code]
should fail with a syntax error.

the current error message is not very detailed:
[code]

https://alpha.iodide.io/notebooks/2026/

this is probably not too difficult to fix. might be a good first issue.

[2019-05-22 13:46] teonbrooks commented on #1673
hey @bcolloran, I just started to look more into this. I don't see the two separate components here or I might be misunderstanding it. in `view-mode-styles-handler.jsx`, I see that there is the state management of the explore vs report view but this seems to be a part of the component above.

[2019-05-22 14:05] dmose commented on #1841
Agreed re the confusion on this implementation front.

Here's a weird question: any chance it's that somehow wrapping the md code in an ES6 module before evalling it would solve any of the existing or propose scope weirdness?

[2019-05-22 20:46] bcolloran commented on #1673
Thanks for looking at this @teonbrooks. To clarify the issus a bit:

right now we actually do have one component:
src/editor/components/menu/view-mode-toggle-button.jsx

but we import it in two places and create two instances of the component in these two places:
src/editor/components/menu/presentation-mode-toolbar.jsx
src/editor/components/menu/view-controls.jsx

In fact, the "presentation mode t

[2019-05-22 21:02] bcolloran commented on #1841
hmm, off the top of my head, i don't think they should interact. the Markdown stuff (and other code chunks) are fairly orthogonal to the JS eval scope.

[2019-05-22 23:10] bcolloran opened #1857 "notebook reducer still impure"
we didn't actually quite fix this completely a few weeks back (see #995 and #1783 ), because this reducer case is impure:

[code]

the `new Date().toISOString()` should be handled in an action creator (which we don't actually have for "NOTEBOOK_SAVED")

[2019-05-23 00:09] bcolloran commented on #1857
but also note fwiw: the string "lastSaved" only shows up in this reducer case and in the state schema, so we can actually just delete it altogether -- it's never actually _used_ anywhere (but plz double check me when you go to fix this)

[2019-05-23 01:53] teonbrooks opened #1860 "Make pyodide.open_url aware of files on server"
pyodide.open_url is the ability to fetch resources on the web. Would it be able to fetch files from the server? If so, would it be worth it?

One instance I could think of where it would be useful to fetch files on the python side is if you would like to load a script full of helper functions for your analyses.

[2019-05-23 13:12] dmose commented on #1841
I think I misspoke.  I wasn't really referring to MD stuff specifically, but all the JS stuff in Iodide.  Which is to say, I wonder if wrapping the JS code in Modules before evalling would make the scope setup less weird...  Admittedly a tangent to this issue.

[2019-05-23 16:35] bcolloran commented on #1841
to be consistent with the experience of other interactive computing tool like Jupyter, RStudio, etc, we want to make sure that code evaled by users has access to the global scope, and that variables they define "leak" into the global scope. so wrapping every evaluation in a module might make the semantics of `let` and `const` more consistent, but it would complicate the experience in general if yo

[2019-05-23 20:57] wlach opened #1862 "Disambiguate redux actions which modify notebook content / title due to a user action and ones that don't"
Per the discussion here https://github.com/iodide-project/iodide/pull/1812#discussion_r284920334, we'd like to somehow distinguish between notebook content/title changes which happen due to the user doing something (i.e. modifying the notebook) and ones that happen due to e.g. reverting to a previous revision from the revision browser. The first type should trigger an autosave, while the second sh

[2019-05-23 21:07] wlach commented on #1862
If we do this, we can also simplify to using shorthand for mapDispatchToProps in editor-mode-title.jsx: https://github.com/iodide-project/iodide/pull/1812#discussion_r286704065

[2019-05-24 05:13] j209 opened #1864 "Iodide vs jupyter"
Hi
what is different between iodide and [Jupyter Notebook](https://github.com/jupyter/notebook)?

[2019-05-24 07:15] bcolloran commented on #1864
Take a look at https://hacks.mozilla.org/2019/03/iodide-an-experimental-tool-for-scientific-communicatiodide-for-scientific-communication-exploration-on-the-web/ ,
as well as our readme. I will leave learning about Jupyter to you. A google search will turn up a lot of information to help you get started.

[2019-05-24 07:15] #1864 closed

[2019-05-26 11:49] mehmetoguzderin opened #1867 "Proposal: Custom Cell Parameters for Language Plugins"
# iodide-project/iodide
# Custom Cell Parameters for Language Plugins
## Objective
This document defines custom cell parameters that Iodide system can pipe to language plugins for evaluation. The initial version of this document does not define the API of custom cell parameters nor provides proper references to the points made in various sections.
## Motivation
Iodide makes it possible for computa

[2019-05-27 18:16] wlach commented on #1867
@mehmetoguzderin this looks interesting, were there any concrete scenarios or use cases which motivated this proposal? I think that would help with evaluation / understanding.

[2019-05-28 17:04] #1680 closed

[2019-05-28 17:04] #1599 closed

[2019-05-28 17:18] bcolloran commented on #1867
good thinking @mehmetoguzderin -- in fact, we were thinking of this also just a couple weeks ago, so we're on the same wavelength :-)

Please take a look at https://github.com/iodide-project/iodide/issues/1840

i think this issue is close enough to that one that i'm going to close this and mark it as a duplicate so that we can keep the discussion in a single thread, but you have a number of new id

[2019-05-28 17:18] #1867 closed

[2019-05-28 20:56] wlach commented on #1857
We took this code out in #1812! Woohoo

[2019-05-28 20:56] #1857 closed

[2019-05-29 21:41] wlach opened #1879 "Allow completely restricting /api/ endpoints to those with authorization"
For the internal mozilla use case, we would like to be able to restrict *any* access to /api/ to those clients with either a token or a valid session. Currently we rely on openidc auth for these endpoints but this approach doesn't work well with the ajax approach we use inside the notebook.

For this to be useful, we need #1755 first.

/cc @robotblake

[2019-05-29 21:43] wlach commented on #1755
It seems like fate would have me implement all of this.

[2019-06-04 18:23] madhur-tandon opened #1897 "[Feature Request]: Connectors to (load / save) data (from / to) cloud services"
This could possibly enable support for Iodide Notebooks to directly interact with services like Google Drive, Dropbox, Box, etc.

[2019-06-04 20:54] bcolloran opened #1899 "we should probably be using `process.env` in webpack rather than globals"
we can really be using env variables directly rather than processing them `webpack.DefinePlugin` and then treating them as global, b/c IIUC `process` is already available globally  via webpack. This would just simplify our webpack setup somewhat -- cut down some mental overhead and bring us in line with the common practice.

this should be a very simple issue to fix -- just a tasky thing where som

[2019-06-06 19:55] #826 closed

[2019-06-07 14:12] #1755 closed

[2019-06-10 19:52] wlach commented on #1634
I think I'm just going to take this one, as these large-scale refactors tend not to work well as good first bugs IME

[2019-06-10 21:45] #1634 closed

[2019-06-10 21:46] bcolloran commented on #1634
thanks for handling this will :-) now the hard work of changing habit begins...

[2019-06-11 14:15] ezzaouia opened #1924 "Provide a nice way to share data with markdown ("%% md") too without direct manipulation of the DOM"
As discussed in gitter, It would be nice to have a nice way to share data with markdown ("%% md") too without direct manipulation of the DOM.

Even better with some directives to bind data to the DOM, and manipulate it too.  If I'm thinking, something like angular/vuejs; if, for, show, hide .. etc.

[2019-06-11 14:20] wlach commented on #1924
The motivation for this came from wanting to render some pandas-generated html inside a markdown report (which I'd done previously in [this report](https://alpha.iodide.io/notebooks/139/) by using js). Some kind of syntax like this would be ideal:

[code]

[2019-06-11 17:40] #1415 closed

[2019-06-11 17:41] #1719 closed

[2019-06-11 17:51] bcolloran commented on #1689
@mdboom is working on this as part of other work on loading plugins via %%fetch

[2019-06-11 18:02] bcolloran commented on #1396
@mdboom fyi about this issue -- if it's convenient and obvious how to add this link in the error message while you're looking at the fetch code, that would be great! but don't spend a lot of extra time on it if it's not clear

[2019-06-11 18:10] bcolloran commented on #1722
kind of related to #1488 -- perhaps we should allow reps to return DOM trees, and then serialize+sanitize them to the JsonMl-like subset of the DOM that they allow.

[code]

We could warn or error in the case of disallowed tags, or/and automatically convert to invalid tags to divs.

fyi @hamilton @mdboom

[2019-06-11 21:16] wlach commented on #1862
Circling back to this.

[2019-06-11 23:40] #648 closed

[2019-06-11 23:41] bcolloran commented on #648
stale, will need a rethink when the time comes

[2019-06-11 23:43] bcolloran commented on #1418
closed by @wlach in #1927 -- export is super stale at this point, and it will need a real rethink to be useful again, so that code is deprecated for now...

[2019-06-11 23:43] #1418 closed

[2019-06-12 13:19] wlach opened #1930 "Gravatar URLs should be served over https, not http"
When not using github auth, we fall back to using gravatar to get user icons. Currently we're requesting http versions, we should be using https (the former causes mixed content warnings)

[2019-06-12 13:38] teonbrooks commented on #1711
@wlach what about adding it to the url in the middleware [here](https://github.com/iodide-project/iodide/blob/master/server/gravatar/middleware.py#L16)? is there a disadvantage adding to the server side?

[2019-06-12 14:45] wlach commented on #1711
I would lean against adding it to that piece of middleware, as some API endpoints might wind up using whatever is calculated there -- and whatever uses that may not always want 30x30 dimensions.

In general I think it's best to keep all the UI decisions in `src/` (i.e. the js/css code we compile with webpack). This makes it easier for someone to know where a change should be made in cases like thi

[2019-06-12 17:25] #1930 closed

[2019-06-12 18:28] #1879 closed

[2019-06-13 17:56] hamilton opened #1937 "what is the correct forking behavior with respect to files?"
Currently, forking does _not_ copy files. That seems like perhaps the right approach, but I can see how this might cause confusion. At any rate, the notebook client needs to have some logic to clear the `files` part of the store when a notebook is forked.

[2019-06-13 20:24] bcolloran commented on #1937
i think copying files [*] is the correct approach -- for a user to be able to fork another users work in order to experiment with it, they need access to the data associated with that notebook.

[*] this wouldn't have to be a literal file copy, but the new notebook needs to be able to access that same data, so some kind of pointer or symlink or literal copy is needed.

[2019-06-14 17:33] hamilton commented on #1937
I think this would be worth talking about more. It seems like the expected UX for forking would be literal copying, since the files may be cached data or files that are manipulated and changed / cached in the notebook, so the most conceptually simple approach would be to copy everything.

One other approach would be to give users the option of copying the files (if there are files)

[2019-06-14 17:39] wlach opened #1943 "Iodide should not hardcode server addresses"
Right now we hardcode server addresses in the iodide .js during the webpack phase of the build:

https://github.com/iodide-project/iodide/blob/b026e53cfb48d334254175562045d5f980295b43/webpack.config.js#L27

To deploy internally at Mozilla (where we use a docker container), we set the circle environment for these two variables at build time. This has a number of disadvantages:

1. If the origins ev

[2019-06-15 00:09] bcolloran commented on #1943
The domains are needed to verify the that the communications between the eval-frame and the editor come from the correct hosts. since we're pretty much all-in on the server at this point, i guess we could have django inject the correct domains when it serves the pages (as we do with other NB info) -- they'd still need to be configured in .env for each deployment, but you wouln't have to re-build.

[2019-06-15 00:59] wlach commented on #1943
On some level, yeah, we need this information to come from Django. No, I don't think it's any less secure: If you can't trust what Django is sending you, well, you basically can't trust anything. There's almost certainly a way to keep start-and-serve working with this approach, I suspect it's something we can just add to the webpack config.

I would say this is pretty much something we have to fix

[2019-06-18 15:56] Algentile commented on #1899
Hello bcolloran,

I will pick up this issue.

[2019-06-24 19:38] wlach opened #1965 "Revision browser, file downloads broken when read-access is restricted"
With @jezdez's PR #1926 landed and various fixes, read access to some previously open endpoints is now locked down on Mozilla's internal instance -- in particular file fetches (for resources uploaded to the iodide server) and the revision browser no longer work.

One of those "obvious in retrospect" things. I have a PR to fix the revision browser pending, but how to handle files (which may be refe

[2019-06-25 17:48] wlach commented on #1965
Revision browser is being worked on in #1966.

@jezdez, if you wanted to try working on the file endpoints that would be cool. It might be a little tricky: we normally download files via a fetch cell (example: https://alpha.iodide.io/notebooks/759/), so we'd need to find a way to automatically add the iodide credentials for resources fetched on the current domain. We may also need to update the io

[2019-06-26 18:24] #1711 closed

[2019-06-26 22:06] teonbrooks opened #1976 "Allow iodide server to download files on user's behalf"
as a user, I would like to be able to store my secret keys for use in some web api calls. currently, the api key is exposed in the Iodide notebook. this would be useful internally for accessing Bugzilla to retrieve private bugs. Something similar to how Glitch stores private keys would be nice.

[2019-06-26 22:06] teonbrooks commented on #1976
cc: @wlach

[2019-06-27 20:35] wlach commented on #1976
@hamilton and I just did a brainstorm on this. We think the right solution is to allow the server to access urls and download files on the user's behalf. This involves a few things:

1. Add a model called "File Source" which specifies a source url for the file, along with an update frequency (once a day, once week, never, ...).
2. A celery component to schedule/execute tasks to update files based

[2019-06-27 20:40] hamilton commented on #1976
The terminology is still a bit loose, but here is the rough frontend spec as we see it. This will live as a separate tab under the "manage files" modal (for now). The idea is to give users an interface to create new file sources by (1) putting in the url that they want to query from (eg a "secret url" with an api key, etc.), (2) giving the resulting file name, (3) picking the update frequency (4)

[2019-06-27 20:44] hamilton commented on #1976
@wlach for reference, here is the data model we sketched out:

![IMG_6266](https://user-images.githubusercontent.com/95735/60299452-9a948900-98e1-11e9-8f35-abbf609006ef.JPG)

[2019-06-27 23:01] teonbrooks commented on #1976
cool, I like this idea

[2019-07-01 20:20] wlach commented on #1569
This is done now

[2019-07-01 20:20] #1569 closed

[2019-07-02 12:51] wlach commented on #1943
Can probably use something like this technique: https://facebook.github.io/create-react-app/docs/title-and-meta-tags#injecting-data-from-the-server-into-the-page

[2019-07-03 19:15] wlach opened #1988 "Add some unit tests to verify dockerflow endpoints"
If the [dockerflow middleware](https://github.com/mozilla-services/python-dockerflow) is enabled, we currently have three endpoints:

/__version__/ (provides some basic version information generated by circleci)
/__heartbeat__/ (provides some health checks)
/__lbheartbeat__/ ( load balancer checks)

We should add some unit tests that verify that these endpoints basically work (i.e. respond with HT

[2019-07-08 14:33] wlach commented on #1965
So it turns out we were already passing file requests (relative ones at least) through to the main editor cell, with authentication credentials:

https://github.com/iodide-project/iodide/blob/c08375515cfe7d48259498c66f53bcaf63a0c9b4/src/eval-frame/actions/fetch-cell-eval-actions.js#L75

Verified that this (along with iodide.file.load) works fine on the internal server here:

https://stage.iodide.n

[2019-07-08 14:34] #1965 closed

[2019-07-08 16:03] bcolloran commented on #1976
+1 this is great!

[2019-07-08 17:36] wlach commented on #1416
I'm not convinced that putting iomd in a script tag is inherently a problem, however we do need to escape the content of the iomd, to disallow arbitrary code execution as you can (currently) see in this example:

https://definitely-staging.iodide.io/notebooks/63/

[2019-07-08 17:40] wlach commented on #1416
Ironically we are currently marking the iomd as "safe":

https://github.com/iodide-project/iodide/blob/c08375515cfe7d48259498c66f53bcaf63a0c9b4/server/notebooks/templates/notebook.html#L7

Likely we should change this from "safe" to "escape":

https://docs.djangoproject.com/en/2.2/ref/templates/builtins/#escape

We would have to add some code in the client to unescape this tag, but that shouldn't

[2019-07-08 18:04] bcolloran commented on #1416
ya, it's not a big problem, just a bit of code clean up -- it's not really necessary to pull the iomd out of the DOM at this point since we have not been optimizing for the single human-readable HTML file for quite some time.

[2019-07-08 18:13] wlach commented on #1416
It is actually more efficient to embed the iomd in the document on the server side (saves an API round-trip), so my vote would be to keep things this way.

[2019-07-08 19:11] jezdez commented on #1965
Yay @wlach!

[2019-07-08 19:46] bcolloran commented on #1416
oh i wasn't proposing that we stop embedding the iomd in the page, just that we not put it in the `<script type="iomd">` tag and then parse it out at as text. i thought we should do it more like in the example at https://facebook.github.io/create-react-app/docs/title-and-meta-tags#injecting-data-from-the-server-into-the-page -- by setting it as a variable directly on `window` in a script tag, beca

[2019-07-08 20:08] #1619 closed

[2019-07-08 20:14] #239 closed

[2019-07-10 17:28] wlach opened #2007 "Include git revision (or tag if available?) in footer"
Forked from iodide-project/iodide#1801

I think we should include some version information in the footer on the main iodide pages to make it more clear what version is being used. Something like this:

![image](https://user-images.githubusercontent.com/20569/60990269-06311a00-a316-11e9-8350-750df7d6dc4a.png)

Where the "revision f54e434c02" link would be to something like: https://github.com/iodid

[2019-07-10 18:16] bcolloran opened #2008 "remove `files/`from the start of file fetches"
from our docs, under the heading "uploading data to an iodide notebook" -- https://iodide-project.github.io/docs/workflows/#getting-data-into-an-iodide-notebook

having now spent some time with the syntax
[code]

it's now feeling like extra boilerplate, and i don't think it clarifies the mental model for our users. i think we should deprecate the "files/" bit, and just use
[code]

so that this see

[2019-07-10 18:29] bcolloran commented on #2008
also, this would make the fetch cell consistent with the file api, which does not use the `files/` prefix -- https://iodide-project.github.io/docs/api/#iodidefile

[2019-07-10 22:55] Keno opened #2010 "Errors during plugin initialization get swallowed"
On both alpha. and definitely-staging., I see the following:

### What I Did

Try to load the julia plugin from an older iodide version that used different APIs.

### What I Expected

I expected it to work or print an intelligible error message.

### What Happened

It printed `plugin definition failed to parse: EVAL_FRAME_TASK_RESPONSE-k7kyf5tt99-FAILED`. Adding some judicious try/catches in the p

[2019-07-11 02:45] hamilton commented on #2008
Good points, but I think it might be good to have a discussion about this especially before #1919 gets merged. The original idea behind `files/` was that if we end up eventually exporting an archivable bundle, we put the notebook's associated files in the resulting `files/` directory, so in theory a static version of the notebook would effortlessly be able to fetch the files in `files/` without th

[2019-07-11 05:18] bcolloran commented on #2008
as is, the fetch cell already intercepts calls to load local files and processes them specially, so we can still put files in a `files/` folder and rewrite the fetch request if we need to. i think the question about the end user experience is orthogonal to the implementation details behind the scenes, and it feels weird to expose an implementation detail for a feature that we had proposed but neve

[2019-07-11 18:12] #2010 closed

[2019-07-11 18:18] bcolloran commented on #2008
fixed via #1919

[2019-07-11 18:18] #2008 closed

[2019-07-11 20:41] Algentile commented on #2007
Hey @wlach,

I can take this on. Would you just want the hash of the last commit or also display a link to the last issue that was merged?

[2019-07-11 20:55] wlach commented on #2007
@Algentile a shortened version of the hash, as shown above, should be enough. People can always look through the commit log if they want more detail.

[2019-07-11 23:00] bcolloran commented on #1899
this is mostly fixed in #1948, but there are a couple more things to be done that @wlach wants to wait to wrap up while addressing #1943

[2019-07-13 20:14] wlach opened #2015 "eval frame should be served by django server"
We should serve the eval frame via django (with the appropriate mechanisms in place to make sure it's the only view available when accessing the server from the eval frame domain e.g. `alpha.iodide.app`). This is needed for #1943 (since we need to inject the variables used by the iframe on view time, not build time) but is also architecturally a bit cleaner and easier to understand.

As part of th

[2019-07-15 18:56] bcolloran opened #2023 "build tune-ups (webpack not shaking tree correctly / not reading NODE_ENV options correctly)"
we should set our "build" mode to be a "production" mode (which will have minification and tree shaking and will prevent some debug messages from being surfaced in the devtools console), and deprecate the "build-prduction" mode, which we don't seem to be using anywhere.

thanks @dmose for noticing this.

cc @wlach

[2019-07-15 18:57] bcolloran commented on #2023
also, this may need to include removing ".dev" from a bunch of our filenames

[2019-07-16 13:48] mehmetoguzderin opened #2028 "Proposal of Internationalization Support for Iodide System"
# Internationalization Support for Iodide System

## Objective

This proposal lays down a guideline to internationalize Iodide system. It aims to make Iodide capable of serving system catered to the locale of the user, but it does not aim to make Iodide notebooks capable of serving content according to the locale of the user since that is a separate effort with separate concerns. Internationalizat

[2019-07-16 13:49] mehmetoguzderin opened #2029 "Proposal of Metadata Support for Iodide Notebooks"
# Metadata Support for Iodide Notebooks

## Objective

This proposal introduces metadata support for Iodide notebooks with an aim towards localization. This proposal aims to provide a basic, single indentation field-value containing metadata cells.

## Motivation

Lack of metadata support is a blocker towards the existence of Iodide in different mediums with different audiences. Lifting this block

[2019-07-16 13:50] mehmetoguzderin opened #2030 "Proposal of Identifier Support for Iodide Notebook Cells"
# Identifier Support for Iodide Notebook Cells

## Objective

This proposal aims to provide a way of adding unique identifiers to cells.

## Motivation

Without unique cell identifiers, it is not possible to target individual cells of notebooks themselves plausibly.

## User Benefit

Users that aim to define cells that can do work on properties of other cells can accomplish their goals.

## Relate

[2019-07-16 13:50] mehmetoguzderin opened #2031 "Proposal of Selector Support for Iodide Notebook Cells"
# Selector Support for Iodide Notebook Cells

## Objective

This proposal provides a way of selecting Iodide cells with an aim towards localization of them. There can be many selectors; this document tries to provide a minimum viable product minimum that would stay compatible in case of feature expansion.

## Motivation

A way of selecting that is internal to the system can make it possible to ext

[2019-07-16 13:52] mehmetoguzderin opened #2032 "Proposal of Localization Support for Iodide Notebook Cells"
# Localization Support for Iodide Notebook Cells

## Objective

This proposal makes it possible for Iodide notebooks to have localized content. This proposal aims to provide a way to achieve this in a single notebook. Separation of localization cells to another notebook will be a proposal of itself but is not a necessity.

This proposal is a BCP 47 (see: locale-registry) compliant localization sup

[2019-07-16 13:53] mehmetoguzderin opened #2033 "Proposal of Roadmap for Globalization of Iodide"
# Roadmap for Globalization of Iodide

| Steps | Internationalization | Localization |
| :-: | :-: | :-: |
| 0 | Proposal of Internationalization Support for Iodide System | Proposal of Metadata Support for Iodide Notebooks |
| 1 | ∅ | Proposal of Identifier Support for Iodide Notebook Cells |
| 2 | ∅ | Proposal of Selector Support for Iodide Notebook Cells |
| 3 (MVP) | ∅ | Proposal of Localizati

[2019-07-16 20:21] wlach commented on #2023
💯

I'd prefer to wait on this until #1943 is fixed, but would be a good issue for a contributor to pick up when that's done

[2019-07-16 23:01] bcolloran opened #2037 "[proposal] rename `/src/server`"
@wlach @hamilton @mdboom -- i think we should rename the "server" in `/src/server` -- it always trips me up that we have that and also a root level `/server` folder. here are some options to get the discussion rolling -- please flag your favorites and feel free to add your own ideas:

- nav
- nav-pages
- user
- user-pages
- home
- landing

i'm not really attached to any particular option, i just t

[2019-07-17 17:16] wlach commented on #2037
How about renaming it to "site"? None of the suggestions above seem to fully encompass the full functionality of these pages.

[2019-07-17 17:21] bcolloran commented on #2037
"site" works for me :-)

any other ideas or counter proposals to "site" @hamilton or @mdboom?

[2019-07-17 17:22] wlach opened #2046 "Revision browser shouldn't show unsaved changes when there are no changes"
Currently the iodide revision browser shows an unsaved changes when the notebook is already fully up to date:

![image](https://user-images.githubusercontent.com/20569/61396223-3ee06e80-a895-11e9-8ed3-7622a830210a.png)

We should only show this item when there are changes not yet synchronized with the server (i.e. we actually have a difference to show, not just "no difference").

The logic to disp

[2019-07-17 17:42] wlach opened #2047 "Revision browser should allow reverting notebook to previous state"
Currently the revision browser lets you view a summary of what changed, but doesn't let you actually revert the notebook content to that of a previous revision.

![image](https://user-images.githubusercontent.com/20569/61397697-76044f00-a898-11e9-9ffc-bfe51dd716e1.png)

We should, at minimum, add a button to do exactly like this. Before actually replacing the content, it should pop up a warning di

[2019-07-17 18:06] mdboom commented on #2037
"site" WFM.

[2019-07-17 18:32] wlach opened #2050 "Heroku builds failing after django rest framework upgrade"
Heroku deploys are failing on stage after I upgraded django rest framework to the latest version. Seeing this error in the log:

[code]

This may be affecting our internal server environment as well /cc @robotblake

[2019-07-18 00:10] bcolloran opened #2053 "error handler stack frame trimmer removes class names of user-defined error classes"
(please do not try to fix this until the next round of eval-frame clean up lands. check in with me first)

[2019-07-18 10:47] mdamien opened #2055 "Report view and "Run Full Notebook" output differ"
### What I Did

Here's a sample notebook, the report view should show "not working" but the "run full notebook" should show "autorun works": https://alpha.iodide.io/notebooks/2753/?viewMode=report

### What I Expected

The "Run Full Notebook" and "Report view" should produce the same output

### What Happened

From what I see, it's maybe because the HTML didn't load before the JS is executed, mayb

[2019-07-18 15:40] #2015 closed

[2019-07-18 17:00] bcolloran commented on #2055
Ah interesting, thanks for catching this @mdamien! You're right -- the problem is that we need to make sure the initial MD is parsed, sent to the iframe, and rendered before we begin evaling code. I think that should be enough, but @hamilton can you think of any problems if we introduce that delay?

[2019-07-18 19:45] #2050 closed

[2019-07-18 22:21] bcolloran opened #2061 "DnD ipynb to iomd converter"
@hamilton has started looking at adding functionality that would allow drag-n-dropping a file on the iodide site pages, and which would then create an NB with a template showing how to load those files and start working with them.

once that functionality is built (particularly the server APIs), it would be an easy extension of that to allow people to DnD .ipynb files into the iodide site pages, p

[2019-07-19 19:06] mehmetoguzderin opened #2065 "Problem with Keyboard Shortcuts on iPadOS"
Editor does not capture `cmd + S` on iPadOS at first attempt. `alt + H` is not captured at all, since it generates `^` at least on Turkish Smart Keyboard. `shift + Enter`, `alt + W`, `cmd + Enter` combinations work as expected.

### What I Did

I hit `cmd + S` key combination.

### What I Expected

As soon as I hit the combination, a save of notebook to appear in History.

### What Happened

I hav

[2019-07-21 01:42] Samrose-Ahmed commented on #1988
I'd like to take this.

[2019-07-22 14:46] #2007 closed

[2019-07-22 18:59] #1943 closed

[2019-07-23 14:09] wlach commented on #2029
Thinking a bit about this, I think I would suggest putting this type of metadata outside of the iomd (the title is currently stored as a seperate database row on the iodide server).

I think this file could have a broad set of uses, aside from just localization (although that is an obvious use case)

TOML seems like a nice and simple format for this data.

If we view an iodide notebook as a versio

[2019-07-23 14:43] mehmetoguzderin commented on #2029
I agree that this will have a broad usage. I forgot to clarify in the proposal itself, there title has a purpose of being rendered title. An author might name notebook as "2018 test conference submission" but desire a rendered title of "Investigation on Test".

If we decide on separate storage for metadata, it would be good to have support for localized fields through separate files like this:

[c

[2019-07-24 17:22] #2046 closed

[2019-07-25 14:39] Algentile commented on #724
Hey @bcolloran,

I will going on vacation on the 30th, but I can look into this issue if no one has this on their task list.

[2019-07-26 15:14] #1988 closed

[2019-07-27 23:24] ZiyaoWei commented on #1454
The contributing instructions on the GitHub page site (https://iodide-project.github.io/docs/contributing/) still seems to be out of date - not sure if a regression of this issue or is it a separate bug?

[2019-07-29 18:08] bcolloran opened #2098 "add "Less" sources for jupyter rendered_html styles"
Commenting just on the Python / Jupyter CSS stuff.  I can confirm that Pandas rendering looks correct with this change.  The actual source of that CSS is written in Less [here](https://github.com/jupyter/notebook/blob/b8b66332e2023e83d2ee04f83d8814f567e01a4e/notebook/static/notebook/less/renderedhtml.less).  Pyodide includes the `less` in its source and runs it through `lessc` at build time to mak

[2019-07-29 18:11] bcolloran opened #2099 "following eval-frame clean up, make sure iframe only occupies the space it really needs"
follow up from #2085 suggested by @hamilton here: https://github.com/iodide-project/iodide/pull/2085#issuecomment-515582594

[2019-07-29 22:20] bcolloran commented on #724
@Algentile Hi, i'm just getting back from a weekend away, sorry for the delay.

Hmm, I think we want to hold off on work on this, because we're evaluating moving from code-mirror to the Monaco editor (in fact, there is a draft PR out for that: https://github.com/iodide-project/iodide/pull/2013 )

If we decide not to go ahead with Monaco, then we'd love your help on this. Alternatively, if you are

[2019-07-29 23:03] bcolloran opened #2100 "evaluation hot keys should be disabled if a modal is open"
ctrl+enter and shift+enter currently work when a modal is open. we should intercept and block the evaluation action if a modal is open (i.e. if `modalState !== "MODALS_CLOSED"`)

[2019-07-30 05:07] bcolloran opened #2101 ""clear all variables" menu item doesn't actually clear all the variables..."
i just noticed that the "clear all variables" menu item clears the variables out of the redux store (because they disappear from the "workspace pane), but the  variables remain in the eval frame JS scope (so for example you can still reference them in code or from the console)

[2019-07-30 06:04] bcolloran opened #2103 "console menu/scrollback should include all chunk types available in a notebook"
it's currently possible to scroll back through your console history to a fetch chunk etc, but the code will not be runnable from the console since only py and js are available. presumably fetch and other evaluable chunk types should be available too.

[2019-07-30 06:06] bcolloran opened #2104 "console should update active language when going through scrollback to match language of evaled code"
related to #2103 -- it seems like when you scroll back through the console with up/down, that the active language in the console should update to match the language/chunk type that was used in the original eval.

[2019-07-30 19:19] bcolloran opened #2108 "how to handle in-page anchors and out-of-page links?"
see this notebook:
https://alpha.iodide.io/notebooks/2807/

if we don't add `target="_self"` to links link `<a href="#anchor-on-page">`, the link will open in a new tab. that behavior is pretty disruptive, but so too is losing computed state by accidentally following a link that takes you off the page, which is why we set the top-level link opening behavior to be to open in a new tab: `<base targe

[2019-07-31 23:14] bcolloran opened #2113 "restructure file heirarchy, state-schemas, actions, reducers, etc to organize by feature rather than function"
just wanted to put together an issue to track the idea @hamilton proposed last week:
right now, our files are mostly split up by _function_ -- components, reducers, actions, etc -- but this makes it hard to know what is in scope when you are working with only one slice of the app.

some references:

- organizing by feature: https://marmelab.com/blog/2015/12/17/react-directory-structure.html -- see

[2019-07-31 23:37] ZiyaoWei opened #2114 "Notebook history should be inaccessible in "try it" mode"
On https://alpha.iodide.io/tryit/, if I go to `History` without logging in, the popup shows `Error getting revisions` - should this be changed into something friendlier?

### What I Did

Open a browser tab in Incognito mode, go to https://alpha.iodide.io/tryit/, click on `History`

### What I Expected

Maybe something along the lines of "Please login to save your work"?

### What Happened

`Error

[2019-08-01 00:19] bcolloran opened #2115 "fetch cell should delay execution of the next cell until all scripts are loaded"
the notebooks below seem to demonstrate a race-ish condition with the fetch cell. it looks like plotly has not yet loaded fully (and thus is not available for import) if the python cell is run immediately after it.

to fix this and similar issues, the fetch cell should delay execution of the next cell until all scripts are loaded. there must be some kind of event we can watch for this

https://def

[2019-08-01 01:15] hamilton commented on #2115
Hmm, must do a dynamic import. I don’t think we are catching those but we
definitely should.

On Wed, Jul 31, 2019 at 7:19 PM bcolloran <notifications@github.com> wrote:

[2019-08-01 01:15] ZiyaoWei commented on #2114
Mmm, maybe I got too excited and this is caused by an error from the backend?

[2019-08-04 22:34] ZiyaoWei commented on #2047
Interested in contributing to Iodide - is this issue a good first issue to pickup? If not, I'll browse around and try to find something else (open to suggestions!).

[2019-08-04 23:05] wlach commented on #2114
This is definitely a bug! We should probably disable the revision browser item on trial notebooks, since there is no history to get. You can make this conditional on whether we're in "try it mode".

Do you want to take this on? It's probably not a bad good first issue.

Hint: You can use this function for detecting whether we're in try it mode:

https://github.com/iodide-project/iodide/blob/fc048a

[2019-08-04 23:07] wlach commented on #2047
I think @mehmetoguzderin wanted to pick this one up, #2114 which you filed would be a good first issue to try. I can probably suggest other things on gitter when I get back in on Tuesday.

[2019-08-06 17:07] wlach commented on #2115
This is similar (but not the same) as #1278.

[2019-08-06 19:02] bcolloran commented on #1454
@ZiyaoWei thanks for noticing that, I've updated the docs

[2019-08-06 20:49] wlach commented on #2108
we probably also want to propagate anchor state from the report view to the presentation iframe and vice-versa, so people can provide permalinks to particular views of an iodide report

[2019-08-07 00:32] Algentile commented on #724
Hey @bcolloran,

I apologize, I just got back from vacation. I will hold off on this issue for now. It appears that monaco-3 was merged, but I can definitely pickup any outstanding issues with the editor that are open.

[2019-08-07 15:47] wlach commented on #1416
This wouldn't be too bad an issue for someone (@ZiyaoWei? @Samrose-Ahmed?) to work on, maybe as a second bug. You will need to edit some parts on both the server and client.

There are two components here, first modifying the server to escape the iomd differently (write a unit test verifying that a tag like `<script>` gets escaped in `server/tests`):

https://github.com/iodide-project/iodide/issue

[2019-08-08 02:30] ZiyaoWei opened #2131 "Changelog URL in PR template not pointing to the right place"
The tiniest nitpick - the `changelog` link in the PR template actually points to https://github.com/iodide-project/iodide/CHANGELOG.md after PRs are submitted, e.g., https://github.com/iodide-project/iodide/pull/2130.

### What I Did

N/A

### What I Expected

The link should point at https://github.com/iodide-project/iodide/blob/master/CHANGELOG.md

### What Happened

https://github.com/iodide-pr

[2019-08-08 11:52] ZiyaoWei commented on #1416
@wlach this definitely looks fun and I'll be happy to take it on! @Samrose-Ahmed sorry for scooping :-)

[2019-08-08 13:32] #2114 closed

[2019-08-08 13:38] #2131 closed

[2019-08-08 13:39] wlach commented on #2131
Thanks! For future reference, it is possible to submit PRs against these sorts of templates (see commit) -- feel free to do so in the future, no issue required. :)

[2019-08-08 16:59] hamilton opened #2132 "make the django rest api return camelCase"
As we begin to rely on polling for certain notebook features (revisions, files, file sources, etc.) we will be using the django REST api more. By default, the API uses camel case. Ideally it would return snake case so we can bring some stylistic harmony to the redux store.

[2019-08-08 18:33] openjck opened #2133 "Support drag and drop notebook creation"
Users should be able to create new notebooks by dragging and dropping files onto the homepage.

**If an authenticated user drags and drops files...**

a new notebook should be created which is associated with their account and which has all dropped files attached. The notebook should use a template which explains or demonstrates how to use the files.

**If an anonymous user drags and drops files..

[2019-08-08 18:51] openjck opened #2134 "Support drag and drop file upload in notebook"
Users should be able to upload files to an existing notebook by dragging and dropping files into the *Manage Files* modal. This should also be possible in the *Manage Files* modal of the *tryit* page (#2133).

**Mockups**

https://www.figma.com/file/tVirK4QFIR3KG3s03sVDst/Drag-and-drop-on-notebook-page?node-id=0%3A1

[2019-08-08 19:23] mdboom opened #2135 "Drag and drop directly into a fetch cell"
In addition to the basic drag and drop discussed elsewhere -->

If we drop onto a fetch cell... upload the file and automatically add the fetch cell line for that file.

[2019-08-09 04:40] bcolloran opened #2138 "we should offer subdomain routing in iodide"
@hamilton and i were talking today about how we could quickly provide "nice" custom urls for iodide users, and he had the great suggestion of giving users the subdomain matching their username (i.e. bcolloran.iodide.io, bcolloran.iodide.mozilla.com). this could be extended to groups also (metrics.iodide.mozilla.com).

we could also let users set up custom slugs off of their subdomain that point at

[2019-08-09 17:54] wlach commented on #2138
I think it's a great idea, we could use wildcard dns for this:

https://stackoverflow.com/questions/6917931/wildcard-subdomains-in-a-django-project

* I suspect that having unique domains for notebooks is more compelling than for users
* Adding a slug field for notebooks is probably a prerequisite to this, and could be implemented independently

[2019-08-09 22:05] bcolloran opened #2141 "Adopting the Jupyter `complete_request` message format in Iodide?"
@mdboom, this one is for you in particular -- i've been poking around in the jupyter kernel implementation docs a bit as i'm thinking about how code completion should work, and it seems like if at all possible, we should enable code reuse in the case of existing jupyter kernels that handle autocomplete.

Jupyter has a `complete_request` message like this:
[code]
(see https://jupyter-client.readthe

[2019-08-09 22:12] teonbrooks commented on #2138
I like this idea very much. it is similar to what we do with `hala` for `metrics.mozilla.com` but this would be a lot less manual. +1

[2019-08-13 03:09] wlach commented on #1416
Awesome @ZiyaoWei -- please let us know if you need any help

[2019-08-13 15:26] wlach commented on #2132
It looks like django rest framework camel case plugin would do the trick here:

https://www.django-rest-framework.org/api-guide/renderers/#camelcase-json

[2019-08-13 16:44] Algentile commented on #2100
Hey @bcolloran,

I was able to reproduce this issue when the I select the editor while the modal is open. I can work on this.

[2019-08-13 18:23] bcolloran commented on #2100
great, thanks @Algentile. fwiw: i think the right place to put this is in the `evaluateText` redux thunk.

[2019-08-13 18:34] bcolloran commented on #2132
fwiw: there's a tradeoff between stylistic harmony and the ability to search-all-files for a variable name and have all the instances of that name show up in your results. I don't work on both the front and back ends as much as you guys do, so i'll defer to your preferences on that, but i use search-all-files to great effect _constantly_ when i'm digging around our code, so having these strings be

[2019-08-13 18:45] mdboom commented on #2141
I think these Jupyter things will probably be a better fit for Iodide than LSP in the long run, since they work on a "live" environment.

I'd steal the API here (the arguments), and then everything should ultimately boil down to calling a function with these arguments somewhere.  We can then add a parameter to the language plugin definition for autocompletion and just call it as a Javascript funct

[2019-08-13 19:05] mdboom commented on #2141
So, as an example -- the state-of-the-art in Python seems to be [jedi](https://jedi.readthedocs.io/en/latest/docs).  This is the completion engine that IPython/Jupyter currently uses.  Its API is a little different in that you provide it with an incomplete but of source code, and it provides a list of ways to complete it.  You certainly code get there from the API pointed out above, by just trunca

[2019-08-14 14:10] wlach commented on #2132
Yeah, I definitely do this too, but it's in my experience relatively rare for me to want to search both server and client definitions simultaneously. It's usually one or the other (actually I usually restrict my search to either `src` or `server` depending on what I'm looking for).

Another argument for using camel case is that it's usually what people expect when using a server API in general. Cu

[2019-08-14 14:17] wlach commented on #2113
I think it would indeed be nice if the actions/reducers/component logic was a little closer together for each feature. I find myself using project search to navigate between files more often than I'd like to admit -- it would be much more convenient if things were closer together in the filesystem so I could use the directory sidebar in atom more easily (since like would be close to like spatially

[2019-08-14 18:02] Algentile commented on #2100
Hey @bcolloran ,

I opened a pull request for the issue [#2154 ](https://github.com/iodide-project/iodide/pull/2154) for the change. I did notice a weird behavior in my testing.

It appears that if an NoteBookMenuitem has been previously selected and you use the shortcut `ctrl+enter`, it will open the menu item and run the evaluate shortcut. This does not happen if you use `shift+enter`, It seems

[2019-08-14 18:19] bcolloran commented on #2100
oh yea that is weird @Algentile . feel free to file an issue (and of course a PR is welcome too)! thank you! :-)

[2019-08-15 01:18] Algentile opened #2155 "`ctrl + enter` will open modal if modal NoteBookMenuItem is in selected state."
The `ctrl + enter` shortcut seems to open a NoteBookMenuItem in the header if the item is in a focused state, this does not occur with `shift + enter`. Issue first discovered in #2100.

### What I Did

The following steps were taken to reproduce this issue:
1. Navigate to help modal NotebookMenuItem located in right side of the header
2. Select help menu item
3. Close help menu item
4. Press `ctrl

[2019-08-15 14:28] wlach opened #2156 "Our docker images should be built using a multi-stage builds"
@armenzg just taught me about [multistage docker builds](https://docs.docker.com/develop/develop-images/multistage-build/), I think we use these for generating the iodide docker images. Advantages:

* Much smaller images we can use deployment (should speed up deploys internally, and on Heroku whenever we start using docker images there)
* Can much more easily create a "production" image without de

[2019-08-15 14:38] Algentile commented on #2156
Hey @wlach,

I was looking into this earlier last week, I can start working on this.

[2019-08-15 14:39] wlach commented on #2156
@Algentile fantastic! I will assign to you

[2019-08-19 17:37] #724 closed

[2019-08-19 17:39] bcolloran commented on #579
finally fixed via #2117!

[2019-08-19 17:39] #579 closed

[2019-08-19 17:41] bcolloran commented on #1279
updating to indicate that this now needs to target Monaco as of #2117

this will need to use the monaco JSON code highlighting tools (not the js version), which will prevent JS from being run in the editor scope.

[2019-08-19 17:43] bcolloran commented on #1618
fixed via #2117

[2019-08-19 17:43] #1618 closed

[2019-08-19 17:48] bcolloran commented on #1629
Monaco has landed in #2117. i have not checked screen reader support (i don't know how) but i think that means this should be fixed? if not, someone can re-open with additional details

[2019-08-19 17:48] #1629 closed

[2019-08-19 20:03] bcolloran opened #2170 ""Learn about Iodide Premium" button, landing page, survey"
@hamilton @teonbrooks @mdboom @wlach

To help us get a sense of interest in "premium features", we should add a button to Iodide something along the lines of "Learn about Iodide Premium" (or similar) to the iodide landing page (at least).

We should follow standard practices WRT this kind of thing -- the button should be in a prominent location and in a high contrast/visibility color etc.

here's

[2019-08-19 20:08] bcolloran commented on #2170
oh also: it is a *hard requirement* that we have Google Analytics enabled for the button and premium features landing page when it rolls out

[2019-08-19 20:20] bcolloran commented on #2170
additional question: are there any other locations that we should add this button? should we add something in the notebook? i think probably at least in the "getting started" tab of the help page, but any other spots? what about in the docs? what about a link on the GH project landing page?

[2019-08-20 16:23] Jsalaz1989 opened #2174 "Embed report in Google Site?"
Not really a bug, more of a feature request I suppose, sorry if this is not the place for it. I'm hoping to embed an interactive report, with the Pyodide scripts already evaluated, into a google site. I think the Iodide version is 94f4a59ccf of the alpha release.

### What I Did

In the new Google Sites, I tried embedding a link to the report but I get 'Can’t embed due to provider site permissions

[2019-08-20 20:21] wlach opened #2175 "Add ability for language plugins to auto-evaluate on chunk change?"
I've been tweaking a mermaid diagram in this notebook today:

https://definitely-staging.iodide.io/notebooks/60/

It's a bit annoying to have to constantly re-evaluate the cell as I make changes, is there any way we could allow language plugins to do the same thing as markdown cells -- that is, re-evaluate the content on every change?

@bcolloran @mdboom ?

[2019-08-21 15:24] wlach commented on #2174
Hmm, I believe we set the x frame options parameter to prevent clickjacking attacks:

https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Frame-Options

We used to have an option to export a notebook as a report you could put anywhere -- I think that would cover your use case.

[2019-08-21 19:49] Jsalaz1989 commented on #2174
Right, that's what I originally thought would be the case but I wasn't able to find a way to export the full, evaluated notebook. Am I not seeing that feature some where or has it been taken out?

[2019-08-21 20:40] wlach opened #2178 "Resurrect "export notebook" feature"
So we temporarily disabled the "export notebook" feature because the way it worked didn't fit into the server-based paradigm that we moved to. But there are still valid use cases for this!  Maybe someone wants to publish a notebook outside of the context of iodide.io (e.g. #2174), maybe people want to export their data/work so they're not reliant on us. Probably other things I haven't considered.

[2019-08-21 20:41] wlach commented on #2174
It has been taken out but I just filed an issue to resurrect the feature: #2178

[2019-08-21 20:42] wlach commented on #2174
I'm going to close this bug because I don't think we'll ever allow this for security reasons. The above issue should hopefully satisfy the use case when implemented.

[2019-08-21 20:42] #2174 closed

[2019-08-21 21:31] bcolloran commented on #2178
i think this is blocked by discussion about a few things -- user stories we want to serve (and that we may choose not to serve), potential architectural changes (don't want to paint ourselves into a corner and break the feature again, nor have it slow us down while working through other things), and overall prioritization (i still argue that this falls lower on the list of things that we should be

[2019-08-21 22:45] Jsalaz1989 commented on #2178
I suspect that I simply don't know enough about Iodide to know exactly how much development effort this feature entails, perhaps I am asking for more than I think, but to clarify my use case (issue #[2174](https://github.com/iodide-project/iodide/issues/2174)), I would simply need a 'snapshot' of the fully evaluated report, not the entire notebook (if that makes sense). So, for example, yes I woul

[2019-08-22 11:44] mdboom commented on #2175
Seems like a nice idea.  Obviously it should be a flag, because you wouldn't want this for something stateful like Python.

[2019-08-22 14:33] wlach commented on #2178
Yup, I think exporting a snapshot of the notebook, at least initially, is the way to go. We can discuss this more in the meeting -- I feel like having ways for users to take their content outside iodide is super-important for building trust in the overall ecosystem. and this is an important first step towards that. Anyway, we can certainly discuss this in a meeting when you return.

[2019-08-28 20:51] hamilton opened #2196 "add hook linting rules"
this is a follow-on from #1985 that I didn't have the bandwidth to apply. See: https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb and https://reactjs.org/docs/hooks-rules.html#eslint-plugin

[2019-08-28 20:52] hamilton opened #2197 "use react-transition-group for animating mount / unmount in the file modal"
This is an additional follow-on from #1985.

[2019-08-28 20:53] hamilton opened #2198 "remove Redux state for transient inputs & animation in fileSources"
Some miscommunication resulted in a refactor of the file sources PR #1985 where all local transient / UX-specific state was removed from file sources components and put into Redux. Due to other obligations I didn't get back to restoring that, so we'll have to do so in a follow-on PR.

[2019-08-30 21:57] hamilton opened #2200 "add a client-centric files API and have the manage files modal use it"
This is a follow-on improvement to #1985.

Currently, a notebook only receives a list of files from the server on page load. This caused some inefficiencies while authoring the original files modal, which ended up managing a lot of local state to keep up with what was added to the server and what wasn't.

With file sources, however, it could be that a file gets added to a notebook (for instance, c

[2019-08-30 22:00] hamilton opened #2201 "UX improvements to manage-files and manage-file-sources"
This is a follow-on meta issue for files & file sources in a notebook.

- [ ] the "add file" and "add file source" buttons should trigger some kind of "waiting" spinner. If there is a failure, a dialog should appear describing the error. If there is a success, a snackbar should appear. Doing so will allow us to remove the extra list items in the `manage-files` flow, and remove _all_ local business

[2019-08-31 03:25] ZiyaoWei commented on #1416
Turns out I completely forgot about the preview window on the right - the script aren't showing up in `md` and `html` sections! Will look into this - should that be a separate PR?

[2019-08-31 15:24] wlach commented on #2175
I don't have an exact recipe for how to do this, but I think this issue wouldn't be that difficult for a motivated contributor to take on if they are willing to get their hands dirty and spelunk a bit through the codebase.

The place to start would be probably be to consult the existing documentation for how language plugins work:

https://iodide-project.github.io/docs/language_plugins/

From ther

[2019-08-31 15:28] #1416 closed

[2019-09-04 13:15] louisabraham opened #2215 "No evaluator available for chunks of type"
Hi, this demo doesn't work anymore https://alpha.iodide.io/notebooks/1627/

[code]

The output is the following:

![image](https://user-images.githubusercontent.com/13174805/64258062-d160ce00-cf26-11e9-85f8-875934fd17fa.png)

[2019-09-05 21:45] wlach commented on #2215
Weirdly, after taking out the `codeMirrorMode` key out from the language plugin directive, everything seems to work:

https://alpha.iodide.io/notebooks/3183/

We no longer use codemirror in iodide so it's no longer necessary, but I don't see why it should be causing the language plugin not to work.

[2019-09-05 22:06] bcolloran commented on #2215
oh i bet it's probably failing at state schema validation. it's probably an easy fix to have it not fail if there are extra keys (and/or to give better feedback in case the plugin info is not valid for some reason).

(note that adding Monaco syntax highlighting for additional languages is not working at present)

[2019-09-09 13:33] wlach commented on #1696
Ok, this is really low effort and would provide a large benefit, so let's just get this done. I'm gonna give some clearer instructions in the hope that someone feels motivated to create a PR, if they don't I'm just gonna do it myself. :)

This article describes in detail what slack needs: https://medium.com/slack-developer-blog/everything-you-ever-wanted-to-know-about-unfurling-but-were-afraid-to-

[2019-09-10 15:52] mdboom commented on #2215
Yeah -- this seems like a good place to *not* be strict about extra keys.

[2019-09-10 19:19] #2156 closed

[2019-09-10 20:29] teonbrooks opened #2231 "Support PWA capabilities for Iodide"
As a user who is starting to use my iPad more and more and with Apple's recent decision to bring a desktop-class browser to the iPad with iPadOS, and with the development of support for PWAs across platforms, I think Iodide would be poised to support PWA.
A few added benefits include:
- the ability to work on notebook when not connected to the Web
- cache python resources in the web app
- give a n

[2019-09-10 20:36] bcolloran commented on #2231
sounds interesting @teon! if you are interested in looking at this, i think you should go for it :-)

do you have a sense of what kind of constraints this might impose to make it work? wrt an offline mode, would we need to revamp the way saving is handled? (@wlach i guess you might have thoughts on that?)

[2019-09-10 20:39] teonbrooks commented on #2178
I think this would be quite welcomed by my team. we've converged on using Experimenter and mozilla.report as the sources for our knowledge base. having a snapshot of the report when it has been shared is what we aim to have and it would be on par with our move to provide similar capabilities with [SABER](https://github.com/benmiroglio/saber) using RMarkdown

[2019-09-11 00:02] wlach commented on #2231
Lots of possibilities here, ranging from very easy (e.g. adding an "app icon" for iodide) to medium-complex (caching server-side assets locally for faster load times) to complex (allowing *everything* to work offline). I'd recommend reading through some of the online resources on service workers to get a better sense of how this might work. e.g. :

https://developer.mozilla.org/en-US/docs/Web/API/

[2019-09-11 19:27] agilevic opened #2237 "List of pathlib.Path objects fails to render into JavaScript"
Encountered online at alpha.iodide.io

### What I Did

This works works as expected.
[code]
So does this
[code]

But the following fails. The Pyodide console reports an array of 5 elements but when expanded, returns this error:

A value renderer encountered an error.
TypeError: Cannot read property 'childItems' of null

[code]
### What I Expected

List of PosixPath objects (their __repr__() specif

[2019-09-16 16:38] fbertsch opened #2254 "Value Renderer encountered an error"
Short summary of the bug. Please include the IODIDE version number where you found the bug - if you are just running locally (building for dev or prod) you can put MASTER

### What I Did

Import some data from re:dash, use Python, run `pd.DataFrame.from_records([dict(r) for r in dataset.query_result.data.rows]).dtypes` in the console, and try and expand the resulting array

### What I Expected

An

[2019-09-16 19:55] bcolloran commented on #1801
fixed via https://github.com/iodide-project/iodide/issues/2007

[2019-09-16 19:57] bcolloran commented on #1689
fixed at some point in the last couple months

[2019-09-16 19:57] #1689 closed

[2019-09-16 19:58] bcolloran commented on #1488
obsolete / fixed

[2019-09-16 19:58] #1488 closed

[2019-09-16 20:11] bcolloran opened #2255 "update language plugin handling code to work with non-local language plugins"
the current schema for language plugins is:

[code]

Of these, for remote languages we probably just need
- pluginType (which could be e.g. "remote-language", "remote-kernel", "remote-evaluation" or something else probably including the word "remote"),
- languageId, and
- displayName

But surely we'll need to add other fields to handle remote kernels.

@jezdez you're closest to this at the moment,

[2019-09-16 20:14] bcolloran commented on #2237
this is probably the same underlying issue as https://github.com/iodide-project/iodide/issues/2254

[2019-09-16 20:21] bcolloran commented on #2103
i think this is not too difficult of an issue to fix -- i think it should just amount to using the current list of languages to populate the console menu.

[2019-09-16 20:23] bcolloran commented on #2104
i'm not sure, but i think this should not be too difficult. it would be good to try https://github.com/iodide-project/iodide/issues/2103 first, which is in the same part of the code, but probably a bit easier

[2019-09-16 20:25] bcolloran commented on #912
closing -- no one has yet been able to reproduce

[2019-09-16 20:25] #912 closed

[2019-09-16 20:26] bcolloran commented on #603
obsolete, current;y being fixed and tracked elsewhere

[2019-09-16 20:26] #603 closed

[2019-09-16 20:33] #729 closed

[2019-09-16 20:39] bcolloran commented on #800
Turns out that this is the behavior in Chrome and FF devtools as well -- i think autoscrolling would actually introduce a number of weird edge cases, so i think the current behavior is actually ok. closing

[2019-09-16 20:39] #800 closed

[2019-09-16 20:40] bcolloran commented on #992
hey hey, this is long since fixed!

[2019-09-16 20:40] #992 closed

[2019-09-16 20:42] bcolloran commented on #804
related to https://github.com/iodide-project/iodide/issues/2141

[2019-09-16 22:14] vadimkantorov commented on #1801
Do I understand correctly that the git revision is now available in the footer? But not in the programmatic way, right?

[2019-09-16 22:32] Algentile commented on #1801
Hey @vadimkantorov,

As of right now the commit hash for the last git revision is rendered in the footer of the iodide documentation modal. Currently we are using the [Webpack Git Revision Plugin](https://github.com/pirelenito/git-revision-webpack-plugin) to grab the commit hash on build and expose the process environment variables.

[2019-09-16 22:38] bcolloran commented on #1801
That's right @vadimkantorov it's available in the footer of the main site, and in the "Getting started" tab of the help modal. I thought that satisfied your original request for the info in the help page, do you need it programmatically as well? if so, i'll update the issue name.

[2019-09-16 22:38] #1801 closed

[2019-09-16 22:53] vadimkantorov commented on #1801
You are gith, it satisfies my original request. However, we can easily imagine someone using pyodide as a javascript library. Then being able to request the actual git revision is useful as well.

[2019-09-16 23:28] bcolloran commented on #1801
sorry, i think i'm not understanding -- you mean you want the *pyodide* git hash in addition to what @mdboom mentioned above?-- https://github.com/iodide-project/iodide/issues/1801#issuecomment-489912036 ... if this is what you need, would you mind filing a new issue in the pyodide repo?

in case you need do you need the *iodide* git hash to be available programmatically via the iodide API, that s

[2019-09-17 00:44] mehmetoguzderin opened #2259 "Notebook history does not hide "Unsaved Changes""
With the latest changes, expected behavior for notebook history is to hide "Unsaved Changes" when there are no differences. However, this does not hold in a case.

# Steps to Reproduce
1. Create a new notebook
2. In an empty line, press enter and delete
3. "Unsaved Changes" with "No difference." shows up
4. Page refresh fixes

[2019-09-17 01:13] mehmetoguzderin opened #2260 "Notebook history does not handle single new line"
Revision browser does not show one new empty line as difference. The new line is detected correctly, saved but the difference is not visible in the revision browser. There are no problems with more than one empty new lines.

# Steps to Reproduce
- Create a new notebook
- Add a single new line anywhere
- Check notebook history

[2019-09-17 16:42] mehmetoguzderin opened #2265 "Report Interactions that Project to IOMD Code"
An interface to languages that make it possible to have interactions in report view affect IOMD code could be beneficial in many use cases.
[to be detailed]

# Use Cases
- Markdown Cells
  - Interactable checkboxes
     - Similar to GitHub Issues
- 3D Modeling Cells?
  - Interactive tuning for node transformations
- Tabular Data Cells?
  - Interactive editing of data

# Depends on
- Collaborative

[2019-09-17 16:54] #2200 closed

[2019-09-19 18:10] wlach commented on #2260
This sounds like a bug in `react-diff-viewer`, if you wanted to provide a test case and a PR there, we could pick up the fix on their next release.

[2019-09-19 18:20] bcolloran opened #2275 "migrate diff viewer to use monaco's diff viewer"
monaco editor comes with the diff viewer used by vscode. this is obviously very actively maintained and quite polished, and migrating would also remove a dependency which is always nice. we should migrate to it when we can.

[2019-09-19 18:24] bcolloran commented on #2260
@wlach @mehmetoguzderin created a new issue #2275 about moving off of `react-diff-viewer`. just posting here as an fyi since you guys are looking at the diff viewer stuff. @mehmetoguzderin if this is of interest to you, you'd be very welcome to give it a shot.

[2019-09-19 18:29] bcolloran commented on #2275
little more on this: i'm not sure how involved this will be; it might be trick or it might be pretty easy. we'd need to create a custom component to instantiate the monaco diff viewer, along the lines of the [editor component](https://github.com/iodide-project/iodide/blob/master/src/editor/components/iomd-editor/iomd-editor.jsx) but i think waaaay simpler since the state updating would not need to

[2019-09-19 18:33] wlach commented on #2275
FWIW, our usage of react-diff-viewer is very very simple (as is the component):

https://github.com/iodide-project/iodide/blob/dbfa9999eb48f989288830d3e399520cc743983b/src/editor/components/modals/revision-diff.jsx#L67

[2019-09-19 19:52] mehmetoguzderin commented on #2260
I think I can try it out!

[2019-09-19 23:48] bcolloran commented on #2061
this is probably blocked for the time being by the the work @openjck is doing on drag and drop file uploader. Once that work lands, this would be an extension of that work which would detect files with ".ipynb" extension and parse and convert them.

[2019-09-19 23:50] bcolloran commented on #2023
now that #1943 is fixed, this is ready for work. as will says, this could be a good first issue for a contributor.

[2019-09-19 23:55] bcolloran opened #2276 "store API keys privately for use in file sources and fetch chunks (and etc?)"
quoth @teonbrooks in https://github.com/iodide-project/iodide/issues/1976#issue-461202796
"as a user, I would like to be able to store my secret keys for use in some web api calls. currently, the api key is exposed in the Iodide notebook. this would be useful internally for accessing Bugzilla to retrieve private bugs. Something similar to how Glitch stores private keys would be nice"

[2019-09-19 23:56] bcolloran commented on #1976
@teonbrooks @wlach @hamilton -- with "file sources" landed, i'm going to close this one. congrats guys! :confetti_ball:

opened https://github.com/iodide-project/iodide/issues/2276 to track the api key request in particular

[2019-09-19 23:56] #1976 closed

[2019-09-19 23:59] bcolloran commented on #1899
fixed at some point after #1943

[2019-09-19 23:59] #1899 closed

[2019-09-20 00:02] #1836 closed

[2019-09-20 00:05] bcolloran commented on #1787
fixed with #1884

[2019-09-20 00:05] #1787 closed

[2019-09-20 00:10] bcolloran commented on #2254
almost certainly the same as https://github.com/iodide-project/iodide/issues/1748

[2019-09-20 00:15] bcolloran commented on #1720
(note: this is much less important now that we have so few react components in the eval-frame)

[2019-09-20 00:25] bcolloran commented on #1422
updated title to reflect discussion -- this really only matters for the report styles, where we want to ensure that content authors and readers will see the same thing across platforms. the editor UI (menus and stuff)using system fonts is fine.

[2019-09-23 20:31] #2259 closed

[2019-09-23 20:39] bcolloran commented on #2170
note: as of 2019-09-23, i think we should put this on hold. it's not actually on the critical path to making the decisions we need to make right now. But i'll leave it open -- we can revisit in a few months.

[2019-09-24 15:49] wlach opened #2287 "Uploaded files show as having "failed to upload" even though the operation was succesful"
### What I Did

On https://definitely-staging.iodide.io do the following:
* login
* create a notebook
* open up manage files
* upload a random local file

### What I Expected

File uploads, shows up in file dialog

### What Happened

It says "file failed to upload". Refreshing the notebook and looking at file sources shows that the upload did succeed. This is a regression from the last release: th

[2019-09-24 16:45] Algentile commented on #2103
Hey @bcolloran,

I have some bandwidth this week to pick up this issue unless another contributor  / collaborator  wants to pick it up.

[2019-09-24 20:13] wlach commented on #2287
Taking this

[2019-09-24 21:18] #2287 closed

[2019-09-24 22:52] bcolloran commented on #2287
thanks @wlach! :+1:

[2019-09-24 22:54] bcolloran commented on #2103
awesome, thanks @Algentile! It's all yours :-)

[2019-09-25 20:16] mehmetoguzderin opened #2297 "`ReadTimeoutError` with Local Development using WSL 2"
# Environment
Operating System
Edition: Windows 10 Pro
Version: 1903
OS Build: 18990.1
Insider: Fast Cycle
Windows Subsystem for Linux 2
OS: Ubuntu
Version: 1804.2019.521.0
# Problem
When `make build` is run in the given environment, build keeps producing `ReadTimeoutError` error.
Sometimes it succeeds.
# Error (example, can happen on any module)
WARNING: Retrying (Retry(total=4, connect=None, rea

[2019-09-25 22:36] mehmetoguzderin commented on #2175
I think this is highly related to issue [2265](https://github.com/iodide-project/iodide/issues/2265) since both aim to shorten artistic iteration times while keeping intuitive. Maybe these two could be tracked under one roof with more generalized objectives and exposed hooks to language plugins.

[2019-09-27 08:57] MayeulC commented on #727
Well, I am sorry to reply this late. I ended up going with Brython: https://github.com/brython-dev/brython/issues/1131

The issue I had was that writing `print("hello")` in python would not print any output, except in the browser console. I would have liked it *that* simple for students and beginners alike.

[2019-10-01 14:08] wlach commented on #2297
@mehmetoguzderin can you attach a larger log of what's going on, perhaps as a gist?

[2019-10-03 21:13] wlach opened #2330 "Forked PR's fail CI"
Since we enabled codecov, it looks like forked PRs are now failing the test-server job with this:

[code]

See e.g. #2329

I think this is because the `CODECOV_TOKEN` variable is private to iodide. There is an option in circle [to pass secrets from forked PRs](https://circleci.com/docs/2.0/oss/#pass-secrets-to-builds-from-forked-pull-requests), but we probably don't want to blanket enable that: I

[2019-10-04 15:12] wlach commented on #2330
So I went ahead and fixed this, but the approach

[2019-10-04 15:14] wlach opened #2333 "Approach of importing circleci vars into docker compose container is ugly"
To fix #2330 I imported the circle environment into the docker compose environment in #2332. This is pretty ugly, and there's probably a better approach here. Maybe we can just copy the codecov report out of docker compose and upload it from the circle environment? @jezdez wdyt?

[2019-10-04 15:15] wlach commented on #2330
I resolved this in a hacky way in #2332. Filed a bug about finding a better solution in #2333.

[2019-10-04 15:15] #2330 closed

[2019-10-05 12:33] mehmetoguzderin commented on #2297
Turns out to be a router issue

[2019-10-05 12:33] #2297 closed

[2019-10-07 15:50] Jsalaz1989 commented on #2178
Any news on this front?

[2019-10-07 16:03] Algentile commented on #2333
It appears that there is now a codecov orb that seems to be easily integrated with circle ci [https://circleci.com/blog/get-started-with-google-binary-authorization/](https://circleci.com/blog/get-started-with-google-binary-authorization/). Although it appears to use orbs we would need to migrate to circle CI 2.1 if we wanted to use this option.

[2019-10-08 17:42] bcolloran commented on #2132
@wlach did you fix this with https://github.com/iodide-project/iodide/pull/2289 ?

[2019-10-08 17:47] bcolloran commented on #2100
fixed by #2154. thank you @Algentile !

[2019-10-08 17:47] #2100 closed

[2019-10-08 17:58] bcolloran commented on #2047
this functionality was added somewhere along the way...

[2019-10-08 17:58] #2047 closed

[2019-10-08 18:02] bcolloran commented on #1862
@wlach did you address this to your satisfaction?

[2019-10-08 18:09] #1822 closed

[2019-10-08 18:13] bcolloran commented on #1748
superseded by #2254

[2019-10-08 18:13] #1748 closed

[2019-10-08 18:13] bcolloran commented on #2237
superseded by #2254

[2019-10-08 18:13] #2237 closed

[2019-10-08 18:24] bcolloran commented on #1691
i see this too sometimes. i think it happens if i'm refreshing a bunch, but i can't say for sure that it only occurs in that condition

[2019-10-08 18:54] bcolloran commented on #1100
i think we have a solution for authorized POST, and that we don't actually want to support anonymous POST. we could open a new issue for POST with api keys if that turns out to be a thing that people want

[2019-10-08 18:54] #1100 closed

[2019-10-08 19:17] bcolloran commented on #841
(assuming fixed; if not obsolete/not burning)

[2019-10-08 19:17] #841 closed

[2019-10-08 19:18] bcolloran commented on #897
stale

[2019-10-08 19:18] #897 closed

[2019-10-08 19:20] bcolloran commented on #439
this has been implemented

[2019-10-08 19:20] #439 closed

[2019-10-08 19:21] bcolloran commented on #621
obsolete

[2019-10-08 19:21] #621 closed

[2019-10-08 19:40] bcolloran opened #2345 "Should update userDefinedVarNames in state even when eval errors"
currently, userDefinedVarNames only updates after an eval that runs to completion without error, but variables can be successfully defined even if the chunk errors overall. see this NB, watch the workspace pane:
https://alpha.iodide.io/notebooks/3404/

i think this is a quick fix in eval-queue-saga.js

[2019-10-08 20:38] #1725 closed

[2019-10-10 19:42] wlach commented on #2333
Interesting! I would be open to using that if it solves our problems, I haven't yet had a chance to look into CircleCI orbs.

[2019-10-11 15:52] openjck opened #2353 "Enforce a maximum number of file uploads and expose the limit to the front-end"
In #2327, we're enforcing a maximum of 8 file uploads to a single notebook. We should enforce this on the server-side and expose the limit (maybe 8, maybe some other number) to the front-end.

[2019-10-15 18:15] ethanchewy opened #2362 "Adding Pylint Support to Pyodide"
Hi there!

This project seems really awesome how the pyodide team was able to create a way for Python to be run completely client side!!!

Just curious, would the pyodide team be open if I created a way that would allow for live python syntax checking similar to how it looks over here: https://pythonbuddy.com/?

Thanks for this awesome project!

[2019-10-15 18:47] bcolloran commented on #2362
thanks for your interest @ethanchewy ! We intend to enable this kind of syntax checking via the Monaco/vscode language servers, but it may be down the road a bit. It looks like you might have some experience with this kind of thing from your work on Pythonbuddy -- if you'd like to contribute, we'd love the help accelerating that work! :-)

[2019-10-15 21:15] ethanchewy commented on #2362
Sweet! I'll create a fork and keep you updated on my progress in the meantime :)

[2019-10-18 16:18] #2133 closed

[2019-10-21 10:56] jezdez commented on #2333
@wlach Yeah, I like just copying the coverage.xml to the CI machine, much saner than the weird environment passing. I'll send a PR.

[2019-10-21 14:18] wlach commented on #2333
This is resolved with #2374

[2019-10-21 14:18] #2333 closed

[2019-10-21 19:09] jacobq commented on #1835
Ah, I think I figured it out...should be using a `fetch` chunk:

[code]

[2019-10-22 02:34] jacobq commented on #1835
It solves that problem. However, I guess I was hoping for an easier way to add UI elements, especially input controls. Looks like right now there is no built-in support for this; it has to be added just like it would be for any other web page, is that right?

[2019-10-22 03:22] bcolloran commented on #1835
yes for the time being that's correct. streamlining the story around building UIs is definitely something we're thinking about, but it's not there yet.

[2019-10-22 16:42] #2215 closed

[2019-10-29 05:21] #2254 closed

[2019-10-29 15:36] #2275 closed

[2019-10-29 18:13] bcolloran commented on #1696
@wlach @teonbrooks did you guys fix this recently?

[2019-10-29 18:37] teonbrooks commented on #1696
yup, #2344 closed this

[2019-10-29 18:56] #1696 closed

[2019-10-30 11:11] mash-graz opened #2401 "rust language support"
i'm just curious, if someone already has started to develop support for the rust language for iodide?

for jupyter there is [evcxr](https://github.com/google/evcxr) available to evaluate little rust fragments in a notebook like manner. using its core library in iodide/pyodide would IMHO make a lot of sense, because rust and its WASM retated features already used for the developement of this softwa

[2019-10-30 16:54] wlach commented on #2401
This would be interesting, I guess the main question would be how to compile rust to webassembly should that it could be executed in the browser. There's two options here:

1. Porting emscripten itself to webassembly (sounds really hard) and compile rust inside the brwoser
2. Having a server-side process for accepting code fragments and returning webassembly as a response (also hard, but probably

[2019-10-30 21:18] wlach commented on #2023
I'm going to take this one

[2019-10-30 22:50] acmiyaguchi opened #2403 "Navigating between explore and report page with back button does not work"
A common thing I do is to write some code in the "explore" mode, and check on the "report" mode occasionally. My first reaction to go from the report mode back into explore is to hit the back button, which navigates back to the previous page (not the explore view).

### What I Did

1. Start at https://alpha.iodide.io/ (the homepage)
2. Click on "A Brief Tour through Iodide" (or any other notebook)

[2019-10-30 22:52] acmiyaguchi commented on #2403
This is somewhat related to #1725, but for the browser back button.

[2019-10-31 20:05] #2023 closed

[2019-11-01 07:36] Eagle732 commented on #2103
hey @bcolloran, If it is possible to pick it up and try solving this issue. Also, give some tips regarding how to proceed.

[2019-11-01 14:50] wlach commented on #2403
This should not be very hard to fix. We need to push the state (instead of replacing it) when switching modes:

https://github.com/iodide-project/iodide/blob/8a176a44858018d0e8f4230154235778da2c5d2f/src/editor/actions/notebook-actions.js#L41

And also watch document history for this mode to change, probably somewhere around here:

https://github.com/iodide-project/iodide/blob/master/src/editor/ind

[2019-11-02 22:54] mash-graz commented on #2401
yes -- you are right! it doesn't look like an easy task to prepare the necessary tools as web/wasi components. all the practical implementaions, which try to solve similar tasks (evcxr, rust-playground and webassembly studio) actually handle it in a client-server manner by utilizing native tools on the host side. but eliminating this requirement is IMHO exactly the most fascinating feature of your

[2019-11-05 13:56] wlach commented on #2115
This actually was just a duplicate of #1278.

[2019-11-05 13:56] #2115 closed

[2019-11-05 13:57] wlach commented on #1278
Another internal example of this error case: https://definitely-staging.iodide.io/notebooks/210/

[2019-11-05 15:19] Algentile commented on #2103
Hey @Eagle732 I was assigned this issue a while ago and haven't pushed up the changes due to being on somewhat hiatus due to medical reasons. If you want to hop on this issue you can add fetch and css to the language defintions or modify the map that is being rendered on the chunk scrollback in order compile the other chunk options.

[2019-11-05 17:06] #1278 closed

[2019-11-08 00:43] Eagle732 commented on #2103
Okay thank you for your suggestions I am working on it.

[2019-11-10 03:15] Eagle732 commented on #2103
Hey @bcolloran, I want some more description regarding

"**modify the map that is being rendered on the chunk scrollback in order to compile the other chunk options**".  and
 "**console should update active language when going through scrollback to match the language of evaled code** "
whether the selected chunk should be highlighted when it is selected and the type of chunk it is, should be set a

[2019-11-12 01:24] bcolloran commented on #2103
This issue covers two ideas:
1) when you are using the console, you can press the up arrow key to "scroll back" through the history of code you have evaluated. The problem is that if you have evaluated a number of different chunk types, for example a `fetch` chunk then a `js` chunk then a `py`, when you scroll back through the history, the code type shown in the menu at the right in the console do

[2019-11-13 01:44] Eagle732 commented on #2103
Okay, thanks for the description... working on it.

[2019-11-15 13:41] Hrtkk commented on #2104
Hii, @bcolloran I have sent the pull request. please review it.

[2019-11-15 14:12] Hrtkk commented on #2103
Hey @bcolloran, I have some confusion regarding
**the console menu only shows "code" chunk types; it should also show other "runnable" chunk types, which you can add from the RUNNABLE_CHUNK_TYPES const in the state-schema**

As the console menu is only language constraint. The menu is loading languages from **language-definitions**. For adding **fetch and plugin chunk**, I don't think I should mod

[2019-11-15 21:49] felixlawrence opened #2439 "When truncating numbers in scientific notation, don't truncate the exponent!"
[Minimal example](https://definitely-staging.iodide.io/notebooks/220/)

The exponent was truncated from 8.3e-308, so that the number read as 8.3. I had to expand the result view to see that the number was closer to 0 than 8.

### What I Did

[code]

### What I Expected

```Array(2)[8.3210079975e-308, 0.6852718992213929]```

### What Happened

```Array(2)[8.3210079975, 0.6852718992213929]```

(i.e.

[2019-11-15 22:04] felixlawrence opened #2440 "Calculation errors involving numpy int64s"
I get incorrect answers out of scipy when I give the input as a `np.int64`.

### What I Did

[code]

### What I Expected

```Float64Array(2)[0.662040319585152, 0.6852718992213929]```

### What Happened

```Float64Array(2)[8.3210077774, 0.6852718992213929]```

(Note that the first element here is actually 8.32e-308, per #2439 )

### (if applicable) notebook that reproduces bug

https://iodide.telem

[2019-11-15 22:11] felixlawrence commented on #2440
wlach pointed out that this is more likely a pyodide bug - I filed this over there as https://github.com/iodide-project/pyodide/issues/556

[2019-11-15 22:11] #2440 closed

[2019-11-18 16:00] wlach opened #2444 "Allow running simple-serve from a port other than 8000"
It would be nice to allow people to run simple serve on a port other than 8000, in case they're running another server/service on this port.

[2019-11-18 16:01] zzl0 commented on #2444
I will take this

[2019-11-18 16:16] wlach commented on #1786
Looked at this at the pyodide sprint with @imranarrifin. It seems like this is more or less solved by #407, going to close

[2019-11-18 16:22] imranariffin commented on #1015
After dicussion with @wlach during Pycon 2019 Sprint it appears this issue was already worked on and merged by PR #1119 but later reverted, the labels "help wanted" and "good first issue" should probably be removed.

[2019-11-18 16:23] vadimkantorov commented on #1786
@wlach Changeset in https://github.com/iodide-project/iodide/pull/407/files seems to have no mention of open_url or other fetching functionality

[2019-11-18 16:34] wlach opened #2445 "Get an error when completely erasing default notebook content"
How to reproduce:

1. Create a new notebook
2. Erase all content
3. Switch tabs or wait a while

Result:

Get this error:

![image](https://user-images.githubusercontent.com/20569/69070902-0396ad80-09f7-11ea-8159-5b75805f84a9.png)

It appears that the `/api/notebooks/<notebook>/revisions/` endpoint does not accept an empty string, but it really should. Code which should be changed probably around

[2019-11-18 16:35] vadimkantorov commented on #1786
@wlach Ah, ok, just bad link in your comment: it links a PR407 instead of an issue407

[2019-11-18 16:36] imranariffin commented on #2445
Thanks for creating the issue @wlach, I'd like to work on this.

Can you assign this issue to me?

[2019-11-18 18:32] wlach commented on #2445
Sorry for the delay, done now

[2019-11-18 18:42] bcolloran commented on #1015
@imranariffin thanks for the comment! i think this probably is a still a good first issue, as the scope has changed since the original implementation about a year ago -- there is now a menu component in the console, and this issue would just require the addition of a entry in that menu that clears the evaluation history in the redux store, which should be pretty simple. It would just be:

[code]

[2019-11-18 19:02] wlach commented on #1015
@bcolloran makes sense to me! @imranariffin -- let me know if you're interested in working on this afterwards.

[2019-11-18 19:30] imranariffin commented on #2445
No worries, thank you!

[2019-11-18 19:58] wlach opened #2446 "text in language selector should be vertically aligned"
Currently the text in the language selector seems to be aligned with the bottom, it should be centre-aligned:

![image](https://user-images.githubusercontent.com/20569/69085302-cbea2e80-0a13-11ea-9546-dd25e04a2ba3.png)

[2019-11-18 19:58] nikijiandani commented on #2446
I'll take this

[2019-11-18 20:09] wlach opened #2447 "Better workflow for drag & dropping excel files into Iodide"
Dragging and dropping an excel file into an iodide notebook currently works (e.g. this notebook was created that way: https://alpha.iodide.io/notebooks/3662/) however there are no clear instructions for what to do with the result. For this particular case, we should probably pre-populate a notebook with the right incantations for loading it with pandas.

First step is to figure out how to load exc

[2019-11-18 20:17] imranariffin commented on #1015
If @wlach I'm really happy to pick up this one afterwards, but first let's see how well I do on my current issue #2445 xD

[2019-11-18 20:35] wlach commented on #1786
Sorry! Should not have closed this, the history here is quite confusing as we already have "arrayBuffer" fetch types.

It seems like this issue is still valid, though it is definitely far from being a "good first issue" as it involves unwinding a fair bit of internals on the client side. I think as a strawman, we should go with `bytes` here as a fetch type.

[2019-11-18 21:12] nikijiandani commented on #2446
#2450

[2019-11-18 21:23] wlach opened #2451 "New revisions should be marked as "draft", and should automatically prune drafts"
Currently we save new revisions of each iodide notebook every 30 seconds:

https://github.com/iodide-project/iodide/blob/6f3d61d8f559e27609140cc3f4e3ba0877b69eee/src/editor/actions/autosave-actions.js#L6

This leads to a lot of redundant revisions in notebooks with even a modest amount of history, which can make the history viewer hard to use. We should probably put a cap on the number of revision

[2019-11-18 21:24] wlach commented on #2451
@zzl0 is interested in taking this on

[2019-11-18 21:28] #2444 closed

[2019-11-18 21:30] zzl0 commented on #2451
@wlach thanks for creating this issue

[2019-11-18 21:57] wlach commented on #2439
@nikijiandani is interested in taking this on

[2019-11-18 22:02] #2446 closed

[2019-11-18 22:06] nikijiandani commented on #2439
Working on this right now.

[2019-11-19 14:58] zzl0 commented on #2451
Hi William,

Good morning, after thinking more about the issue "This leads to a lot of redundant revisions in notebooks with even a modest amount of history, which can make the history viewer hard to use" [1], I have some questions about current proposal:

1. What do you mean by "redundant"? I assume there are some [small] difference between every two revisions.
2. Should we slove this issue by gr

[2019-11-19 14:58] #2445 closed

[2019-11-19 15:10] wlach commented on #2451
Good questions!

Maybe "redundant" is not the best term -- perhaps "excessive" would be better. You are correct that there should be a small difference between every two revisions, but the amount of changes a user can make within one minute is not too great. For the purpose of keeping a paper trail, I think keeping a persistent log of changes at one minute intervals should be sufficient.

We can a

[2019-11-19 15:23] imranariffin commented on #1853
@wlach I think I can pick up this one.

[2019-11-19 15:25] zzl0 commented on #2451
Thank you @wlach for the detailed explanation! Sounds good to me, I will continue working on this.

[2019-11-19 15:59] wlach commented on #1362
I am not sure if selenium is still the best technology for this, there might be other options we could consider. Updating title accordingly.

[2019-11-19 16:54] imranariffin commented on #1853
Thanks!

[2019-11-19 18:47] wlach commented on #1291
@jphildebrandt is looking at adding a description field to the notebook, which is a start at resolving this.

[2019-11-19 19:09] wlach opened #2456 "Binary dragged & dropped files should not be fetched as text by default"
Steps to reproduce:
* drag & drop a binary file into iodide main page (e.g. an excel file called `Furniture_only.xls`)

Expected:
[code]

Got:
[code]

It is still a pain to do something with the excel file (#2447) but the fact that we're fetching the file as text is yet another roadblock. Perhaps we could sniff the type of the uploaded file and then set this property of the created notebook accord

[2019-11-19 19:12] wlach commented on #2447
I finally got it working yesterday after a bit of flailing around: https://definitely-staging.iodide.io/notebooks/221/

Notes:
* when you create a file by dragging, it always assumes the type is text (even when it's binary), filed #2456 for this
* there are several non-trivial transformations that need to be made to the blob that was fetched before it can by input into pandas. Adding a "bytes" typ

[2019-11-19 21:27] bcolloran opened #2458 "pandas tables getting truncated in reps in Firefox"
see https://definitely-staging.iodide.io/notebooks/221/

using a fixed height seems ok, but html based reps should certainly be able to use the whole horizontal space -- for a table this narrow, horizontal scrolling should definitely not be required

[2019-11-21 07:15] CruiseDevice commented on #2458
Does this mean that the table should occupy entire width of the console? And when the columns exceed the console width, there should be scrolling. right?

[2019-11-21 15:43] wlach commented on #1228
This is just the file sources work from last summer.

[2019-11-21 15:43] #1228 closed

[2019-11-21 22:09] bcolloran commented on #2458
that's correct (i'll also add that the tables need not expand to fill the whole width)

[2019-11-25 20:48] Algentile commented on #2403
Hey @wlach, @bcolloran,

I can look into this issue, as @acmiyaguchi mentioned we handle this case somewhat, but by intercepting the backspace keybind. I think we can make it a bit smarter using @wlach suggestion of identifying the change in the document history state, and if any changes have been recorded from the original we can introduce warning dialog for back button.

[2019-11-25 21:51] wlach commented on #2403
That would be amazing!

[2019-11-26 18:38] #1853 closed

[2019-11-27 15:11] wlach commented on #1786
@imranariffin is interested in taking this one on

[2019-11-27 17:02] wlach commented on #2456
Did some spelunking and the code in question is here:

https://github.com/iodide-project/iodide/blob/bd3ea6626e8dfe58ff471ed29e2aa27c4b2e3272/src/server/pages/home-page.jsx#L160

The file object we're destructuring and mapping also has a `type` property in addition to a name (e.g. `text/csv`, `image/png`). A quick win here would be to use `blob` if the type property does not start with "text".

[2019-11-27 17:03] wlach commented on #2456
Working on this will require setting up the full server implementation (since the home page isn't visible with simple-serve) but should not otherwise be too difficult.

[2019-12-02 02:34] zzl0 opened #2497 "test_post_to_file_api is not stable"
`test_post_to_file_api` test will fail when run it the second time.

### What I Did

[code]
### What I Expected

I expect the test always succeed.

### What Happened

[code]

[2019-12-02 15:57] #2497 closed

[2019-12-02 15:57] wlach commented on #2497
Yeah, we shouldn't be relying on ids having specific values in tests.

[2019-12-03 00:17] #2439 closed

[2019-12-03 22:16] designakt opened #2507 "Text flickers in Firefox on changing attributes when Open Sans is part of the font stack"
IODIDE revision 5d17a16be1

### What I Did
<img width="260" alt="Yandex-Safety-Feature-Sync" src="https://user-images.githubusercontent.com/8145891/70094335-9acc4980-1622-11ea-8d29-31b539142bc7.png">

### What I Expected
no flicker (see Chrome in image above)

### What Happened
flicker on change of attributes - also if changed through code, not just when changed in the inspector - which results in

[2019-12-03 22:36] bcolloran commented on #2104
fixed via #2508

[2019-12-03 22:36] #2104 closed

[2019-12-03 22:37] wlach commented on #2507
@designakt I actually suspect this might be a bug in Firefox itself. What version of MacOS X and Firefox are you using? I can't actually reproduce on Mojave/Nightly here.

We should probably try to find a way to reproduce this in a more "normal" environment (e.g. a simple html page)

[2019-12-04 13:56] designakt commented on #2507
I suspected that too, and tried replicating in codepen, but couldn't.
I am using Firefox Nightly on Windows 10, and can replicate on Firefox release on Windows 10 as well as Nightly on macOS Catalina.

[2019-12-04 17:42] #2451 closed

[2019-12-04 17:53] wlach commented on #2458
hmm, I actually am not seeing the problem you seem to be describing on my machine:

![image](https://user-images.githubusercontent.com/20569/70167508-e1f32280-1694-11ea-9079-70a8fac90c79.png)

Can you post a screenshot of what you're seeing? And also what version of Firefox and OS you're using. This sounds suspiciously like a Firefox layout bug

[2019-12-04 18:50] bcolloran commented on #2458
yep it's a firefox layout bug, as described here:
https://stackoverflow.com/a/59050187
https://stackoverflow.com/questions/39738265/firefox-displays-unnecessary-horizontal-scrollbar

firefox 70.0.1 linux mint:
![image](https://user-images.githubusercontent.com/2380975/70171380-76548980-1683-11ea-984a-3e363216ab9f.png)

chromium 78.0.3904.108, linux mint:
![image](https://user-images.githubusercont

[2019-12-04 20:00] wlach commented on #2458
I filed an actual Firefox bug for this so we can hopefully at some point fix the root cause: https://bugzilla.mozilla.org/show_bug.cgi?id=1601409

[2019-12-05 00:09] bcolloran opened #2513 "fix centering of language label in code inputs, and remove use of `:before`"
![image](https://user-images.githubusercontent.com/2380975/70192222-e973f500-16af-11ea-8595-fe8436bb43a2.png)

the language labels in code inputs in the console are not centered well, and the use of the `:before` css selector in the file `src/editor/console/history/components/history-input-item.jsx` is weird. the label should be separate components/element, and should be attached to the dom the us

[2019-12-05 22:07] wlach commented on #2458
Fixed by #2509

[2019-12-05 22:07] #2458 closed

[2019-12-05 22:12] wlach opened #2517 "Revision coalescing sometimes results in two adjacent revisions with no changes"
#2461 added automatic revision coalescing of "draft" revisions, but there's one edge case where not taken into account:

Imagine a notebook with these three revisions:

[code]

This code will delete B but keep C, which is no different than A. In this case we should just delete both B and C, since the notebook hasn't really changed.

[2019-12-05 22:15] wlach commented on #2517
Continuing discussion with @zzl0 from https://github.com/iodide-project/iodide/pull/2461#issuecomment-561930576:

It just happened when testing a notebook on stage. 😄

I think the right solution is probably to delete both B and C, as I think the usual reason it happens is the user made an accidental change when opening a notebook.

Yup, I think that's what needs to happen.

[2019-12-06 04:08] bcolloran opened #2518 "reps should handle arrays with properties"
for example, regexes return arrays with string properties:
`/a/.exec("ablllkbakjbkjabjbasdfsd")`
but there is no way to see the string properties in the rep.

also, js is annoying for allowing this kind of stupid thing.

[2019-12-06 13:37] simlan123 opened #2524 "Demo broken"
I have noticed that the demo notebook (https://alpha.iodide.io/notebooks/300/) linked from the documentation seems to be broken. I tested it with Firefox, Chrome & Microsoft Edge (Chrome mobile) to rule out any browser issues. It looks like the color codes used to demo the dom interactions are somehow garbled:
![image](https://user-images.githubusercontent.com/291435/70326680-65e41080-1835-11ea-9f

[2019-12-06 17:57] #2524 closed

[2019-12-06 18:08] simlan123 commented on #2524
Wow that was fast! Thanks :)

[2019-12-10 18:19] bcolloran opened #2537 "further refinements to navigation interception"
along the lines of what I described in https://github.com/iodide-project/iodide/issues/2403#issuecomment-549942178 , i think there is more room to refine how and when we intercept navigation.

I think the desired behavior is that we should always make sure a user really intends to navigate away if doing so would cause them to lose work, either edits or novel computed state.

- if you arrive at the

[2019-12-10 20:27] Algentile commented on #2537
@bcolloran I think the one remaining edge case to consider is if we enter report mode after a change has been made alert on nav away as novel state still might be lost if edits are made, eval is run, then user enter's report mode.

I think one user brought up that their desired intention when using back button was to go from report mode to explore mode as a secondary option, this would require us

[2019-12-10 22:42] bcolloran commented on #2537
100% agree -- i was thinking of "make edits, eval code, enter report view" a subset of "make edits, eval code" -- whether the user enters report view or stays in explore view, they might lose evaluation state. and i think that one code path can cover both cases. do you think they need to be handled as separate cases?

in fact, i think that "make edits then eval code" is the set of steps needed to

[2019-12-13 04:18] imranariffin commented on #1786
My apologies on the silence from my part on this issue, it's been pretty busy for me the past two weeks but I do plan to come back to this over this weekend.

[2019-12-15 04:30] gregelin opened #2551 "Running Iodide notebooks ONLY in browser - No Server"
Short summary of the bug. Please include the IODIDE version number where you found the bug - if you are just running locally (building for dev or prod) you can put MASTER

### What I Did

I tried to run Iodide without a server -- just as a notebook. This would be very valuable, but it is unclear if it is possible or how to do it.

I tried to download the iodide HTML page on alpha.iodide.io and the

[2019-12-16 18:14] #2513 closed

[2019-12-16 19:23] wlach commented on #2551
This is actually the way Iodide used to work (each notebook was a self-contained bundle of html + js), but we found that a backend server is pretty much essential for being able to share your work with others.

We have discussed being able to export a copy of a notebook stored on a server elsewhere (#2178) but that seems a little different from what you're describing.

Can you give more detail on

[2019-12-17 14:57] wlach opened #2562 "Should be able to browse a read-only copy of files + file sources even when you don't own a notebook"
Currently we hide the option to open the files dialog if the user does not own a notebook (or is not logged in). However, it would sometimes be useful to be able to browse the files + file sources (the latter minus their URLs) of a notebook even in this state.

![image](https://user-images.githubusercontent.com/20569/71005390-98053600-20b1-11ea-9b10-c1067c806dfb.png)

I'd propose that when a user

[2019-12-17 16:40] ThobyV commented on #2456
Hi, I would love to work on this.

[2019-12-17 16:41] ThobyV commented on #2456
I'm a Gsoc 2020 aspirant.

[2019-12-17 16:42] ThobyV commented on #2562
May I work on this please?

[2019-12-17 16:51] wlach commented on #2456
Great! Go ahead and submit a PR, be sure to follow the guidelines here:

https://iodide-project.github.io/docs/contributing/

Note that there are no current plans for Iodide to participate in next year's GSOC.

[2019-12-17 16:52] wlach commented on #2562
You may, but please only commit to working on one issue at a time at first. :) We want to keep some issues open for other contributors.

[2019-12-17 17:18] mehmetoguzderin opened #2563 "Print whole report to PDF"
When converting to PDF using browser's printing functionality, due to iframe, it produces a cropped page. Example notebook:
https://alpha.iodide.io/notebooks/3427/?viewMode=report

[2019-12-17 17:20] teonbrooks commented on #1621
just bumping this issue up. I would like to be able to establish a template for reports that I am working on and be able to fork them from a "template" notebook

[2019-12-17 21:05] wlach commented on #2563
@mehmetoguzderin as I mentioned in the meeting, I think it might be worth trying to print *just* the iframe using the window.print command:

https://developer.mozilla.org/en-US/docs/Web/API/Window/print

The mechanism to call this would be the eval frame's port to the editor:

https://github.com/iodide-project/iodide/blob/69409c8f70731ed83ee18da828e3cb66ca966982/src/eval-frame/port-to-editor.js

W

[2019-12-17 21:23] mehmetoguzderin commented on #2563
@wlach Yes, I would like to try it on the weekend.

[2019-12-17 21:24] wlach commented on #2563
Excellent! I'll assign this to you for now

[2019-12-17 21:32] wlach opened #2565 "Add a simplified way of creating notebooks with no authentication credentials"
We added the capability for services to create notebook on a user's behalf in #, but it's a little bit of a pain to set up: administrative effort is required to configure both the iodide server and the service creating the notebook to use a special key.

It would be nice if we could just do everything on the client, wouldn't it? I originally thought this was intractable, but have since come up wit

[2019-12-17 21:34] mehmetoguzderin commented on #2563
@wlach Great!

[2019-12-17 21:35] bcolloran commented on #2563
re UI/UX, i think we need a better approach than adding another button in the top corner.

but it looks like maybe we can intercept attempts to print and trigger custom logic, so maybe we don't need to change the UI at all?--
https://developer.mozilla.org/en-US/docs/Web/API/WindowEventHandlers/onbeforeprint

[2019-12-17 21:44] wlach commented on #2563
Yeah agreed, that was just a suggestion for a first pass.

That sounds perfect! The best UI is no UI.

[2019-12-17 21:48] bcolloran commented on #2565
do we need to also worry about DOS-type attacks?--

(3) a malicious/buggy actor sends a bunch of POSTs that create a bunch of NBs on an iodide server

-- or is this covered by the existing mechanisms?

in any case, i think this is a great idea, and this potential attack vector is not a showstopper -- i think DOS is low-risk for now, and there are a lot of plausible mitigations. mostly just wonderi

[2019-12-17 21:52] wlach commented on #2565
Yeah I considered that. I'm not *too* worried about this, but there's a few things we could do if we want to be a bit cautious:

1. Automatically delete unclaimed new notebooks after some timeout
2. Limit new notebook creation to once every 5 seconds or so using something like django-ratelimit https://django-ratelimit.readthedocs.io/en/stable/rates.html

There's not much of a payoff for these kind

[2019-12-17 21:55] bcolloran commented on #2563
fwiw: off the top of my head, i think the way to do thiswould be something like:

assuming the `print` call is sent to the top level window and doesn't somehow cascade down to the iframe:

   - we would want to intercept the `print` call in the editor window
   - if `viewMode = explore`, do the normal print action
   - if `viewMode = report`, send a signal down to the iframe to trigger printing...

[2019-12-17 21:58] bcolloran commented on #2565
yep agreed, not too worried about it.

and those mitigation strategies (which IMO would be optional for a first-pass at this) seem like they'd cover us far into the future

[2019-12-18 06:52] Samrose-Ahmed opened #2567 "Help Icon in Header centering bug"
The Help Icon in the header is not centered properly. Also affects play and fast forward icons.
Affects Chrome and Safari based on my testing but not Firefox for some reason.

### What I Did
https://alpha.iodide.io/tryit/

### What I Expected

Icons should be centered.

### What Happened
![iconss](https://user-images.githubusercontent.com/9027301/71062168-b35a5a80-211e-11ea-8f26-f5dae3d960c8.png)

[2019-12-18 14:20] wlach commented on #2567
@Samrose-Ahmed good catch, I'd noticed this myself. Would you care to send a PR?

[2019-12-19 16:44] #1786 closed

[2019-12-19 22:42] wlach commented on #2562
I'm actually looking into this.

[2019-12-20 16:35] wlach commented on #2565
Was just using jsfiddle for something unrelated and they do something pretty ingenious. They allow creating a new just by posting a form directive. e.g. try opening one of these maps examples:

https://developers-dot-devsite-v2-prod.appspot.com/maps/documentation/javascript/examples/map-latlng-literal

I didn't know this but you can just open forms in a new tab and it'll post the form data as the

[2019-12-20 23:35] wlach commented on #2565
Just tested and this doesn't seem to be a magical solution, since the posted form will not have any authentication credentials associated with it (probably a good thing from a security perspective, now that I think of it). Something like this might still be an interesting option from the point of view of letting people try iodide on the public site, but we should think through the user stories and

[2019-12-21 16:14] hamilton commented on #2565
This is a at a high-level a great idea @wlach. I'd like to explore the different user stories behind this idea and think about the consequence, since I don't have a good read on whether this is the right design to achieve other potential intents (and downsides). I'm a bit skeptical of the original idea of automatic notebook claiming as suggested in the original comment (can't tell if that's still

[2019-12-22 00:03] mehmetoguzderin commented on #2563
@bcolloran @wlach

Unfortunately `window.onbeforeprint` does not affect the printing mechanism, the changes there are not always reflected in the print action; and neither its `window.matchMedia` substitute does on the devices I have tested. Although we can intercept control print combo, I am unsure how **Iodidic** it is given that on mobile devices, the preferred way to go is a UI button on the b

[2019-12-23 23:30] wlach commented on #2403
Hmm, sorry for the late reply on this, but I think this issue is not actually fixed. The behavior we want here is:

* User presses back button in report view (e.g. https://definitely-staging.iodide.io/notebooks/232/?viewMode=report)
* Iodide returns to "explore" view (including updating the URL e.g. https://definitely-staging.iodide.io/notebooks/232/) while preserving any state changes

The PR tha

[2019-12-23 23:35] wlach commented on #2537
The current behaviour is a bit frustrating -- while it's harder to lose your work than it used to be (good), I'm finding I'm getting a lot of warnings about losing work with notebooks I haven't ever modified when interacting with iodide (bad).

This plan sounds totally reasonable to me, it should be easy enough to hook into the redux actions that modify iomd and run code in order to track this "no

[2019-12-23 23:43] Algentile commented on #2537
Hey @wlach I will follow up with a PR that should close these issues. In the interim should we revert the change with the previous PR since it is providing warnings on notebooks that were not modified by the current working user?

[2019-12-23 23:51] wlach commented on #2537
I think it's ok to leave things as is for now, the current behaviour is a
little annoying, but arguably still better than what we had before since
it's now harder to lose data

On Mon, Dec 23, 2019, 18:43 Anthony Gentile <notifications@github.com>
wrote:

[2019-12-25 00:58] zzl0 commented on #2517
I am working on this

[2019-12-26 22:34] gregelin commented on #2551
@wlach I've been away.

I am precisely looking to run Iodide as note book with self-contained bundle of HTML and JS _without_ a backend server.

I do work for civilian federal government agencies (and previously worked in as federal government employee). The computers of government employees and contractors are very, very tightly controlled. Individuals cannot simply install Python, or Python pack

[2019-12-28 00:56] wlach commented on #1621
Looking into this one.

[2019-12-30 19:57] #2567 closed

[2019-12-31 17:57] #2517 closed

[2020-01-06 19:30] bcolloran commented on #2563
I'm opposed to adding another button to the report view -- we want the report to be as clean as possible, and to focus on user content, and we therefore we want to be very judicious about adding anything anything in that view. My belief is that for an online-first communication tool, print functionality will be very niche, so adding clutter to the report view to support it is not a worthwhile trad

[2020-01-06 19:37] wlach commented on #2563
I understand the sentiment (and agree with it) but IMO, hiding a print option behind a `...` button (which could also hold other things) would not be so bad. E.g. gmail does this for viewing messages:

![image](https://user-images.githubusercontent.com/20569/71843459-f3638c00-3091-11ea-8fe4-81512da054df.png)

[2020-01-06 19:38] bcolloran commented on #2403
@wlach the issue as-stated is not fixed (tho anthony does say "An alternative is to provide the same dialog when "backspace" is pressed."...), but the big problem here is users losing work, not back button behavior. as long as we warn users about navigating away, the major issue is solved. we can keep this open, but i think implementing this back button behavior is quite low priority

[2020-01-06 19:49] Algentile commented on #2403
Hey @bcolloran,

I believe @wlach reopened the issue because there are a few edge cases where intercepting the back button does prevent the loss of work, but in certain edge cases the event is captured even when back navigation occurs on notebooks that the have never been edited by the user, which is not a great user experience.

I have been slow on the implementation on this due to the fact that

[2020-01-06 19:59] bcolloran commented on #2403
hmm, i think will reopened this b/c of the part about pushing history and back button behavior rather than the bad experience bits you mention, which he brings up in #2537

but in any case, that you for the reminder @Algentile  -- perhaps this issue is now a subset of #2537 , which also talks about pushing history onto the stack and using the back button to move through that stack
https://github.c

[2020-01-06 20:18] wlach commented on #2403
I think these are really seperate issues, and should be kept as such. Really this bug has nothing to do with losing state per se-- it's just about making navigation events happen as the user interacts with iodide. If you have any more questions, please feel free to ping me either on gitter or in the iodide meeting and I'll be glad to explain more.

[2020-01-06 22:52] #1621 closed

[2020-01-07 19:07] wlach commented on #1601
I keep on wanting this for various things (most recently for a redash diff tool I was working on: https://iodide.telemetry.mozilla.org/notebooks/405/), I might look into implementing this soon.

[2020-01-10 15:47] #2562 closed

[2020-02-11 16:07] wlach opened #2680 "Allow attaching files to a trial notebook"
For the purposes of experimentation, it would be nice to allow users to attach/use files with a trial notebook. Obviously we can't *actually* add the files to the notebook, since we don't have permissions to do so, but we could probably fake it by adding a cached copy of the files and then uploading them if/when the user logs in and saves the notebook.

Off the top of my head, I think this would h

[2020-02-11 16:17] wlach opened #2681 "Allow creation of Iodide notebooks with files pre-attached via a POST request"
#2676, when landed, should add the capability to create an iodide notebook from a template just by passing an `iomd` parameter to the get request. This is a good start, but doesn't handle the (probably common) case where the user might want to attach a file or two to the notebook.

The amount of content we can put in a URL caps out at varying lengths depending on your client/server (https://stacko

[2020-02-11 16:32] wlach opened #2682 "github authentication shouldn't use URL query parameters"
This is apparently deprecated and will be removed by July. I am currently getting an annoying email every day from github about it. The right place to fix this is in the social-core package we're using for github authentication, it looks like there is an open PR for it already:

python-social-auth/social-core#428

When this is merged and a new release is made, we should be able to just fix this by

[2020-02-11 23:31] #2565 closed

[2020-02-12 01:55] imranariffin opened #2685 "[Feature Request] Give user choice to view forked copy or fork again"
As a user I would like to know that a notebook I'm interested to copy/fork has already already been copied/forked by me.

### What I Did

Viewed a notebook, forked and edited it only to later realize that I had already forked it before.

### What I Expected

If I had done some modifications on the first copy in some cases I would rather continue my work there than starting over. I would like to ha

[2020-02-12 03:13] bcolloran commented on #2685
thanks for filing this issue @imranariffin !

[2020-02-15 00:45] Supermath101 opened #2689 "Feature Proposal: Golang Support"
_I'm sorry if this is the wrong place for this._

## Do you think Golang has the potential to become a decent data science framework if you have access to a GUI/DOM, and some decent data science libraries and/or frameworks?
### I think people may be more willing to develop after a decent GUI is developed. Also, Golang may not have the flexibility of Python, but it is a few dozen times faster (in m

[2020-02-15 01:54] bcolloran commented on #2689
Hi @Supermath101, this is a fine place to bring to this up thank you for your interest.

I have not worked with Golang, nor do I believe have any people on our core team, so I think we are probably not qualified to speak to it's potential. Likewise, we are not in a good position to write a Golang language plugin for Iodide, since we don't have experience with it, but we would certainly welcome a G

[2020-02-18 22:07] wlach opened #2695 "Build is failing"
Looks like our `test-server` job started failing. I filed a support request with circle as it doesn't seem to have anything obvious to do with us. Here's the text of that:

[code]

[2020-02-19 19:50] wlach commented on #2695
Problem is this commit, which is stopping the db from starting: https://github.com/docker-library/postgres/commit/f1bc8782e7e57cc403d0b32c0e24599535859f76#diff-4c01fb1160b4ab65f6ff0269906298f3

Fixed by #2696.

[2020-02-19 19:52] #2695 closed

[2020-02-27 22:06] imranariffin commented on #2685
@bcolloran @wlach
Are we going forward with this requested feature? Just needed to double check before I start working on it.

[2020-02-27 22:36] bcolloran commented on #2685
Yea, I think it sounds like a good idea @imranariffin

I'd suggest clarification of the behavior: the modal should only open if the user has previously forked the NB being viewed; If the user has not forked the notebook previously, then the current behavior should be used (immediately copy the notebook)

[2020-02-27 22:54] imranariffin commented on #2685
Alright, gotcha!

On Thu., Feb. 27, 2020, 5:36 p.m. bcolloran, <notifications@github.com>
wrote:

[2020-03-03 18:26] wlach commented on #2680
I have begun working on this.

[2020-03-18 18:17] httpdev opened #2741 ""Make a Copy" does not copy attached files"
On alpha.iodide.io revision 1d87c1a1c8, when the user clicks on "Make a Copy", the notebook is cloned, but none of the files attached to it, which may prevent the notebook from working.

### What I Did

1. Create a new notebook
2. Go to Files > Add a file, say "test.png"
3. Verify that the file is accessible under /notebooks/<notebook_id>/files/test.png
4. Click on "Make a Copy"
5. With the new no

[2020-03-18 18:18] httpdev opened #2742 ""Make a Copy" does not copy files"
On alpha.iodide.io revision 1d87c1a1c8, when the user clicks on "Make a Copy", the notebook is cloned, but none of the files attached to it, which may prevent the notebook from working.

### What I Did

1. Create a new notebook
2. Go to Files > Add a file, say "test.png"
3. Verify that the file is accessible under /notebooks/<notebook_id>/files/test.png
4. Click on "Make a Copy"
5. With the new no

[2020-03-18 18:19] httpdev commented on #2742
Sorry, pressed back button and accidentally resubmitted.

[2020-03-18 18:19] #2742 closed

[2020-03-24 18:30] bcolloran opened #2748 "react+JSX plugin"
(moving issue from https://github.com/iodide-project/pyodide/issues/626)

Quite some time ago @hamilton built a react+JSX plugin, but it was only intended as an experimental proof-of-concept; I believe it was not polished and QA'ed to Hamilton's satisfaction, and since it was mostly an experiment, it has not been maintained.

Nonetheless, it did work, and so it remains a good starting point. It wo

[2020-03-24 18:32] bcolloran commented on #2748
Hamilton's plugin is here:
https://raw.githubusercontent.com/hamilton/iodide-jsx/master/docs/evaluate-jsx.js

and here is the example plugin spec chunk
[code]

[2020-03-26 15:37] wlach commented on #2682
Should be fixed by #2751 /cc @moz-hwine (although it seems github has stopped sending those annoying emails for whatever reason)

[2020-03-26 15:37] #2682 closed

[2020-04-06 12:35] wlach commented on #2741
Yes this is a known issue, but I don't think we had an issue open for it. Thanks for filing!

[2020-04-23 22:55] Hiisi5 opened #2812 "How do I deply iodide server?"
Hello. Sorry for the noob question, but the documentation is either thin or I'm missing something.
The docs say that:

Okay, so I have heroku installed. How do I setup iodide? I have cloned the project from git, I was able to run make to build it (is this step even necessary?) and now when I execute
`heroku local web`
the server starts yet the webpage at 0.0.0.0:5000 returns Bad Request (400).
Whe

[2020-04-26 18:39] #2680 closed

[2020-05-08 19:08] wlach commented on #2812
Hi, the local development workflow is to use docker: https://iodide-project.github.io/docs/local-dev/#runningbuilding

Feel free to reopen if something is still unclear.

[2020-05-08 19:08] #2812 closed

[2020-05-12 13:55] wlach commented on #2537
This drives me absolutely crazy whenever I have to work on iodide, so I decided to just sit down and spend a couple hours fixing it.

[2020-05-18 16:55] #2537 closed

[2020-05-18 21:02] #2681 closed

[2020-07-21 18:08] wlach commented on #1862
For future reference: No, this is still not done.

[2020-07-29 20:55] subwaymatch opened #2929 "Python code cells not running due to "blocked by CORS policy" when loading pyodide.js"
I'm running into CORS blocked error in Windows 10 Chrome 84.0.4147.89. I do recall Python code working a week ago, but haven't tested since then. I just ran into this issue this morning.

Version: v0.15.0

### What I Did

Created a Python code cell in iodide tryout notebook and ran it (without importing any plugins).
[Test Notebook Link - https://alpha.iodide.io/notebooks/4914/](https://alpha.iodi

[2020-07-31 09:11] subwaymatch commented on #2929
No more CORS issue now.