[2018-09-18 20:32] hamilton commented on #917
nvm this took 5 minutes. Re-assigning. PR forthcoming.

[2018-09-18 21:13] #743 closed

[2018-09-18 21:34] bcolloran opened #923 "remove `docs/` and `examples/` from the main repo"

[2018-09-18 22:28] #917 closed

[2018-09-19 15:05] mdboom commented on #896
How do we know whether to recommend the public server or some other server?  We're just defaulting to the public one for now?

[2018-09-19 19:11] bcolloran opened #941 "links do not work from within the report!!! eek!!"
@hamilton anything to add to this issue?

[2018-09-19 19:13] bcolloran commented on #896
I think we'll be able to read that from the .env file right? we'll have to change the host names in that file for each deployment anyway.

[2018-09-19 19:44] bcolloran opened #942 "MD / CSS cells no longer have code highlighting"

[2018-09-19 21:58] mdboom commented on #896
For standalone, the stuff in .env relates to where the standalone js is served from.  I don't there's a notion of pointing to "another thing" yet...

[2018-09-19 23:05] bcolloran commented on #896
i think we'll need to clarify what we mean by "standalone" mode a little bit next week -- i'm thinking of it as meaning the files that are served from an exported archive, and which are not served from any iodide server instance (including the one at localhost).

Under that interpretation, i was imagining the following:
- for a given iodide server deployment (whether our main deployement at iodide

[2018-09-20 00:37] bcolloran commented on #587
perhaps creating a closure around eval along these lines would help us here:

https://stackoverflow.com/questions/9781285/specify-scope-for-eval-in-javascript

[2018-09-20 02:26] bcolloran commented on #587
this does not super much appear to work for our use case (not surprising)-- the inner scope prevents variables/functions defined in the inner eval from being available to in the global scope (and hence to other evals)

https://extremely-alpha.iodide.io/notebooks/6/

[2018-09-20 02:35] bcolloran commented on #596
related to #587

[2018-09-20 12:44] mdboom commented on #896
I see.  I think currently, we have a notion of a standalone build, which is totally unaware of any server.  I think you are suggesting that when you export a notebook from a server, that exported notebook would be able to link back to the server it was created from...?

[2018-09-20 16:08] #923 closed

[2018-09-20 18:27] #766 closed

[2018-09-21 17:23] hamilton opened #958 "logging into the server still surfaces interstitial: "This notebook is owned by another user" even if I own the notebook"
Refreshing the page corrects this issue, but there shouldn't be an interstitial when I click "log in". Perhaps the `notebookInfo` part of the store needs to be updated when one logs in.

[2018-09-21 17:57] wlach opened #959 "Add a "prototype" server for testing changes before they land"
Let's add an iodide server just for testing branches before they land. Most likely this will be another heroku hobby instance.

[2018-09-21 19:51] #888 closed

[2018-09-21 21:10] hamilton opened #960 "because pages don't reload after login / logout on server anymore, the page does not update accordingly upon login/logout"
If we are not going to reload the server page upon login / logout, we will have to re-engineer the components to hide whatever pieces are not pertinent to the viewer.

[2018-09-23 18:16] hamilton opened #965 "client builds appear to be much slower to finish"
This may be due to the upgrade in webpack, but I suspect most of the build time can be attributed to `UglifyJsPlugin` and not parallelizing. Another possibility is the css plugin, and yet another is we are building a lot of assets and we should parallelize the whole thing. Either way, the slow build speed is a problem for development, testing, and deployment.

[2018-09-24 14:44] wlach commented on #849
Let's tackle this in #912.

[2018-09-24 14:44] #849 closed

[2018-09-24 19:01] wlach commented on #960
I would personally be in favor of just refreshing pages upon login/logout, this shouldn't be hard to do.

[2018-09-26 21:16] #829 closed

[2018-09-26 21:56] bcolloran opened #971 "fix possible race condition in loading of eval-frame and main JS"
as discussed in out meetings, there's a race condition in loading the JS

[2018-09-26 22:29] #941 closed

[2018-09-26 22:29] #884 closed

[2018-09-26 22:29] #885 closed

[2018-09-27 17:30] teonbrooks commented on #766
we should reopen this issue. the export from e-a is still broken

[2018-09-27 20:29] mdboom opened #978 "Remove Travis autodeploy of static assets"
Now that the server is serving all of the static assets, there's no longer a need for travis to automatically deploy to github pages.

*There is no plan to remove the existing assets, so URLs won't break*, we'll just stop pushing new content there.

[2018-09-27 21:16] bcolloran opened #980 "remove IODIDE_BUILD_TYPE"
with #979 IODIDE_BUILD_TYPE is now redundant. let's remove all references to it. perhaps going forward we can use the redux store to manage the relevant state (for things liek showing/hiding the user menu) rather than the variables

cc @hamilton  and @wlach cuz i see you guys have code that looks at this flag.

[2018-09-27 21:32] mdboom commented on #980
This is also somewhat related to #916 as well -- to indicate to the user when they are connected to the server or not at runtime.

[2018-09-28 17:12] bcolloran opened #984 ""EXPLORE" button should be more prominent in report view (funnel optimization)"
we want to make the "EXPLORE" button more prominent and visible so that it doesn't get overlooked during a user's first encounter with iodide

[2018-09-29 03:52] hamilton commented on #965
This was fixed by @bcolloran in #981

[2018-09-29 03:52] #965 closed

[2018-09-29 14:29] hamilton commented on #640
The issue is pretty straightforward. `UPDATE_EVAL_FRAME_FROM_INITIAL_JSMD` assigns into a `newNotebook()` whatever cells & other pieces of state need to be initialized. This happens only when there is non-empty jsmd (so a fresh notebook doesn't have this issue).

I'll have a PR that addresses this in a moment.

[2018-09-29 14:39] hamilton opened #990 "As a user, I want to upload files (data, images, scripts) to the server to be used in my notebooks"
I want:

- [x] an easy way to upload files from a server page and / or from a notebook
- [x] I want to be able to load these files into my notebook in such a way that appears as if I'm in a directory (for instance, something like `fetch('/files/dataset.csv')`). The exact API is up for debate, but I want running this notebook on an iodide server or a web server to feel seamless.
- [x] I want a way

[2018-09-29 18:57] DevinBayly opened #992 "it should be possible to inspect the `window` object with reps (expanding `window` contents in console causes error)"
In the process of attempting to show the contents of the window object I whited out the entire suite of console,report,workspace options.
this
![image](https://user-images.githubusercontent.com/11687631/46249477-a13bb180-c3de-11e8-8997-bfa13faf8a59.png)
becomes this
![image](https://user-images.githubusercontent.com/11687631/46249469-9123d200-c3de-11e8-89df-0352aa9ec7c4.png)

Following my steps is

[2018-09-29 23:04] hamilton commented on #992
Good catch! We actually found some similar behavior this last week but
thought the bug was localized to something else. Yikes

On Sat, Sep 29, 2018 at 11:57 AM Devin Bayly <notifications@github.com>
wrote:

[2018-10-01 04:03] hamilton commented on #992
@DevinBayly Howdy - trying with all my might to recreate this bug, but can't seem to on FF nor on Chrome. Out of curiosity, what are you running on?

[2018-10-01 15:27] rth opened #994 "Detecting crashes of the Pyodide WASM environement"
It would be very useful if Iodide could detect when Pyodide WASM environment crashes (e.g. after a segfault), and warn the user.

For instance, running the simple code snippet from https://github.com/iodide-project/pyodide/issues/200 in the demo notebook https://iodide.io/pyodide-demo/python.html produces a segfault which crashes Pyodide, meaning that any subsequent command will also fail.

This s

[2018-10-01 16:16] mdboom commented on #994
This is definitely in the grey area of responsibility between iodide and pyodide.  A full solution probably involves fixes at both ends, so I'm find with leaving this bug in this tracker.

In the segfaults you've seen, do they always result in `abort` being called?  I wonder if we could override `abort` to set a flag, which we could check on subsequent calls to `runPython` to display the message "

[2018-10-01 16:39] rth commented on #994
Yes, all those I saw, included an `abort`. There is a [`Module.onAbort` callback](https://github.com/kripken/emscripten/blob/906e14e4173e00b47ed931f993c837eb7c6f649a/site/source/docs/api_reference/module.rst#affecting-execution) BTW.

[2018-10-01 16:43] mdboom commented on #994
Perfect.  It seems like that might be a good first solution.

[2018-10-01 19:02] hamilton commented on #994
@mdboom do you have any thoughts on how we might bubble up / handle these kinds of errors in Iodide? I suppose ideally these types of errors would not require much more on the language plugin maker, and iodide could just (more or less) automatically detect `abort` and give the option to reload the environment (or maybe just the language itself).

[2018-10-01 20:11] mdboom commented on #994
From a UX perspective, I think as a first pass, it should pop up a modal saying that the language plugin has crashed, save the page (automatically) and then reload the page.  It will be complicated to try to throw out the old language environment and start a new one without reloading.

Maybe Iodide could pass a callback to the language plugin that the language plugin is responsible for calling whe

[2018-10-01 21:08] hamilton commented on #994
Right. Well, I suppose another approach would be to have a "reload eval environment" action that just reloads the frame (thus "restarting the kernel").

[2018-10-01 21:27] mdboom commented on #994
That's true.  Reloading just the iframe is probably enough.

[2018-10-01 21:51] bcolloran opened #995 "make sure all reducers are pure functions, move side effects and impure data access to action creators"
we're long overdue to go back and clean up some of the reducer code we wrote in our early days writing Iodide, and in particular before we had redux-thunk to help us manage asyncronous dispatch. One thing we can do is take a sweep through all of our reducers to make sure that they are pure functions, which will make them deterministic and more easily testable.

(and of course, we should also make

[2018-10-01 21:53] mdboom opened #996 "Bluetooth.requestDevice doesn't work from a cross origin iframe"
When playing around with the Muse EEG headset, @teonbrooks noticed that you can't call [Bluetooth.requestDevice](https://developer.mozilla.org/en-US/docs/Web/API/Bluetooth/requestDevice) from a cross origin iframe (presumably for security reasons).

I guess we'll need a message passing solution to/from the editor frame to make this work.

(Can still proceed using the local server where things are

[2018-10-02 17:06] hamilton opened #997 "proposal: have a way of describing declared variables from within language plugins"
It would be nice to have a way to ask a language for the list of declared variables. While in Pyodide I can't always remember what vars I've made, and at the moment there's no way of saying. This could become a major workflow issue down the line.

[2018-10-02 17:14] bcolloran opened #998 "add some UX for "restart kernel""
see #994 for one use case, though this will be useful more generally -- idea is for users to have a way to restart the iframe, and also to detect when something happens that causes the connection to the iframe to be lost for some reason

[2018-10-02 17:15] bcolloran commented on #994
filed #998 for this

[2018-10-02 17:30] bcolloran commented on #996
this might be a permission we can give to the iframe sandbox eventually
https://bugs.chromium.org/p/chromium/issues/detail?id=518042&desc=2

[2018-10-02 17:45] hamilton opened #999 "local dev server via `npm run start-and-serve` needs to serve from two ports for adequate dev testing"
We're missing a whole class of bugs and issues by not replicating our server environment enough here. I cannot adequately test and patch #992 locally, for instance. It also prevents us from uncovering issues such as #996.

Ideally the `EVAL_FRAME_ORIGIN` in `.env` can be set and the appropriate additional server can be spun up to replicate the issue.

[2018-10-02 17:45] #942 closed

[2018-10-02 17:52] bcolloran commented on #999
+1
adding a second origin is easy, we just need need to serve on two ports eg
localhost:8000 and localhost:5000 or whatevs,, but it will probably take a
little bit of doing to package it up in a way that is not too much work for
users; previously, i was doing this by manually opening two terminals and
running two copies of python simpleHttpServer with two distinct ports.

also there are two cases

[2018-10-02 18:02] bcolloran commented on #916
this is about pinging to make sure the connection is still up

[2018-10-02 22:08] hamilton opened #1000 "as a user, I want to be able to do some basic styling on the body element of the report"
[example notebook that demonstates the issue](https://extremely-alpha.iodide.io/notebooks/26/). To summarize:

- I can't select only the report css without affecting all other css.
- The only method I have to select the report css is really not intuitive.

[2018-10-03 01:10] hamilton commented on #911
This file is not necessary. We're not building `server.home.dev.css` as far as I can tell, and are instead endeavoring for a css-in-js solution along with an `injectGlobal` call for server-side components. So we should probably close this issue.

[2018-10-03 06:05] #640 closed

[2018-10-03 13:54] hamilton commented on #640
Thank for bringing this issue up @DevinBayly! Better late than never on this fix.

[2018-10-03 15:19] mdboom opened #1003 "Create a way to display rep in "default" (object inspector) rep"
A button on the upper right of the rep to display it using `react-inspector`'s object inspector rather than the heuristically determined rep.

[2018-10-03 17:21] hamilton opened #1005 "jsmd parse errors should not console.warn"
We need a better way of 1.) catching jsmd parse errors that doesn't default to `console.warn`, and 2.) we need to surface parse errors in a notebook.

If I have a notebook w/ the following jsmd

[code]

Nothing appears at all, and I have no indication of missing jsmd.

This could especially be a problem fro users who are editing the jsmd directly in their notebook. If I were such a user and there

[2018-10-03 17:28] hamilton opened #1007 "cannot export notebooks in standalone mode"
I am running a server with `npm run start-and-serve`, and I made a quick test notebook & exported it from the menu item.

I get the following error in `validated-reducer.js`:

[code]

My understanding from this is we haven't worked on actually changing the schema to support `notebookId` to be `null` (which is the case in standalone mode), so this error is getting thrown.

Here is the notebook as I

[2018-10-03 18:06] hamilton commented on #1007
Experimented a bit with changing the `notebookId` field in the schema to only be null, but I get this pretty perplexing error:

![screen shot 2018-10-03 at 11 04 47 am](https://user-images.githubusercontent.com/95735/46429831-3f3fbc80-c6fc-11e8-9bf9-281034f034ad.png)

Which comes from changing in `editor-only-state-schemas.js` something that should probably work:

[code]

[2018-10-03 22:31] #742 closed

[2018-10-03 23:08] hamilton opened #1008 "track server / standalone notebook status in `notebookInfo`"
At the moment, there is no clearly-defined way to say (from the client) that our notebook was served from an iodide server, or is in standalone mode. As such we have a handful of ad-hoc tactics for determining this:

- `IODIDE_BUILD_TYPE` is how we're managing it right now, but it's obviously going away with #979.
- `notebookInfo` in the store gets updated by the server upon some actions, and upon

[2018-10-04 04:30] bcolloran opened #1009 "I want to be able to load files from my iodide.io workspace or an export bundle with a "fetch" cell"
fetch cell will have syntax e.g.:

[code]

evaling this should kick off a promise.all() that runs all the fetches in parallel, and further execution should wait until this eval completes. as soon as the fetches land, the raw content of the fetch should be assigned to the variable name

this will need to be smart enough to know when the notebook is in stndalone export mode, in which case it will ne

[2018-10-04 14:30] hamilton opened #1010 "As a user, I want to effortlessly import my notebook onto the iodide server"
There are a number of ways a user might want to do this:

- via the REST API, it might be worthwhile to allow in the request body to take `content` and `title`, which would populate a notebook under `<server-url>/new` (but not save it). This will allow us to do things like create "open in iodide" buttons that doesn't use any url tricks.
- via the server interface, I want to be able to either click

[2018-10-04 15:37] wlach commented on #1009
I like @hamilton's idea. Re: the local filesystem mode, I think we should deprecate support for that. It's a power user feature, and I don't think it's that unreasonable to ask people to just run `python -mhttp.server 8888` from their dev directory if they really want to use stuff from the file system.

[2018-10-04 16:04] bcolloran commented on #824
@mdboom is this fixed as of #823, or still more to do?

[2018-10-04 16:07] bcolloran commented on #958
@hamilton @mdboom was this one fixed?

[2018-10-04 16:08] #906 closed

[2018-10-04 17:00] mdboom opened #1011 "Seamless Python user"
As a user, I'd like to be able to set a cell to "Python type" and then when evaluating, implicitly download the resource for Python and then run the cell.

[2018-10-04 17:02] bcolloran opened #1012 "as a user i want to hide a notebook until i explicitly publish it"
Short summary of the bug. Please include the IODIDE version number where you found the bug - if you are just running locally (building for dev or prod) you can put MASTER

### What I Did

code sample or exact steps that causes the bug

### What I Expected

explanation, imgs, etc.

### What Happened

explanation, imgs. etc.

### (OPTIONAL) notebook that reproduces bug

link to the notebook that rep

[2018-10-04 17:03] bcolloran opened #1013 "as a user, i want to be able to share a NB with only other selected users (permissions)"

[2018-10-04 19:40] #911 closed

[2018-10-04 21:42] bcolloran commented on #1008
+1 on this. MVP for this could just be to set `connectionMode` with default `STANDALONE`that get's updated to `CONNECTED` when loading from a deployment (as you suggest);
and then down the road (separate issue and PR) add some kind of polling (or whatever is is the best practice, perhps @wlach has thoughts on this?) to see whether the connection has been lost.

@hamilton i'm happy with your propos

[2018-10-04 21:45] hamilton commented on #1008
Great. I can take this on, given that it will block #979.

[2018-10-04 21:56] bcolloran commented on #958
well, if we can't reproduce the bug anymore, that's good enough for me! the specific PR matters less :-)

[2018-10-04 21:56] #958 closed

[2018-10-04 22:11] bcolloran commented on #727
a lib that might help: https://github.com/samdenty99/console-feed (also has pretty good reps (not universally great reps tho))

[2018-10-04 22:32] teonbrooks opened #1015 "[Feature Request] add "clear console" button to console menu"
Was testing some things on extremely-alpha and I noticed a feature that would be nice to have: an ability to clear the console. I don't know if there are system level commands in iodide, but a `clear` command would be great.

[2018-10-04 22:56] hamilton commented on #1015
big +1 to this idea. I'll assign it to myself. Expect a fix early next week.

[2018-10-05 00:00] hamilton opened #1016 "As a user, if I attempt to run a cell in a saved notebook that has a language that is not loaded, I'd like to see some sort of "language <name> not loaded" error"

[2018-10-05 03:34] bcolloran commented on #901
blocked by #1008

[2018-10-05 03:46] bcolloran opened #1017 "local django dev server needs to serve from two ports for adequate dev testing"
see #999 for background; #992 and #996 are two example issues that @hamilton found that expose the need here

[2018-10-05 03:55] bcolloran opened #1018 "until we have automatic google docs style saving, we need a clearer warning when there are unsaved changes"
for example, the thing that says "saved 22 hours ago" could say "Unsaved changes (last saved 22 hour ago)" or something like that.

[2018-10-05 04:01] bcolloran commented on #800
do you mean the console doesn't scroll _down_ i.e., that the expanded object flows out the bottom of the  visible area of the pane, and you are required to scroll down manually? fwiw, this is the same behavior as FF devtools, so I think it may be ok. In fact i think automatically scrolling down could be worse in the case of toggling open a huge object with a ton of keys

[2018-10-05 04:03] #653 closed

[2018-10-05 04:03] bcolloran commented on #653
superseded by #1009

[2018-10-05 04:05] bcolloran commented on #727
we'll also need to figure out how to not include things like the dev mode redux logs for when reduxVerbose===true

[2018-10-05 04:19] bcolloran commented on #722
update report for golden layout world: scroll linking should just try to scroll the corresponding cell into view, not try to align cell tops

[2018-10-05 05:42] #739 closed

[2018-10-05 05:47] bcolloran commented on #1007
@hamilton just fyi: the problem was the parseInt in
[code]
in notebook-reducer.js wss returning a NaN, which the validator saw as a null. eek!!!! annoying tough little corner case to track down.

filing a new issue to clean up that line:
https://github.com/iodide-project/iodide/blob/5ec44be65f20a299eb2e9843fdb7e3a52e375fc3/src/reducers/notebook-reducer.js#L94

[2018-10-05 05:53] bcolloran opened #1022 "we should get the notebookId in a more robust way than parsing it out of the URL"
re this statement in the code:
https://github.com/iodide-project/iodide/blob/5ec44be65f20a299eb2e9843fdb7e3a52e375fc3/src/reducers/notebook-reducer.js#L94

an integer parsing issue caused #1007, which is now fixed, but it seems like a brittle way of doing this. can we pass this in with the notebookInfo on the window object, or otherwise get the id via  an api response or something?

not top priori

[2018-10-05 05:53] #1007 closed

[2018-10-05 05:54] bcolloran commented on #1022
fyi @hamilton and @wlach

[2018-10-05 06:01] bcolloran commented on #896
blocked by #1008
fyi @hamilton

[2018-10-05 06:01] #726 closed

[2018-10-05 06:06] #348 closed

[2018-10-05 06:06] bcolloran commented on #348
obsolete pending our rethink of how exporting arhives shold work (in fact, this problem is part of what's driving that rethink).

[2018-10-05 06:07] #616 closed

[2018-10-05 06:07] bcolloran commented on #616
obsolete given the server and the coming rethink of archive export

[2018-10-05 06:20] #910 closed

[2018-10-05 06:23] #866 closed, assigned to nobody

[2018-10-05 06:33] #816 closed

[2018-10-05 06:33] bcolloran commented on #816
could not reproduce, so this seems to have been fixed.
see https://extremely-alpha.iodide.io/notebooks/30

[2018-10-05 11:13] mdboom commented on #800
Yes, that's what I mean.

Where I've encountered it is when there is output at the very bottom of the page and it looks like clicking the arrow did nothing:

![image](https://user-images.githubusercontent.com/38294/46532263-1fc8a100-c86e-11e8-95d6-d6c05175d66b.png)

I agree we should scroll all the way down, but maybe just enough to see a line or two?

[2018-10-05 12:51] mdboom commented on #1016
Actually, this points out a shortcoming with #1014 that could probably be easily extended to resolve this issue in a different way.

Currently (in #1014 and prior), it loads the language definitions when loading the JSMD, but doesn't actually load the language plugin.  If we instead put the language definitions from the JSMD into `state.languageDefinitions`, rather than `state.loadedLanguages`, we

[2018-10-05 14:01] mdboom opened #1025 "Support async language plugin evaluators"
As suggested by @hamilton in a PM, it would be nice to be able to make a cell such as:

[code]

automatically load the Numpy package and then run the cell.

I'll ignore the Python-side magic necessary to make this happen (which I think is doable in 90%, but not 100% of cases), except to say that the fetch of the package has to happen asyncronously, and only after can the code content itself be exe

[2018-10-05 18:55] #836 closed

[2018-10-05 19:10] wlach commented on #1022
Yeah we should probably just pass it down as metadata inside the document.

[2018-10-05 19:32] bcolloran commented on #1018
see #853

[2018-10-05 19:33] bcolloran commented on #894
see also #853, #1018

[2018-10-05 19:46] bcolloran commented on #800
i see. sure we can put this in the backlog for now.

[2018-10-05 19:54] bcolloran commented on #1025
tbh, my main thought is that this will take a bit of thought to really digest and consider the implications. can we table this for a while? (until after MVP launch?)

[2018-10-05 19:55] mdboom commented on #1025
Sure.  I don't think it's a priority.  Just wanted to record my thoughts as it's an obvious follow-on to #1014.

[2018-10-05 22:30] #666 closed

[2018-10-05 23:36] bcolloran opened #1028 "let's use zilla slab for the "Iodide" at the top of any page"
it will match the "moz://a" word mark that we'll want to add to our pages somewhere, and the slab serif "I" will clear up the typographical ambiguity @hamilton has pointed out with "Lodide"

and it's a pretty good looking font too:
![image](https://user-images.githubusercontent.com/2380975/46564533-bde35800-c8bc-11e8-845f-6d7474c426b1.png)

[2018-10-06 03:57] hamilton commented on #1025
One issue to consider. This point came up from mikes PR that loads python
when you run a cell. It’s kind of a nice trick, but it isn’t useful if I
want to load numpy or matplotlib, since you have to run the pyodide
command, when as a user j just want to start working with matplotlib. So we
might want to consider making this a somewhat higher priority, since the
language loading doesn’t actually fe

[2018-10-06 05:49] #1005 closed

[2018-10-07 06:11] SimonBiggs commented on #894
Not sure if this is helpful or not but I found IndexedDB far better for purposes like this. Also if it helped http://dexie.org is a great wrapper around IndexedDB.

[2018-10-08 13:24] mdboom opened #1030 "Notebook links are not clickable in Chrome (stable)"
I can't figure out why this is, but the notebook links on `/` and `/$USER/` aren't clickable on Chrome.  Works fine on Firefox.

![image](https://user-images.githubusercontent.com/38294/46611458-e2694b00-cadb-11e8-9c77-322fef2786a1.png)

[2018-10-08 15:57] wlach commented on #1030
Works ok for me on Chrome for Mac?

[2018-10-08 18:24] bcolloran commented on #1030
chromium on ubuntu seems to work for me

[2018-10-08 18:40] mdboom commented on #1030
Hmmm...  That's a heck of a thing.  :face_with_head_bandage:

The notebook title doesn't seem to have a class.  If I add the class from the username (`css-1aguclh`), it works.  But I don't see what in the default css for `a` is preventing the clicks...

![image](https://user-images.githubusercontent.com/38294/46627232-cbd8e900-cb07-11e8-80a2-9df56091298d.png)

[2018-10-09 00:48] mdboom commented on #1030
Best as I can tell, this is a bug in the interaction between Chrome and my Linux DE -- on both stable and unstable channels for me at the moment.  There is a similar behavior on Github, which leads me to believe it's nothing on our end.

[2018-10-09 00:48] #1030 closed

[2018-10-09 05:08] hamilton commented on #1028
Sounds good to me

[2018-10-09 15:57] hamilton opened #1033 "the "x hours ago" function on the server pages is inaccurate"
<img width="706" alt="screen shot 2018-10-09 at 8 50 35 am" src="https://user-images.githubusercontent.com/95735/46681626-7e5c8a80-cba0-11e8-95cf-cd57d424ca0a.png">

@bcolloran created a new notebook moments ago, and the server is reporting "about six hours ago".

It seems obvious that the `date-fns` library needs to parse out the timezone information, which is being truncated before being parsed

[2018-10-09 17:35] hamilton commented on #1025
To folllow up with this, I don't think having the automatic python loading is actually that useful (or interesting) to users unless

[code]

also works out the box. That's what this issue will potentially fix. So I would be in favor of not giving this the `p4` label, maybe `p2` if we actually think the seamless pyodide integration is useful.

[2018-10-09 17:57] wlach opened #1034 ""Report" button behaviour confusing when navigating to notebook for first time"
Right now clicking the report just shows the report based on the state of the current set of evaluated cells, which is kind of counter-intuitive in the case that you're just navigating to a notebook for the first time. Basically you just wind up with a blank page and it's not clear why.

Possible changes we might want to make:

* Make report mode the default?
* If in editing mode and there are une

[2018-10-09 19:27] hamilton commented on #493
I'm going to close this, since I think once we move to pure JSMD editing, this will be obselete.

[2018-10-09 19:27] #493 closed

[2018-10-09 19:28] hamilton commented on #432
This seems like it'll be obsolete once we move to JSMD editing.

[2018-10-09 19:37] mdboom opened #1035 "Error tracebacks go into iodide code"
I had this fixed not too long ago, but I think changes in the meantime have broken it.

![image](https://user-images.githubusercontent.com/38294/46693931-49205e80-cbd9-11e8-9e3f-d20fefce575b.png)

[2018-10-09 20:05] wlach commented on #960
Just because it isn't entirely clear, one example problem caused by this is that the "Delete notebook" option doesn't become available/unavailable as you'd expect before or after logging in.

[2018-10-09 21:20] wlach opened #1037 "Move to a glitch/etherpad/gdocs-like autosave model"
The "explicit save" model is so 2003. Let's have the autosave experience that users expect these days.

Goals
-----

(note: not all of these will necessarily be implemented for the first
pass!)

1. Allow "save-as-you-type" functionality
2. Allow multiple users to concurrently modify a notebook
3. Allow a user to propose a set of changes to be merged back into
   a source notebook
4. Allow tracking

[2018-10-09 22:40] bcolloran commented on #1037
love this proposal will! :+1:

[2018-10-09 22:43] #1003 closed

[2018-10-09 23:12] hamilton commented on #915
@bcolloran was this resolved with #1002?

[2018-10-09 23:16] hamilton commented on #621
This will get resolved once we have file upload & project exporting implemented, so the unit of export is a directory w/ notebook(s) & uploaded files (including images).

[2018-10-10 01:43] bcolloran commented on #915
yep!

[2018-10-10 01:43] #915 closed

[2018-10-10 01:44] hamilton commented on #828
@mdboom you had mentioned that this should be fixed with some recent changes. Is that correct?

[2018-10-10 02:04] hamilton commented on #192
This is out of scope for core iodide. Someone could pretty easily bundle this as a language plugin, I think, since it really doesn't take much to implement.

[2018-10-10 02:04] bcolloran commented on #1009
hmm, i'm not sure overloading the import statement to work for things other than scripts is a road we want to go down ATM. I like what you described above, let's go for that.

[2018-10-10 02:05] #192 closed

[2018-10-10 02:17] hamilton commented on #916
Is this actually pressing for this push?

[2018-10-10 03:43] bcolloran commented on #916
it's certainly not part of this particular sprint. i am open to it not being an MVP blocker, but it may perhaps become more important as part of the gdocs style autosave #1037 ?

[2018-10-10 03:45] bcolloran commented on #719
ya i think #1009 can supersede

[2018-10-10 03:45] #719 closed

[2018-10-10 04:18] bcolloran opened #1041 "need to be able to change from one code cell language to another via kbd shortcut"
the fix in #1020 was too aggressive, and caused breakage here: https://github.com/iodide-project/iodide/pull/1014#discussion_r222859713

the that changed in #1020 just needs a minor tweak to account for code cell languages
https://github.com/iodide-project/iodide/pull/1020/files#diff-d25573781184593c6cbed0a9c4badccdR135

[2018-10-10 11:55] mdboom commented on #1035
I can only reproduce this on extremely-alpha, not master running locally.  So I guess we have a deployment issue to extremely-alpha again?

[2018-10-10 14:17] #1033 closed

[2018-10-10 14:19] hamilton commented on #1041
@bcolloran could you put more descriptive titles in PRs like #1020? Can't tell what it was just from clicking on it.

[2018-10-10 15:54] wlach commented on #1037
Actually, yeah, 30 seconds is too infrequent. :) Let's see if we can't get realtime collaboration going using [django channels](https://channels.readthedocs.io/en/latest/). Seems like etherpad uses socket.io for this (basically the node equivalent).

[2018-10-10 16:05] hamilton commented on #1037
@wlach Yes, that seems right - kind of a canonical web sockets use case. Is the realtime collaboration portion of this in-scope for this particular issue, or do you see it as a standalone issue (or perhaps built on this)?

Solving this issue will also require solving #916 (notifying user of a severed connection), though I think we'll get most of the way toward that issue once we have the machinery

[2018-10-10 16:19] mdboom commented on #1035
Now that we've got the most recent build on extremely-alpha, this still seems to be there.

The issue seems to be with optimized builds -- we check for a stack frame called `evaluateCodeCell` and stop there.  The problem is that with optimized builds, that function name gets shortened / mangled.  We'll need to find another way of inserting a "stop token" into the stack frame that will survive opti

[2018-10-10 16:40] bcolloran commented on #1041
sure can do, sorry!

[2018-10-10 16:46] bcolloran commented on #1035
oh dear! yea that sounds pretty subtle.

[2018-10-10 17:45] djbarnwal opened #1045 "handle-initial-jsmd throws error on loading notebook"
### What I Did
`npm run start-and-serve`

### What I Expected

Cell executions to work

### What Happened

Somehow the UI is up but executing any cell doesn't reflect any changes. Console shows error on the line `handle-initial-jsmd.js:22:2`  with the message saying `TypeError: can't convert undefined to object`

[2018-10-10 19:47] hamilton opened #1049 "As a user, I want to be warned if a file upload wil replace a pre-existing file in this context"
Follow-on from #986. Right now, the UI silently fails if a user attempts to upload a file with a name that already exists. The UI should prompt the user through a modal to replace the file or cancel.

[2018-10-10 19:52] hamilton commented on #1009
@bcolloran yeah I agree. Also it pretty closely ties fetching resources to javascript, which to me is the big deal-breaker.

[2018-10-10 20:04] hamilton opened #1050 "as a user, I expect when I execute an MD cell that there is something in the console that provides feedback"
This will be obsolete once we've migrated to our currently-unfiled plans around direct jsmd editing, but it will be useful in the meantime to print some sort of console message to users stating that MD was rendered in the `report preview` tab & beyond for now. The current behavior is a bit confusing.

[2018-10-10 20:10] #960 closed

[2018-10-10 22:06] hamilton opened #1053 "as a user, I expect some feedback when some sort of async process is running"
This is based on a comment @mdboom made in a PR:

I know we've talked about this before, but this feels like a pretty serious UX issue that we know has already caused genuine confusion, and the fix is quite straightforward.

[2018-10-10 22:11] hamilton opened #1054 "actions have few / no real test coverage"
We have no method or strategy around writing tests for our actions, which I see as a pretty major code quality problem on the client. This meta issue is meant for feedback & further issue decomposition.

The seismic refactors we've undergone is probably somewhat the cause (at least the cause of not pursuing test coverage here), but at this point, given that we are not likely to refactor the entire

[2018-10-11 17:29] wlach commented on #1037
Interesting idea, I'm not quite sure how to present a specific set of evaluation steps to the user in an intuitive way though. I suspect that with iodide notebooks, because they are re-evaluated so often, there will strong pressure for them to be runnable in linear order.

[2018-10-11 17:34] hamilton commented on #1037
I think the evaluation steps would simply appear in the console, and the notebook gets them entirely from the server in that instance, and the server communicates the queue to the connected notebooks, and the notebook itself is responsible for the evaluation. So long as its in the console, I can see it being pretty easy to see who has evaluated what.

Also to be clear I don't think this is probabl

[2018-10-11 20:18] hamilton opened #1058 "iodide silently fails to notify user if a language plugin collides with an existing one defined in the jsmd"
If I have a language plugin for `testLang`, for example, and I save a notebook after having used `testLang`, and I reopen the notebook & attempt to fetch `testLang` from a remote source that includes some modifications (such as an `asyncEvaluator`), iodide will still favor the jsmd-saved language definition. This is kind of a subtle bug, but we should probably at least alert a user in the console

[2018-10-12 12:29] mdboom commented on #1058
Yep.  That formulation is correct, though I don't think I have the one clear solution yet.

The reason we can't just always use the built-in definition always is that a user may want to use a different implementation (e.g. pypyjs) to support python, and we should support that.

Maybe we don't want to save language definitions in the metadata at all, but should require them to be in a plugin cell,

[2018-10-15 11:36] mdboom opened #1064 "As a user, I'd like to be able to export and import jsmd notebooks to/from the clipboard"
As suggested by @ds604 in the iodide-dev group.

It might be more convenient in some scenarios to import / export notebook content through the clipboard rather than files.  This might come quite naturally out of the cell-less jsmd refactor.

[2018-10-15 11:41] mdboom opened #1065 "Using keyboard shortcuts for each available language may not scale"
With the new "seamless" language loading, "known" languages show up on the cell menu and as a keyboard shortcut, even before being used.  This may not scale well as we start to support many more languages, and of course there are likely some name clashes (e.g. Ruby vs. R).

We should design something that maybe places the options into a submenu without keyboard shortcut until first use in a cell,

[2018-10-15 22:11] bcolloran commented on #1065
this will go away with direct jsmd editing -- users will just type:
%% py
%% js
%% r
%% ruby
...

and they'll be able to insert or change a cell via the cell menu and top level menu (and perhaps command palette one day), but since typing the desired cell type will be the keyboardy way of getting the  desired cell type, we probably won't really need kbd shortcuts for those menu items.

(we can cont

[2018-10-15 22:30] bcolloran commented on #1058
i think that including language plugins in meta is an antipattern, and that we should deprecate it when we move to jsmd editing. i can't recall why it was added, but i think it was just for code highlighting. as you say @hamilton, it adds a weird subtle implicity, and i think there are other solutions, esp now that we've add mike's work around "known" languages

[2018-10-15 23:15] mdboom commented on #1058
Yeah.  I think as long as we continue to support explicit language plugin cells so the user can override the default behavior, we don't need the implicit content that goes in meta.  It would simplify a lot of things, actually.

[2018-10-16 17:24] hamilton opened #1067 "esc key does not close menu"
Tested on extremely-alpha.iodide.io.

[2018-10-16 17:28] bcolloran commented on #1067
which menu? the top level hambrgr? i think the cell menu may be affected too.

[2018-10-16 17:42] hamilton commented on #1067
yes, all the client menus - hamburger, cell, and user.

[2018-10-16 18:05] bcolloran commented on #1025
see #1058

[2018-10-16 18:06] #1025 closed

[2018-10-16 18:20] #828 closed

[2018-10-16 18:53] bcolloran commented on #998
related to #971 (in that this will a require a more robust way of having the editor and eval-frame listen for each other and connect to each other), so a solution to this might (optionally) try to address that as well)

[2018-10-16 18:54] bcolloran commented on #998
(if you want to try to address this and #971 in  one go, feel free to unassign me from that one)

[2018-10-16 21:30] #1008 closed

[2018-10-17 23:19] DevinBayly commented on #992
I found another place this shows up. If you start a notebook when the dev console is open in the bottom on extremely alpha then console,report ... are all black windows no matter what gets executed.

[2018-10-17 23:33] bcolloran commented on #992
@DevinBayly could you give detailed steps to reproduce? i could not reproduce doing the following:

1) in FF, open extremely alpha
2) while still on the landing page, press ctrl+shift+i to open devtools
3) navigate to a notebook by clicking the topmost notebook link on the iodide landing page

result: everything seems to function normally

[2018-10-17 23:44] DevinBayly commented on #992
Yea it just worked for me again too. ok back to just the original issue of this thread

[2018-10-18 06:43] hamilton opened #1071 "saving a notebook on extremely-alpha appears to be forking instead of saving a revision"
This is a code-red bug. Something has broken the server (possibly from merging #1061, but could also be #1068) such that each notebook save forks the notebook instead of saves a revision. I have no idea how this might have happened, but we need to address it as soon as we can.

I can reproduce this on extremely-alpha, but not on my own local build.

[2018-10-18 16:02] wlach commented on #1071
I can reproduce this locally. It looks like the problem is that `state.notebookId` is no longer being set on initial load of the notebook. First likely culprit to me seems like 7cf2d8ca5dfaedc9de1c8ba378d5d740515197df, but I don't have time to track down further right now.

The "right way" of fixing this might be to dispense with `state.notebookId` and only pay attention to `state.notebookInfo`.

[2018-10-18 16:18] hamilton commented on #1071
Cool - thanks for taking a look @wlach. I'll take this on and get it fixed since I think we must have missed this in the QA on #1068. Sorry y'all.

[2018-10-18 17:14] hamilton opened #1073 "when I open a revision on the server, the title is not set"
This may be a reflection of recent changes somewhere, but the regression still appears. A PR that fixes this should include further tests to prevent a regression again.

[2018-10-18 17:16] hamilton opened #1074 "when I open a revision and save it, the notebook url should reset to the full url and that saved revision should be the most recent (default) one"
At the moment, opening a revision and then saving it does not update anything to reflect that this revision is now on the top of the stack. I believe this should be the preferred behavior, but am open to anything (including a modal or something).

[2018-10-18 19:11] #1071 closed

[2018-10-18 19:19] hamilton commented on #1022
closed by above-referenced PR.

[2018-10-18 19:19] #1022 closed

[2018-10-18 19:35] hamilton commented on #980
@mdboom at this point we've removed any reference to `IODIDE_BUILD_TYPE` from the client-side code, so once #978 is merged we'll be ready to close this issue.

[2018-10-18 19:46] bcolloran commented on #1000
"should have a plan around this, though perhaps not immediately" sounds like a pretty good definition of p3 to me :-)

MVP functionality need not include supporting advanced css styling _at all_ -- for the MVP, if users can eval code and use MD, we're at parity with Jupyter; something like that is "minimum", and there is much higher priority core workflow stuff still to tackle. advanced styling wi

[2018-10-18 19:55] hamilton commented on #1000
I agree that the default report view is not "broken", but css is generally broken in the eval frame right now, and badly enough that we ought to just disallow any styling if we're not going to have a plan before MVP. I can't speak for everyone, but this has been a _major_ rough edge with using Iodide for a large class of real work (dashboarding, actual reports) for me already.

[2018-10-18 19:56] hamilton opened #1076 "viewMode url param is not handled correctly within handleInitialJsmd"
We don't have any test coverage in `hndleInitialJsmd`, so this is perhaps not surprising, but recent changes have broken the use of `viewMode`.

[2018-10-18 21:06] hamilton opened #1077 "need a default avatar if there isn't one"
Depending on the auth layer, we may or may not have avatars / paths to the avatar available. If we do not have an image, we should have a default avatar of some sort.

[2018-10-18 22:56] hamilton opened #1079 "our various url tricks (ipynb, jsmd, gist, etc.) should be server-side, not client-side"
There have been discussions about deprecating some of the query params we used before we had the server. I'm all in favor of it if we have a worthwhile path to replacing or enhancing those features elsewhere.

I don't know what this might look like, so please chime in y'all.

[2018-10-18 23:07] bcolloran commented on #1079
i am in favor of being more aggressive here-- these are really legacy bits, and add mess to the client code. i think we should get rid of them asap as part of MVP code quality clean up, and we can add them back in later.

@wlach @mdboom are you guys down with pulling out the url, gist, jsmd, and ipynb tricks from the client side?

[2018-10-18 23:31] hamilton opened #1080 "setViewMode breaks the use of ?revision=<revision_id>"
Currently `setViewMode` wholesale replaces the query part of a url with `viewMode=report`, when in reality it needs to append to the query string. This means that if I'm at `<server>/notebooks/15349/?revision=53534` and I click "explore", the url looks like `<server>/notebooks/15349/?viewMode=report` and not `<server>/notebooks/15349/?revision=53534&viewMode=report`.

[2018-10-19 14:34] wlach opened #1082 "openidc-based internal server not setting csrf headers"
API operations in our internal environment seem not to have csrf headers set, so they're getting access denied errors. Need to figure out why this is happening.

[2018-10-19 14:41] wlach commented on #1082
`document.cookie`, from which we would get the csrf token, is set to "" on the internal server. I think some middleware is not working as we'd expect it to.

[2018-10-20 02:36] hamilton opened #1085 "golden layout tabs occasionally appear while loading with viewMode=report"
This is likely a result of #1078 and the reorg (perhaps was a problem before #1078 since `viewMode=report` was already broken), but there are incidents of tabs appearing in presentation mode briefly before disappearing. We will need to ensure that the `viewMode` url handle is applied to the store before the first render (and ensure it is being done synchronously).

[2018-10-20 23:14] hamilton commented on #1073
This appears to be resolved with #1075

[2018-10-20 23:14] #1073 closed

[2018-10-20 23:41] hamilton commented on #901
Does this apply to any other external link tasks, or just the "new notebook" menu item?

[2018-10-21 00:12] hamilton opened #1087 "report view error and warning handlers"
Before long, we'll need to have an alert system visible only in the report view for:

- errors that occur during the evaluation (resources don't load, syntax errors)
- when clicking "report view" while working we should have some sort of warning if the eval state might possibly differ from a "fresh" eval if I pass the link to someone with `viewMode=report` (this is checkable by examining the histo

[2018-10-21 00:32] hamilton commented on #767
FYI I think "yagni" and "kiss" are actually not applicable here. Material ui menus don't play nicely with `<a>` tags, otherwise we would have used jsx from the outset. Links break the delicate css that appears to exist with material ui. That may have been fixed when we migrated to the new version, but there was a clear need for `ExternalLinkTask` from the get go because of the library's opinionate

[2018-10-21 03:40] bcolloran commented on #767
ok cool, thanks for looking into it!

[2018-10-21 03:40] #767 closed

[2018-10-21 03:41] bcolloran commented on #370
yep agreed, thanks for flagging it!

[2018-10-21 03:41] #370 closed

[2018-10-23 01:39] hamilton opened #1088 "add language drop down to iodide console"
@mdboom was asked at PyData if pyodide could actually be run in a terminal, so he [slapped together this hilariously lightweight gist](http://htmlpreview.github.io/?https://gist.githubusercontent.com/mdboom/686a05ce026f87d6005c1cc806eef0bb/raw/3d6fa10eae2313be0c7b26b381feeec15ac12ed0/pyodide_console.html).

It brings to mind a few things:

- the console in iodide should work like a console - hitti

[2018-10-23 04:00] hamilton opened #1090 "as a user, I would like a toolbar of some sort on the console"
Working with the console over a long period of time becomes pretty difficult. One way we can manage volume would be to:

- have a clear console button (#1015). This should probably _not_ clear the history stored in redux - I can see that still being relevant for forensics even when the console is very long. Could be wrong about that though.
- have a button that lets me hide the code inputs from th

[2018-10-23 16:41] hamilton commented on #1077
Great! Thanks @wlach

[2018-10-23 17:52] #978 closed

[2018-10-23 17:54] mdboom opened #1092 "Clean out github pages deploy target repositories"
Now that we're serving static assets on Heroku for most things, we should delete the associated repositories, e.g. master, master-eval, dist, dist-eval, stable, stable-eval.

[2018-10-23 17:54] hamilton commented on #980
Closed with the merge of #978.

[2018-10-23 17:54] #980 closed

[2018-10-23 17:55] #896 closed

[2018-10-23 18:45] hamilton opened #1093 "viewMode=slideshow"
This issue credit @wlach, motivated by [this post](https://medium.com/@mjspeck/presenting-code-using-jupyter-notebook-slides-a8a3c3b59d67) and observing PyData NYC presentations.

The concept is straightforward - it would be nice if we can also turn notebooks into slideshow presentations. We get at half of the heart of modern explanation - reports are valuable. So are slide decks, for better or fo

[2018-10-23 19:43] wlach commented on #1077
I'm going to solve this by using [gravatar](https://gravatar.com) when github login is not enabled.

[2018-10-24 00:43] hamilton commented on #874
This has been deployed as of now.

[2018-10-24 00:43] #874 closed

[2018-10-24 00:50] hamilton commented on #1053
@mdboom I'm thinking there are two places where this bit of feedback can occur:

1.) bottom right corner (or something like the bottom right), make a small overlay that has a spinner saying "running <spinner />" or something like that. Keeping this in the editor frame means it can't get clobbered by threadblocking on browsers that have implemented async iframes (chrome, etc.)
2.) in the console it

[2018-10-24 15:49] #1049 closed

[2018-10-24 16:02] #1077 closed

[2018-10-24 16:14] hamilton opened #1100 "activate POST on /new with "<my jsmd>" in the request to auto-fill some jsmd"
In sum, I'd love to be able to auto-fill a notebook that gets sent to `<server>/new`. One way to handle this would be to include in the request body the jsmd you want to use.

This will more easily allow "open in iodide"-style buttons and interactions elsewhere, from other web apps to extensions.

@wlach any thoughts about the right approach?

[2018-10-24 17:19] hamilton opened #1102 "standardize the file PUT implementation"
As a way of handling file replacement, we're using PUT, but my implementation is a bit non-standard. It might pay to bring this in line with how django expects PUT requests.

We want to make a PUT request to `/api/v1/files/<file-id>` that allows us to update the file contents or file name. At the moment we're using the same multipart as `POST /api/v1/files/` since that buys us some flexibility.

I

[2018-10-24 18:17] #1028 closed

[2018-10-24 18:38] mdboom commented on #1053
I think (1) feels safer.  I think we already have the needed messages passing between the iframe and the editor frame to make this work.

FWIW, Jupyter puts this in the upper right, which seems as good a place as any:

![image](https://user-images.githubusercontent.com/38294/47453267-4f4a3980-d79a-11e8-9283-f0514cc89b47.png)

It's not a spinner -- it's just a spinner, just a circle that is hollow

[2018-10-25 18:03] hamilton opened #1104 "is there a good way to get around the performance hit of pyodide when opening a doc in viewMode=report?"
Pyodide / other WASM language plugins typically take a few seconds + a performance hit when loaded, which is fine for exploration. But if I generate a report and share it with someone, they'll also take on that same performance hit just to spin up pyodide and get their matplotlib graphs. This could present a serious usability issue, since the consumer of a report likely doesn't really care that mu

[2018-10-25 18:06] hamilton opened #1105 "replace "no history" in empty console with "welcome to iodide!" + some easy links about getting to help menu, examples, etc."
This is a big piece of real estate in an empty notebook that we could better utilize to onboard new users.

[2018-10-25 18:52] hamilton commented on #1053
Todos on this:

- implement a kernel status symbol in the toolbar. Values should be `KERNEL_LOADING`, `KERNEL_ERROR`, `KERNEL_IDLE`, `KERNEL_BUSY`. Happy to change the terminology if this doesn't seem right, but we'll need something. This'll go in the toolbar next to the user menu.
- default kernel state is `KERNEL_LOADING`, which gets set to `KERNEL_IDLE` once the eval frame has loaded.
- wire up

[2018-10-25 23:11] hamilton opened #1107 "separate code evaluation inputs from outputs in console"
This is a bit of a follow-on for #1106, and maybe blocks it.

When I run some async code, I want to separate the posting of code input from outputs when printing to the console, so that we see that the code has hit the console even if the code creates a long-running or async process. Right now, input and output are tightly coupled, which creates a number of UX limitations. Specifically, there's no

[2018-10-26 12:17] mdboom commented on #1107
I'm not too familiar with these parts of the code, so I can't speak to how easy/hard what I'm suggesting is, but I think part of what makes this hard is the 1:1 coupling of inputs to outputs.  It might be simplest to be able to just push individual things to the history in order, then we don't have to deal with tracking where we want the output to go -- it would just always go to the end of the hi

[2018-10-26 15:30] hamilton commented on #1107
@mdboom I think our current system actually supports the progress stuff by default, since each history item gets an ID, and you can update the value by ID (this happens elsewhere I believe). I'm going to implement this all as a separate PR (not part of #1106) and I'll let that PR close #1053.

ALSO orthogonal but complemented by this approach is applying the console family - `debug`,`info`,`log`,`

[2018-10-26 20:46] iFlameing commented on #1105
I am working at this issue.

[2018-10-26 20:48] hamilton commented on #1105
Appreciate that @iFlameing! I would hold off on tackling it right away. We'll need to figure out what the right content + copy will be before accepting any PRs on this issue. With that in mind, do you have any mockups or ideas here?

[2018-10-26 20:48] bcolloran commented on #1107
Hold off on this until I can comment. Also, this is not top priority in
general

On Fri, Oct 26, 2018, 8:30 AM Hamilton Ulmer <notifications@github.com>
wrote:

[2018-10-26 20:53] hamilton commented on #1107
@bcolloran it ain't tagged "proposal" for nothing.

[2018-10-26 20:54] iFlameing commented on #1105
We should be pointing to some example link show that any user can understand how to use the iodide.With welcome message, what you think ?.

[2018-10-28 19:34] dmoco commented on #1067
Also can't back out of sub-menu without closing whole menu, not even using esc key.

[2018-10-29 04:49] bcolloran commented on #1093
+1 great idea @wlach and @hamilton. obvi a post-MVP idea, but a really good post-MVP idea :-)

[2018-10-29 05:01] bcolloran commented on #1088
totally, i thought of this when picking the current 'shift+enter' and 'ctrl+enter' rather than just "enter" -- was thinking a bit ahead to once we direct JSMD mode and one can execute highlighted code (like in rstudio), but i can see how it's confusing ATM.

the idea overall is to train people on the pattern "shift+enter/ctrl+enter executes code", which becomes increasingly useful when you want to

[2018-10-29 18:34] bcolloran opened #1109 "removing dead packages"
running `depcheck --specials=webpack,eslint,babel` returns:

[code]

i haven't checked all of these, but doing a text search thru the whole codebase returns zero hits (other than in package.json and package-lock.json) for a number of these. I would love everyone's help double checking these, double checking that removing them doesn't cause `run start` or `run start-and-serve` to fail, and then fil

[2018-10-30 16:55] hamilton opened #1110 "create testing scaffolding to adequately capture actions that pass to the eval frame"
This is a subset of #1054.

[2018-10-30 17:06] hamilton commented on #1088
Sure, happy to let the focus on this issue be about the language button. Going to file a separate issue to break these two things out.

[2018-10-30 17:18] hamilton opened #1111 "should the console follow console or notebook interaction paradigms?"
This issue follows on from #1088, which originally captured this idea.

At the moment, the console follows a notebook interaction convention - you evaluate the console the way you do a code chunk or cell. The main argument is, if we allow plain `enter` to evaluate the console but require a different keybinding to evaluate a code chunk from the editor, users will have to manage two different keybin

[2018-10-30 17:39] bcolloran opened #1112 "run-all should halt when a fetch cell has an error"

[2018-10-30 18:40] bcolloran opened #1113 "need "fetchFileViaEditor" function in eval frame scope"
we need a new function in the eval frame scope like

[code]
where "type" is text/blob/json

[2018-10-30 18:40] wlach commented on #1093
Did up a poor person's version of a presentation mode here, using jquery inside an iodide notebook: https://extremely-alpha.iodide.io/notebooks/122/?viewMode=report

Has a lot of bugs and is liable to break as we change iodide internals. :)

[2018-10-30 19:55] wlach commented on #1109
Definitely we don't need `git-rev-sync` anymore. Let's just remove that.

[2018-10-30 20:47] #1109 closed

[2018-10-30 23:21] hamilton commented on #1112
This will require a bit of refactoring how we handle evaluation. Currently, it looks something like this:

[code]

It needs to be more like this:

[code]

[2018-10-31 15:38] richiverse opened #1117 "first js and python demos result in blank screens when running the js/py cells"
Short summary of the bug. Please include the IODIDE version number where you found the bug - if you are just running locally (building for dev or prod) you can put MASTER

Running the following intro web demos:
Running the first js cell: https://iodide.io/iodide-examples/what-a-web-notebook-looks-like.html
or the first python cell (after running previous cells successfully):

both result in a comp

[2018-10-31 18:10] iFlameing commented on #1117
@richiverse  Which browser you are using because when I am running the same blocks it is not giving me the error you specified.when I run both first blocks in js and python.
![screenshot from 2018-10-31 23-37-57](https://user-images.githubusercontent.com/33936987/47809155-3b886f80-dd66-11e8-883f-38d03b2acc86.png)
![screenshot from 2018-10-31 23-38-23](https://user-images.githubusercontent.com/3393

[2018-10-31 18:20] iFlameing commented on #1112
@hamilton  can you explain how I can proceed regarding this issue.

[2018-10-31 18:56] richiverse commented on #1117
![image](https://user-images.githubusercontent.com/2671102/47811797-0e639f00-dd1d-11e8-83b4-0f0c90abf068.png)

On ubuntu 16.04

[2018-10-31 21:39] wlach commented on #894
Ok, have been hacking on this a bit over the past few days. Here are my ideas on how this should work (have implemented a good chunk):

We store the following structure locally (currently in localStorage, but could be indexdb):

[code]

We update the dirty copy every 15 seconds or so if there are changes.

On first load of a notebook, we serialize the original contents and the last modified date t

[2018-10-31 21:48] hamilton commented on #1107
Could you provide more context for this not seeming like a priority to you? I have already found the tight coupling of input & output to be slowing me down considerably in the past week.

[2018-11-01 01:41] hamilton opened #1118 "implement a CodeMirror mode for the "fetch cell""
The semantics behind the upcoming fetch cell (implemented in #1115) are straightforward enough that we should be able to implement a CodeMirror mode that does basic syntax highlighting for the sake of usability. This should follow whatever we agreed upon in #1009.

[2018-11-01 21:12] #825 closed

[2018-11-01 21:12] bcolloran commented on #825
this is going to be obsolete via some upcoming changes

[2018-11-01 21:13] #905 closed

[2018-11-01 21:13] bcolloran commented on #905
obsolete via #894 etc

[2018-11-02 14:50] mdboom commented on #998
I'm thinking of deferring this until after #1106 lands -- the UX will be *very* related to that status -- so much so that I think it might make sense to make it the same thing.  What do you think, @hamilton ?

[2018-11-02 15:05] #1080 closed

[2018-11-02 15:43] hamilton commented on #998
@mdboom I agree. Let's assign this to me and I can tackle it in a subsequent PR.

[2018-11-02 18:05] hamilton commented on #1118
This ended up being very quick thanks to the CodeMirror `simple` addon + 3 regexes, which was implemented in #1115.

[2018-11-02 22:04] teonbrooks commented on #1015
yay, thanks @hamilton! 🎉

[2018-11-05 19:40] wlach opened #1127 "circle configuration does not test local docker-compose environment"
The circle ci configuration we're using for iodide does not test the local docker-compose environment. It really needs to, otherwise we can't know if a PR will break stuff (like #1126 did today)

[2018-11-06 00:18] bcolloran commented on #1000
@hamilton has proposed an idea about using shadowDOM for the implementation of this. @hamilton please feel free to add any additional details along those lines.

[2018-11-06 00:40] bcolloran commented on #1090
after dogfooding this a bit, i think this should be in a menu that lives in the right hand side of the console text entry rather than a toolbar -- the tool bar just eats up a lot of our precious screen real estate for three buttons (and just one ATM)

also, I'm seeing rendering errors with the clear button on extremely-alpha and localhost with both FF and Chrome.

![image](https://user-images.gith

[2018-11-06 00:41] hamilton commented on #1090
Let’s talk about this during tomorrow’s standup before going forward with a
change.

On Mon, Nov 5, 2018 at 4:40 PM bcolloran <notifications@github.com> wrote:

[2018-11-06 01:05] bcolloran commented on #1090
sgtm -- in the meantime, since this feature is not working as expected and we're not sure about the UX we want, and a couple code quality things got past review, i've reverted #1119. we can take another crack after discussing :-)

[2018-11-06 01:11] hamilton commented on #1090
Sounds good to me. fwiw I believe that issue you're encountering was brought up in that PR, which had a fix & review on my mbp on FF. Clearly I didn't do a good enough code review on this pass - apologies!

Render bugs, on the other hand, are no joke, and I'll do a better job in the future checking on Chrome.

[2018-11-06 05:52] bcolloran opened #1129 "promise-handler.test.jsx has weird status on circleci"
conversation from gitter:

### bcolloran
anyone have any idea what's going on here:
https://circleci.com/gh/iodide-project/iodide/336?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

it looks like promise-handler.test.jsx failed, but it shows as a pass, and the build passes overall
### Hamilton Ulmer
@bcolloran yes, I think I can fix that. The problem is Jest req

[2018-11-06 11:28] rth opened #1130 "Embedding iodide notebook into an HTML document"
I was wondering if there was a preferred way for embedding an iodide notebook into an HTML document.

Somewhat related to https://github.com/iodide-project/iodide/issues/1093 I would like to embed a few cells into a [RemarkJS](https://github.com/gnab/remark) presentation which is just an HTML document. Using an iframe works, e.g.
[code]

However, the current limitations I have with `iframe` approa

[2018-11-06 11:31] rth commented on #1130
Embedding the console as in https://github.com/iodide-project/iodide/issues/1090#issuecomment-436089111 would be even better. Not sure if there is a simple way of doing that?

[2018-11-06 11:56] rth commented on #1093
This would be quite nice!

That is very true. Though, I find the idea of just taking some existing notebook / report and converting it to a reasonably readable presentation quite optimistic. There would be typically much more information in a notebook / report that would be shown in the slides unless the notebook was specifically written to be a presentation. In conferences, I can not say that man

[2018-11-06 18:19] bcolloran commented on #1093
+1 -- i don't think we'd want/attempt to do this in an automated way. i think we'd require explicit annotations on certain cells (following from "explicit is better than implicit"), so, as you say: notebook would need to be specifically written with slides in mind

[2018-11-06 18:46] hamilton commented on #1130
Great issue, and one we've talked about amongst ourselves. Because we do things in an iframe, iodide is severely constrained in terms of flexibility.

Having direct jsmd editing (instead of the cell-based approach) would be one solution to your first problem. We don't have this yet, but we will soon. That would allow something like this:

[code]

Which should show the results of `plot(x)` (if it g

[2018-11-06 18:56] hamilton opened #1132 "create a more useful help message if a user tries to locally load as noteobook after export"
<img width="1679" alt="screen shot 2018-11-06 at 10 55 12 am" src="https://user-images.githubusercontent.com/95735/48086793-8d8c2380-e1b2-11e8-91b5-a201a1d62f03.png">

I tried exporting a notebook to see what would happen, opened the file, and got this. I think we can probably catch this error and put in something much more useful that doesn't look broken.

[2018-11-06 18:58] hamilton commented on #1132
Even if we don't support this way of looking at an exported notebook (probably doesn't work anyway because of the realities of iframes) a more useful error message could guide a user gracefully in a direction

[2018-11-07 19:55] bcolloran commented on #1107
+1 that we should decouple the input from output implementation-wise -- inputs should be able to immediately display in the console. But just to make sure we're all on the same page: UX wise, we should keep the tight 1:1 coupling of inputs to outputs. This was one of Adam Rules UX points that i very much agree with: users need to be able to clearly see which code generated which outputs.

so to ps

[2018-11-07 20:41] bcolloran commented on #1117
@mdboom any thoughts on this? is this a wontfix bug in the old deployment?

[2018-11-07 20:49] mdboom commented on #1117
I can't reproduce this, even when going back to Firefox 62.  This leads me to wonder if perhaps an extension is somehow getting in the way.  @richiverse : Can you try running firefox without any extensions (`firefox --safe-mode`) and seeing if you can still reproduce?

[2018-11-07 21:10] iFlameing commented on #1117
I am also using the firefox 62 but it is not showing error as specified.

[2018-11-07 21:38] #894 closed

[2018-11-07 22:03] hamilton opened #1141 "autosave: only add dirty copy when code cells have edits"
I'm 0/2 for useful reviews recently, so I'm going to try to undo the damage and find all the edge cases on the new autosave functionality.

- `/new` on the server probably shouldn't have autosaving (possibly)
- in a notebook, if I run the cells, then refresh, the notebook believes there's a dirty copy there. Probably shouldn't.
- if I leave an empty notebook open for a bit, then refresh, it assume

[2018-11-08 00:39] hamilton commented on #1118
Closed with #1115

[2018-11-08 00:39] #1118 closed

[2018-11-08 00:40] hamilton commented on #1113
Closed with #1115

[2018-11-08 00:40] #1113 closed

[2018-11-08 00:40] hamilton commented on #990
Closed with #1115

[2018-11-08 00:40] #990 closed

[2018-11-08 00:40] hamilton commented on #1009
Closed by #1115

[2018-11-08 00:40] #1009 closed

[2018-11-08 16:05] #1141 closed

[2018-11-08 16:39] tiwariayush opened #1219 "jsmd content of the notebook via pyodide API"
Hi,

I am trying to use pyodide inside an iframe, where I need to be able to get the `jsmd` content of the notebook everytime some change has been done in it. Just going via the API mentioned on the [documentation page](https://github.com/iodide-project/pyodide/blob/master/docs/api_reference.md) for `pyodide`, I couldn't find anything for it, but on `iodide` API [documentation](https://iodide.io/d

[2018-11-08 17:34] wlach opened #1144 "Use something other than localStorage for storing autosaves"
localStorage is slow and synchronous, we use something faster for storing local changes. In #894, @SimonBiggs recommended using the dexie wrapper for indexedb: http://dexie.org/

[2018-11-08 18:56] wlach opened #1145 "Add footer for public site with copyright/tos information"
Per legal's advice, we should provide various copyright notices and terms of use in the footer.

[2018-11-08 19:34] SimonBiggs commented on #1144
Local storage is also blocking I believe. The page will not begin to load until the entire local storage file is loaded into ram. It also has quite a low limit. There's only so much local storage this allowed to be used. IndexedDB has quite a high limit I seem to remember.

Downside of IndexedDB is it can be painful to program with. But that's where dexiejs comes to the rescue. Dexie also plays qu

[2018-11-08 19:36] SimonBiggs commented on #1144
To add here, I think http://dexie.org/docs/Syncable/Dexie.Syncable.js.html might also help the local changes syncing with the iodide server story.

[2018-11-08 20:02] hamilton opened #1146 "catch React uncaught errors on the top level eval frame container and render a KernelErrorPane msg"
This will likely be a follow-on to #1106, but fairly critical to closing the loop on usability issues we haven't encountered. Filing to remind myself to tackle it.

Because of changes made in React 16, we can now catch all uncaught errors happening within React. So issues such as the `window` inspection security error and other future unforseen bugs relating to React rendering can be caught at the

[2018-11-08 20:41] wlach commented on #1037
I still want to do this but am going to put it on hold for a short while, as I attack lower hanging fruit.

[2018-11-08 20:50] wlach opened #1147 "Provide more information to users before they sign up"
Per legal, we should provide more information on what users are signing up for before they log into iodide.

I think we probably ought to not just hook directly into github's auth flow on the public server, but rather provide some kind of "login" modal which tells the user what they're consenting to.

[2018-11-08 20:57] wlach opened #1148 "Add documentation on removing record of user's account from iodide site"
We should add some way for users to delete their account from our site.

From Michael Feldman:

[code]

I think this only makes sense on the public site, so this feature should be enabled only with a specific configuration flag.

[2018-11-09 08:45] dfahlander commented on #1144
Cheers!

The biggest step when migrating from locaStorage to IndexedDB is going from sync to async - which may impact a chain of functions that previously returned values now have to return Promises. Would really recommend using the async/await keywords to simplify this migration.

Regarding the sync part, you could either implement that proprietary, use dexie-syncable (still in beta), or [sync-cl

[2018-11-09 19:13] hamilton opened #1149 "as a user, if there is a long-running computation or an expensive load step, show a spinner + message in the report"
When a user is writing a report with pyodide, they currently pay a penalty on pageload. There are two vectors for improving the experience: (1) speed up the pyodide stack loading and (2) give some feedback (spinner + message) so a user is not wondering what this blank page is.

[2018-11-09 22:35] wlach opened #1151 "Get an error if I run pyodide.py_import twice"
How to reproduce: Go to https://extremely-alpha.iodide.io/notebooks/132

"Run all", then try to run the js cell again. It should print the value of "v" again, but instead I'm getting a `RuntimeError: index out of bounds` error in my pyodide console.

@mdboom any ideas what might be happening here? This bug seriously affects my ability to use pyodide in conjunction with javascript, since I need to

[2018-11-12 20:42] mdboom commented on #1151
Fixed and merged in iodide-project/pyodide#252.

[2018-11-12 20:42] #1151 closed

[2018-11-13 20:17] #1129 closed

[2018-11-13 22:35] hamilton opened #1154 ""run all" should work in jsmd editor"

[2018-11-13 22:38] hamilton opened #1155 "use either "chunk" or "cell" in codebase"
Our codebase uses both somewhat interchangeably. For clarity, we should go with one or the other.

[2018-11-13 22:45] hamilton opened #1156 "deprecate the meta tag, add title features to server side"
As we move to a pure jsmd editing environment, we are going to deprecate the meta block in jsmd. For one thing, it is redundant - the server saves the title of the notebook. On the other hand, theoretically users will export their notebooks to run standalone. In this case, exporting should simply fill the `<head>` tag with the relevant metadata - title, author, export date, etc.

[2018-11-13 22:48] hamilton opened #1157 "deprecate external dependency cells"
Now that we've implemented the fetch cell, there's no reason for us to support external dependency cells. Given that Iodide is in a very early alpha, we have no plans to continue supporting it, so let's remove it from the codebase as soon as we can.

[2018-11-13 22:51] hamilton opened #1158 "css cells should automatically update"
The `JSMD Editor` PR #1152 implements instant-ish MD editing. Now that we have somewhat reasonable separation with the iframe, there's no reason we can't do the same with css cells.

[2018-11-13 22:52] hamilton opened #1159 "re-implement plugin cells to run in jsmd editor"

[2018-11-13 22:56] hamilton opened #1160 "eval highlighted text in the editor"
for #1152

[2018-11-13 22:57] bcolloran opened #1161 "need to show an error in the iodide console if there is an unknown evalType for a jsmd eval"
if a user attempts to eval eg
[code]

we should display an error like "eval type `blarg` is not defined"

[2018-11-13 23:09] bcolloran opened #1162 "deprecate COMMAND_MODE for sure, probably deprecate concept of "modes""
clean up stuff around modes; for sure COMMAND_MODE is not needed, but we may not need modes at all.

related to #1152 .

[2018-11-13 23:12] bcolloran commented on #1156
this PR will also need to save the notebook title directly to the sever when it is edited, and load the notebook title from the server rather than from the JSMD meta section

[2018-11-13 23:48] hamilton opened #1164 "fix material-ui warnings from the Typography component"
Renovate recently upgraded `material-ui`, which now surfaces as deprecation warning. The instructions from the warning on how to migrate the params that'll disappear is pretty straightforward. This should be a quick issue for anyone.

[2018-11-14 00:23] hamilton opened #1166 "remove all legacy references to "cells" from iodide codebase"
JSMD editing will drastically simplify Iodide. One such way is we will not really need cells as a concept.

[2018-11-14 01:16] hamilton commented on #1162
closed with #1165

[2018-11-14 01:16] #1162 closed

[2018-11-14 01:18] bcolloran commented on #1155
fixed via https://github.com/iodide-project/iodide/pull/1152/commits/ff8094f59e14ffb9e113c8418ecfadc2e2b19625

[2018-11-14 01:18] #1155 closed

[2018-11-14 01:20] #1157 closed

[2018-11-14 05:49] bcolloran commented on #1161
related to #1152

[2018-11-14 05:51] bcolloran opened #1167 "fix js autocomplete in direct jsmd branch"
autocomplete needs a little tune up. blocks #1152

[2018-11-14 05:52] bcolloran opened #1168 "add python codemirror mode to jsmd mode"
blocks #1152

[2018-11-14 05:54] bcolloran opened #1169 "shift+enter should eval and advance to next code chunk in jsmd editor"
blocks #1152

[2018-11-14 05:56] bcolloran opened #1170 "viewMode=report needs to work in jsmd editor branch"
blocked by #1154
blocks #1152

[2018-11-14 05:58] bcolloran commented on #1160
if there is text selected in the editor, ctrl+enter should eval

[2018-11-14 17:54] wlach commented on #1147
Yeah, we really need to fix this. :) I was just introducing a coworker the extremely alpha site and it was totally *not* obvious what they were signing up for when they clicked on "login" and get a github form.

[2018-11-14 17:59] #1127 closed

[2018-11-14 20:39] bcolloran opened #1174 "make `iodide.output` APIs work"
blocks #1152

steps:
- need to create target divs in the report. (these could maybe somehow be keyed by text hash to prevent redrawing all the time, tho some nuance will be needed to prevent collisions when 2+ chunks have identical text; perhaps just check the preceding hashes, and if an identical one exists, append a number? so: `${hash}`, `${hash}-1`, `${hash}-2`)
- need the code evaluation stuf

[2018-11-14 20:58] bcolloran opened #1175 "move _all_ redux state operations into the editor"
keeping two copies of the app state, two copies of the reducers, two copies of a bunch of actions is terrible. it was a fast path to getting the app working with the iframe, but i think we can move off it now. here's my proposal:

* the editor redux store keeps a copy of _all_ of the redux state for both halves of the app.
* the editor keeps it's actions and reducers as-is
* we eliminate the conce

[2018-11-14 21:17] bcolloran opened #1177 "update handling of codemirror modes for unknown chunk types"
see @mdboom 's comment
https://github.com/iodide-project/iodide/pull/1152#discussion_r233523249

in general, the jsmd mode needs some additional work and clean up. that if/elseif block should all be simplified to case statement for example

[2018-11-15 19:34] bcolloran commented on #1158
fixed in #1179

[2018-11-15 19:35] bcolloran commented on #1158
fixed in #1179

[2018-11-15 19:35] #1158 closed

[2018-11-15 19:44] iFlameing commented on #1164
can I work on it ?

[2018-11-15 20:50] iFlameing commented on #1164
And where I can find the typography component because I searched a lot but couldn't fine any component named typography can you help?

[2018-11-15 20:58] iFlameing commented on #1146
can I work on this issue?

[2018-11-15 21:41] bcolloran commented on #1164
@iFlameing the typography component is used in 3 files. Did you try searching for "typography" within the project src folder? `ctrl+shift+f` in most IDEs and editors that support "search within project"

[2018-11-16 13:43] mdboom opened #1184 "Make brotli compression of static resources work in server deployment"
As @wlach mentioned [here](https://github.com/iodide-project/iodide/pull/1178#issuecomment-439198007), I don't think the static resources are actually being served compressed.  Our toolchain has the ability to do so, so we should probably get that working.

[2018-11-16 16:15] wlach commented on #1184
I was actually wrong on this, it appears that we *are* currently serving gzipped assets to the client. Brotli compression is currently broken though. For that to work, I think we just need to add the [Brotli](https://pypi.org/project/Brotli/) package.

I think the steps to do this from a working server installation are just:

[code]

Then just submit a PR with the changed files.

[2018-11-16 19:59] wlach opened #1187 "Server notebooks get stuck on old pyodide versions"
Just noticed that my prototype dashboard is stuck using an old version of pyodide:

https://extremely-alpha.iodide.io/notebooks/131/

looking at the source, I see that the language plugin is hard defined inside the jsmd:

[code]

Not sure what the right thing to do here is. I can see why we would want to do this (so that old notebooks are guaranteed to stay working even across upgrades to the pyod

[2018-11-16 20:49] mdboom commented on #1187
I thought this was fixed (by ignoring the thing in meta, which could still be overridden with an explicit plugin cell).  Let me look and see why that's still happening.

[2018-11-16 20:51] mdboom commented on #1187
I think maybe this was just discussed, but not implemented.  I'll have a PR soon.

[2018-11-17 12:38] iFlameing commented on #1164
@bcolloran thanks I find it.

[2018-11-17 14:41] iFlameing commented on #1164
@hamilton  I changed the code in all the three files where the typography component. As mention in documentation to remove the deprecation warning I changed the code to this
const theme = createMuiTheme({
  typography: {
    useNextVariants: true,
  },
});
but the deprecation warning is still showing in console.

[2018-11-19 19:56] wlach commented on #573
Yup, let's reopen this. It's pretty annoying.

[2018-11-19 21:15] #1187 closed

[2018-11-22 21:51] wlach opened #1199 "Consider using prettier to lint/format code"
Some of the spacing issues in #1197 suggest to me that using the airbnb linter isn't quite enough to catch all the nits that one might have about how a react file is formatted.

IMO we should just switch to using [prettier](https://prettier.io/), which you can configure to "auto format" your code so you don't even have to worry about violating our conventions/style. I believe it's mostly the same

[2018-11-26 19:03] wlach opened #1201 "Remove /new page, always create and save a notebook when created"
The `/new` page shows a blank notebook on the client which is not yet saved on the server. This is a bit confusing, I think it would be better to just create and save the notebook automatically when the user creates such an object. This is related to #1037: fixing this might be best done as part of tackling that issue.

[2018-11-27 01:54] #1177 closed

[2018-11-27 16:31] wlach opened #1204 "We should disable google analytics when "do not track" is set"
Per Mozilla's [privacy policy](https://www.mozilla.org/en-US/privacy/websites/) for websites, we should disable google analytics when "do not track" is enabled.

We can determine whether do not track is enabled using this procedure:

https://dev.to/corbindavenport/how-to-correctly-check-for-do-not-track-with-javascript-135d

And then feed it into google analytics (when present) using this set of i

[2018-11-27 16:40] wlach opened #1205 "Disable logout if using oauth identification"
It's not really possible to log out if using oauth identification (as we are internally), so let's just disable the logout button entirely if this is the case.

[2018-11-27 18:31] bcolloran commented on #1067
@hamilton, had you mentioned that getting rid of the  command mode `esc` key binding on the jsmd branch will fix this?

[2018-11-27 18:35] bcolloran commented on #1154
as you work on this, keep #1112  in mind -- we want run all to halt if any eval fails. i reckon as long as you're in there, let's knock out that issue too

[2018-11-27 18:37] bcolloran opened #1207 "move to react library for output reps"
our reps are turning out to be quagmire. Let's replace them across the board with the library we are using to show object reps.

[2018-11-27 18:45] bcolloran commented on #1034
maybe we need some kind of message in that case: "Your report is empty, please add content in markdown or HTML code chunks" ...

@hamilton  any thoughts?

[2018-11-27 18:53] #1117 closed

[2018-11-27 20:59] wlach commented on #1201
Yup, github's autoclose usually does the right thing but not in this case. :)

[2018-11-27 22:37] bcolloran opened #1210 "remove cellClipboard"
blocks #1152
need to remove references to cellClipboard

[2018-11-27 22:42] bcolloran opened #1211 "remove extra JSMD tools and parsers"
jsmd is not handled in the editor and at eval time, and we have new parsers. we need to clean out the old JSMD tools and parsers

[2018-11-27 22:47] #1169 closed

[2018-11-27 23:04] #1154 closed

[2018-11-27 23:04] #1170 closed

[2018-11-27 23:12] bcolloran opened #1212 "investigate getting rid of our copy of codemirror-keymap-sublime"
i think it should be possible to use the codemirror API to patch the sublime keymap, rather than having a whole copy of the source code in our src folder

[2018-11-27 23:32] hamilton commented on #1160
sounds good

[2018-11-27 23:41] #1210 closed

[2018-11-28 00:00] hamilton opened #1216 "Make iodide.output.element work post-JSMD editor refactor"
At the moment matplotlib will not plot on the direct jsmd editing branch (#1152). I'm not sure but it is possible that @mdboom may have to change something on the pyodide side to ensure that we have the language support.

[2018-11-28 15:37] mdboom commented on #1216
Python and matplotlib on their own seem to work fine.  (I had to change the delimiters from `%% code {"language":"py"}` to `%% py`, but I think that's on purpose.)

The issue is in the call to `iodide.output.element`.  It looks like the function `sideEffectDiv` is still doing some very cell-ish things.

[code]

[2018-11-28 19:51] #1145 closed

[2018-11-28 20:50] bcolloran opened #1223 "deprecate iodide.output"
as discussed offline and at #1222, we want to replace `iodide.output` with something a bit more explicit like `iodide.report.render('#target-div', someObj)`

[2018-11-28 23:06] #1174 closed

[2018-11-28 23:09] bcolloran commented on #1216
@hamilton does #1222 fix this, or do you have something else in mind? i think this can be closed now, but if we want to change this issue to be about pyodide moving away from, let's update the title and labels accordingly.

see also #1223

[2018-11-28 23:10] hamilton commented on #1216
@bcolloran, I believe it does.

[2018-11-28 23:10] #1216 closed

[2018-11-29 16:01] iFlameing commented on #1144
@wlach  I am working on it.

[2018-11-29 21:16] #1147 closed

[2018-11-29 21:28] wlach opened #1228 "proxy file loads via iodide server (with API keys etc)"
Sometimes we want to be able fetch data from an HTTP URL where we do not want to reveal the source to just everyone (e.g. because it contains a private API key). For this case, we could have the server fetch it on behalf of the user and store it in a file object. It would be great if you could also have the server optionally check for updates for this file on some user-defined refresh interval.

O

[2018-11-29 22:31] wlach opened #1229 "Make iodide homepage minimally viable for public launch"
The current iodide homepage is just lists all the notebooks, which is ridiculous and won't scale.

Strawman proposal based on earlier discussions of onboarding flow from our workweek last September:

* Add a simple admin interface to iodide, allow designating users as admins
* Add a "featured" field to the notebook model and let admin users add it
* Have homepage show a curated set of featured not

[2018-11-29 22:45] wlach opened #1230 "Pressing "log in" from action bar does not show modal"
We just added a login modal in #1196. This works great (mostly) though I just noticed it doesn't popup if you click on the log in link in the action bar:

![image](https://user-images.githubusercontent.com/20569/49256668-c14b1980-f3fd-11e8-9d43-d62b821c14fa.png)

Unfortunately this isn't trivial to fix (it will require moving some logic from `user-menu.jsx` to some new shared component/file, I thi

[2018-11-30 00:43] bcolloran commented on #579
@hamilton  now that we have a single editor on the JSMD branch, this issue is waaaay easier to tackle

[2018-12-03 16:08] iFlameing commented on #1144
@dfahlander  @wlach
async function getAutosaveState(state) {
  const autosaveKey = getAutosaveKey(state)
  const auto = await db.autosave.get(autosaveKey) // I am fetching the data stored in indexDB with autosavkey as key.
  const status = auto;
  return auto;
}
But the problem is when I returning the auto it becomes promise where as when I am doing console.log(auto) it is printing the value. How

[2018-12-04 18:34] bcolloran commented on #1229
i think this seems reasonable, but in the short term i wonder if it'd be faster to hand/hard code the featured notbooks rather than building the admin interface and the extra permissions / user role stuff that we'd ned for that?

@hamilton what do you think?

[2018-12-04 18:46] #1168 closed

[2018-12-04 19:50] #1211 closed

[2018-12-04 20:56] #1160 closed

[2018-12-05 15:16] #1161 closed

[2018-12-06 10:00] iFlameing commented on #1230
I see the issue,  when we click it is popping the window but not logged in the user. I am working on it.

[2018-12-06 15:14] #1156 closed

[2018-12-06 15:14] #1159 closed

[2018-12-06 15:22] #383 closed

[2018-12-06 15:22] #432 closed

[2018-12-06 15:22] #539 closed

[2018-12-06 15:22] #561 closed

[2018-12-06 15:22] #596 closed

[2018-12-06 15:22] #670 closed

[2018-12-06 15:22] #721 closed

[2018-12-06 15:22] #722 closed

[2018-12-06 15:22] #779 closed

[2018-12-06 15:22] #824 closed

[2018-12-06 15:22] #1041 closed

[2018-12-06 15:22] #1050 closed

[2018-12-06 15:22] #1058 closed

[2018-12-06 15:22] #1064 closed

[2018-12-06 15:22] #1065 closed

[2018-12-06 16:33] hamilton opened #1244 "closing a paren in python chunk causes unnecessary indentation on next line"
Reported by a Mozillian. Follow the notebook below.

@bcolloran I think you'll be able to fix this pretty quickly, so I'll assign it to you. Otherwise feel free to un-assign it

[code]

[2018-12-06 18:50] hamilton opened #1245 "fetch syntax highlighting appears to be broken"
Some case that previously worked before `direct-jsmd-editing` don't.

<img width="801" alt="screen shot 2018-12-06 at 1 50 25 pm" src="https://user-images.githubusercontent.com/95735/49605216-ec81bb80-f95d-11e8-96b1-258dffaea859.png">

[2018-12-06 18:51] hamilton commented on #1245
This could be due to the regular expressions in the simple mode for CM don't play nicely with CM multimode.

[2018-12-06 18:54] hamilton opened #1246 "console errors don't surface in console"
console errors for evasls are getting pushed to the dev console, not the iodide one.

[2018-12-08 12:08] iFlameing opened #1253 "Styling the Profile page"
Changing some style of profile page like notebooks written in small case N must be capital case . The footer of Iodide is not styled.

[2018-12-09 10:29] iFlameing opened #1255 "Example given at Iodide website docs results in blank"
I am exploring the Iodide docs example so that I can understand it in better context I found docs at this [link](https://iodide.io/docs/jsmd-and-importing-notebooks.html) and start reading it when click on the given example it open a notebook which contains nothing.

### What I Expected
It must show me some example.
we can reproduce it by just going to above link and click on last example.

[2018-12-09 11:32] renovate[bot] opened #1256 "Dependency deprecation warning: babel-preset-es2016 (npm)"
On registry `https://npm-proxy.fury.io/R6cAHTse1AKXmdXpMxh5/wave/`, the "latest" version (v6.24.1) of dependency `babel-preset-es2016` has the following deprecation notice:

`🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update! `

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated

[2018-12-10 12:59] pradeepgangwar commented on #1184
I am working on this.

[2018-12-10 18:39] bcolloran opened #1265 "make sure we're using the smallest portion of lodash possible"
@hamilton noticed in  https://github.com/iodide-project/iodide/pull/1250#discussion_r240007725 that we're not importing lodash optimally.

according to this: https://medium.com/@martin_hotell/tree-shake-lodash-with-webpack-jest-and-typescript-2734fa13b5cd
-- webpack should be mostly tree shakeable

i don't know if we'd need lodash-es or regular lodash, but investigating that is part of this issue

[2018-12-10 21:05] hamilton opened #1266 "as a user, I'd like some onboarding from within the notebook"
Now that we have finally arrived at the new direct jsmd editing paradigm (and thus the last major user-facing workflow change for iodide for a minute), we'll need to focus on onboarding. I think we all agree that software is only as good as its documentation, and our goal is to make Iodide as simple as possible to get started. Here are a few places we can help redirect & clarify the onboarding for

[2018-12-10 21:09] bcolloran commented on #1266
re 1: let's use tabs in the existing help pane -- could change to the menu item title to "help and docs" if you wish

re 2: you mean our readme and stuff or do you have other docs in mind?

we should probably also mark the iodide/examples repo as archived

[2018-12-10 21:17] hamilton commented on #1266
(1) yeah a tab _could_ work as long as users see it. I thought an actual toolbar menu item would be very hard to miss for new users, and is where most users would be looking for that.
(2) yeah our readme etc. - things committed in the GH repo. I don't think there is much we'll have to update on this point since we don't have many docs anyway. Probably a broader question about where we keep docs (A

[2018-12-10 21:23] bcolloran commented on #1266
i think adding a toolbar button that takes you straight to the help pane seems fine. our menu is getting pretty short at this point now that we don't need a zillion items for cell management :-) since we have so few things, top level menu bar buttons should be ok

also just noticed that the menu items need clean up to, what with export being disabled

[2018-12-10 21:23] bcolloran opened #1267 "remove menu items for "export""
since export is disabled for the time being, we should remove those menu items

[2018-12-10 21:40] #372 closed

[2018-12-10 21:40] hamilton commented on #372
Closing this since the `direct-jsmd-editing` branch + our server component has made these features obsolete

[2018-12-10 21:42] hamilton commented on #396
@bcolloran I'm finding that at least the "find" part of this equation works pretty nicely now w/ the jsmd editor (results seem coherent). Should this be closed or updated?

[2018-12-10 21:43] hamilton commented on #400
Closing this since we don't use the external dependency type anymore (in favor of `fetch`)

[2018-12-10 21:43] #400 closed

[2018-12-10 21:45] hamilton commented on #723
@bcolloran can this be closed?

[2018-12-10 21:47] hamilton commented on #995
@bcolloran This is probably pretty close to being closable, yeah?

[2018-12-10 21:48] hamilton commented on #1245
I'm noticing other syntax highlighting (in MD cells, for instance) are a bit buggy as well, so there may be an issue with the multimode delimiting.

[2018-12-10 21:51] hamilton commented on #1104
Chatted with @mdboom about this, and there are some ideas around saving the buffer so you don't suffer the wasm load time when you load a pyodide notebook in report view.

[2018-12-10 21:52] bcolloran opened #1268 ""Iodide" link in the top corner of notebook must open iodide homepage in new tab"
otherwise, eval state can be lost if a user navigates from an active notebook to a new page.

this is a general principle: pages should always open in a new tab. I thought this was solved (see #884 #885 #994), but apparently not, so we'll need to look into it again

probably a good first issue

[2018-12-10 21:54] hamilton commented on #1067
Yes, this was closed with the `direct-jsmd-editing` branch merge, but kind of coincidentally. Closing.

[2018-12-10 21:54] #1067 closed

[2018-12-10 22:46] bcolloran commented on #995
hopefully. it's in scope for #1250

[2018-12-11 09:45] pradeepgangwar commented on #1268
@bcolloran I will fix this. :)

[2018-12-11 18:05] gregglind opened #1274 "Iodide needs a Matrix First enviroment."
## Problem statement:  Matrix work in JS stinks.

1.  Manipulating N-dimensional-Matrices is common in scientific computation.
2.  Current Javascript doesn't optimize code affordances for Matrices.
3.  Python / NumPy / SciPy matrix support feels 'bolted-on'.
4.  R, Octave / Matlab have affordances that make Matrix work better.

## Features that make N-dimentional-Matrix work awesome

1.  Literals

[2018-12-11 18:47] wlach commented on #1268
I think we might want to do a deeper rethink of this. Clicking on a logo in a navbar is almost universally code for "open the site in the same tab", I don't think it's great to break the assumption.

I'd suggest we either prompt before switching back to the homepage if clicked directly (using something like this: https://stackoverflow.com/a/1119324) or maybe just amalgamating the hamburger menu wi

[2018-12-12 09:36] iFlameing commented on #1267
ok I am working on it.

[2018-12-12 18:08] iFlameing commented on #1265
@bcolloran  I found some interesting post regarding the lodash optimization we can use babel-plugin-lodash or lodash-es and setting the "sideeffect" : false in package.json. one of the post I liked it can be found in this [link](https://nolanlawson.com/2018/03/20/smaller-lodash-bundles-with-webpack-and-babel/). what you say do we use plugin or lodash-es module any suggestions.

[2018-12-12 18:56] hamilton commented on #1268
Agreed w/ @wlach. In general the principle should be "users shouldn't lose their work" not "pages should open in new tabs". The latter is a workaround to achieve the former. In favor of an "are you sure you want to lose your work?" sort of modal here. Even if we had gdocs-style editing, we'll still want a modal, since the user is losing state (even if the editor state itself is saved).

Amalgamati

[2018-12-12 20:06] wlach opened #1278 "Should parse resources fetched by a fetch cells synchronously"
Load this notebook and click "run all":

https://extremely-alpha.iodide.io/notebooks/148/?

Expected:

See a graph in the report view

Actual:

See a console error because it tries to render the graph before all the supported libraries are fully loaded. If I run the fetch cell again (e.g. by clicking run all a second time), it seems to load the libraries successfully.

[2018-12-12 20:19] wlach commented on #1278
Talked to @hamilton and apparently this is the way things work right now -- we both load and parse asynchronously, so a resource that depends on another might be loaded in the wrong order (in this case d3 seems to be loaded after metrics-graphics). We should be able to fix this by modifying the fetch cell to parse resources only in the order they are defined, rather than as they are fetched (we ca

[2018-12-12 20:39] bcolloran commented on #1265
hmm lodash-es sounds like it might do what we want. @hamilton do you have thoughts?

[2018-12-12 21:00] bcolloran commented on #1268
yep big +1 -- "users shouldn't lose their work" not "pages should open in new tabs" is the important thing.

that said, for now I'd be inclined to accept this PR b/c i think that near term, the risk of losing eval state is greater than the downside of breaking this convention, and we can open a new issue to revisit the matter. but i'm not wedded to that perspective if you guys feel very strongly

[2018-12-12 21:02] hamilton commented on #1268
mine is a weakly-held belief :) opening in new tab is good & we have a PR already that fixes this for now, so might as well merge it and re-approach later. I suspect we'll be redesigning the toolbar at some point before long at any rate.

[2018-12-12 21:14] bcolloran commented on #723
indeed! thanks

[2018-12-12 21:14] #723 closed

[2018-12-12 21:17] bcolloran commented on #396
yea i think this is superseded by #579 . thanks!

[2018-12-12 21:17] #396 closed

[2018-12-12 21:47] bcolloran opened #1279 "fix loading of codemirror syntax highlighters via language plugin"
right now, language plugins don't load syntax highlighters. should be a pretty easy fix.

[2018-12-13 02:01] hamilton commented on #1265
yep, we should just be using `loadash-es` which tracks directly to `lodash`.

[2018-12-13 08:17] iFlameing commented on #1279
@bcolloran  I am working on it.

[2018-12-13 21:13] hamilton commented on #1053
THis will be fixed with #1250 / #1276

[2018-12-13 21:18] hamilton commented on #738
obsolete due to the new editor

[2018-12-13 21:18] #738 closed

[2018-12-13 21:20] hamilton commented on #634
I think this will be `wontfix` since I'm hoping to deprecate `iodide.evalQueue` entirely.

[2018-12-13 21:24] hamilton opened #1281 "deprecate iodide.evalQueue"
With the `fetch` eval type, a big majority of async use cases have been taken care of. This api was built around the cell architecture, and if indeed it will be useful to halt further evaluation in some way, we will have to re-implement this in some way to make more sense.

Deprecating this will require removing the use of `iodide.evalQueue` in `pyodide.js`, so once that's done, I can remove the f

[2018-12-16 13:32] renovate[bot] opened #1284 "Dependency deprecation warning: babel-preset-es2016 (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v6.24.1) of dependency `babel-preset-es2016` has the following deprecation notice:

`🙌  Thanks for using Babel: we recommend using babel-preset-env now: please read babeljs.io/env to update! `

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package

[2018-12-18 18:48] bcolloran commented on #1010
gonna close this one, b/c bow it's as easy as copy/paste jsmd!!!! :-D

[2018-12-18 18:48] #1010 closed

[2018-12-18 18:59] hamilton commented on #1229
I'll be taking this on by mostly replicating what we have on iodide.io right now.

[2018-12-18 18:59] bcolloran opened #1285 "update gif on readme.md with latest notebook UX"

[2018-12-18 19:00] wlach commented on #1229
I added the necessary scaffolding for letting people designated as staff or admin modify/delete the notebooks objects after logging in, this would easily let us designate a set of notebooks as featured

[2018-12-18 19:01] bcolloran opened #1286 "in-app documentation for alpha launch"
we need to document a few things in our in-app help pane:
- [ ] jsmd in general
- [ ] jsmd fetch syntax in specific

[2018-12-18 19:04] bcolloran opened #1287 "figure out how to deploy from tags for alpha"

[2018-12-18 19:10] #598 closed

[2018-12-19 11:44] #1284 closed

[2018-12-19 14:20] mdboom commented on #1286
Note some existing and probably out of date docs are in the iodide-project/docs repo.

Design points (for discussion):

- Move the docs into this repo so we can start having pull requests that update features and docs in a single go.  Shut down iodide-project/docs after.

- The existing docs repo is really *cool* because it uses Iodide/jsmd to document itself.  I think maybe we aren't ready to do

[2018-12-19 14:46] mdboom commented on #1286
`mdbook` looks like the right feature set, however, there is a non-zero setup cost to getting it installed which may be tricky for third-party devs, most of which will probably be familiar with the Js ecosystem, but not Rust.

Other alternatives:
- [docusaurus](https://github.com/facebook/docusaurus) Node-based
- [Markdown in Sphinx](https://www.sphinx-doc.org/en/master/usage/markdown.html) Python

[2018-12-19 19:51] hamilton opened #1291 "Provide additional metadata for notebook on server"
None of this is in-scope for our alpha launch, but the following notebook features on the server would be useful:

- _description_ -- having some additional metadata description about the notebook would be useful. I think the `meta` part of the jsmd could have taken care of that, but now that we've phased it out, it'd be nice to give a high-level description of the notebook.
- _tags_ -- As we make

[2018-12-20 18:33] mdboom commented on #1281
What are we planning to replace it with?  We still need a way to halt execution of the next chunk until a promise resolves.  This is used by `pyodide.loadPackage`, which will fail if the Python code runs before the package finishes loading.

[2018-12-20 18:40] #1267 closed

[2018-12-20 18:42] hamilton commented on #1255
Yes, this is the intended behavior now that we've moved away from a jupyter-style interface. An example notebook that shows our new paradigm is here:

https://extremely-alpha.iodide.io/notebooks/154/

We'll be putting together much better documentation as we get closer to alpha.

[2018-12-20 18:42] #1255 closed

[2018-12-20 21:35] iFlameing commented on #1279
@bcolloran  can you help me i didn't understand the issue

[2018-12-21 13:22] #1286 closed

[2018-12-21 13:57] mdboom commented on #641
Now that we have the docs deployed, I thought it made sense to revive and milestone this for the public launch.  Any thoughts on where this link should go?

[2018-12-28 14:21] #1184 closed

[2018-12-28 14:21] wlach commented on #1184
Done now

[2018-12-28 14:48] wlach commented on #1230
@iFlameing not sure how far you got, but please hold off on this for now, I see some refactoring that needs to happen and we should probably wait for #1302 to land before really working on this.

[2018-12-28 15:01] iFlameing commented on #1230
ok

[2018-12-28 17:20] #1204 closed

[2018-12-28 18:31] wlach commented on #1230
Ok! one thing that I'd like to see in a PR would be moving to having all react components using the login/logout methods in `actions.js`. as it is there is a fair amount of duplication.

[2018-12-31 09:35] iFlameing commented on #1205
@wlach  what do you want me to do in this  issue should I remove the logout menu item from the [user-menu.jsx](https://github.com/iodide-project/iodide/blob/master/src/shared/user-menu.jsx).

[2018-12-31 09:49] iFlameing commented on #984
@bcolloran what are you expecting in the pr of this issue ?

[2018-12-31 15:55] wlach commented on #1205
@iFlameing Correct, you will need to check for the presence of a variable which indicates whether we are using oauth or github for authentication in [webpack.config.js](https://github.com/iodide-project/iodide/blob/master/webpack.config.js), then export that state into the component, I'd probably recommend `USE_OPENIDC_AUTH` [per its use in settings.py](https://github.com/iodide-project/iodide/blo

[2018-12-31 15:57] iFlameing commented on #1205
ok

[2018-12-31 21:01] #1230 closed

[2018-12-31 21:10] iFlameing opened #1306 "Avatar is not showing up in notebook-header when we are logIn from the header-message."
Short summary of the bug. Please include the IODIDE version number where you found the bug - if you are just running locally (building for dev or prod) you can put MASTER

### What I Did
just go to iodide notebook and loggedIn through the header-message.
I am attaching a screenshot  which shows this issue.

### What I Expected
It shows me avatar when I loggedIn  in notebook-header.

### What Happe

[2018-12-31 22:18] #1306 closed

[2018-12-31 22:23] wlach opened #1308 "Docs task is failing in ci on master"
It appears that circle is failing on the docs job on the master branch. https://circleci.com/gh/iodide-project/iodide/1759

Here's the output from the above:

[code]

I'm not sure where it's getting `3.1.14` from? It appears that's the version of `webpack-dev-server` that we're currently using, but I don't see how that could possibly be related:

[code]

@mdboom any thoughts here?

[2019-01-02 20:33] wlach commented on #1201
I'm going to take this one.

[2019-01-03 12:07] iFlameing commented on #1201
ok

[2019-01-03 13:14] mdboom commented on #1308
Interesting bug, actually.  I found where `MkDocs` is doing this [here](https://github.com/mkdocs/mkdocs/blob/3f0e4464a787ad5ce5a235d7ae988a2d8f53f077/mkdocs/commands/gh_deploy.py#L54) It's checking the last version that did the deployment by looking at the git commit message of the last deployment.  However, it's looking in the source repo (iodide-project/iodide) rather than the destination repo

[2019-01-03 20:51] #1205 closed

[2019-01-03 21:16] wlach opened #1313 "Consolidate login code"
We currently have two definitions of login/logout code inside iodide:

1. One initiated from the header bar in actions.js:

https://github.com/iodide-project/iodide/blob/1718d634e47c08a987fa3e37586c6613b7b783d1/src/actions/actions.js#L270
https://github.com/iodide-project/iodide/blob/1718d634e47c08a987fa3e37586c6613b7b783d1/src/components/menu/header-messages.jsx#L105

2. Another initiated from th

[2019-01-04 09:02] iFlameing commented on #1313
I am working in it.

[2019-01-04 20:30] wlach opened #1317 "Notebook options popup can be incorrectly positioned"
Not sure if this is a new issue, or if it came from my changes in #1302, but I just noticed the popup for the notebook options on the user page gets incorrectly positioned if you scroll sufficiently far down:

![image](https://user-images.githubusercontent.com/20569/50709364-8dcf6080-1035-11e9-9d26-602110754a95.png)

This appears to be an issue with the fixed position wrapper element we have aroun

[2019-01-07 13:01] iFlameing commented on #1199
can I work on this ?

[2019-01-07 17:33] bcolloran commented on #1281
@hamilton @mdboom i think we decided that we do want to adopt the approach used by observable: that a chunk which returns a promise will hold further evaluation until the promise resolves. Can that be used to satisfy this requirement? @hamilton  any thoughts on this?

[2019-01-07 17:48] hamilton opened #1322 "When not logged in, saving the notebook (via meta-s) succeeds, even though it really failed"

[2019-01-07 18:07] mdboom commented on #1281
That would work for Pyodide -- it will require changes, but trivial ones.

[2019-01-07 18:15] bcolloran commented on #984
this is basically a styling change -- the explore button should not have a white background, which results in it appearing as white-on-white by default. It just needs to be a little more noticeable to make people more likely to click on it. This could be as simple as changing it to be very to light gray and/or adding a slight border, but i'm not wedded to any particular option -- we just need it h

[2019-01-07 19:00] wlach commented on #1199
@iFlameing we have been holding off on this until a large refactoring branch is merged into master. I think I'd rather take care of this myself -- it isn't very complicated or difficult to implement, but there might be some strange issues with tests or production deployment that will require fiddling. Going to assign it to myself to make that more clear.

[2019-01-07 19:55] wlach commented on #1317
Fixed with #1318

[2019-01-07 19:55] #1317 closed

[2019-01-07 20:02] bcolloran opened #1323 "disable system spelling error highlighting in console"
@hamilton spotted this in #1293, adding follow-up issue here

![image](https://user-images.githubusercontent.com/2380975/50790505-f60b8580-1273-11e9-9000-c5b7138f498b.png)

[2019-01-07 20:22] hamilton commented on #1323
https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/spellcheck

[2019-01-07 22:21] wlach commented on #1308
This bug is currently preventing us from auto-deploying master to heroku (since the ci is failing), so we should probably implement the suggested stopgap fix.

[2019-01-07 22:52] wlach commented on #1322
The save menu item is currently not visible when not logged in, so I'm not sure how people could accidentally try to save a notebook that they're editing.

I think we need a bit of a re-think around how editing while not logged in actually works, it's pretty confusing as things stand.

[2019-01-07 22:56] #1308 closed

[2019-01-08 03:51] hamilton commented on #1322
@wlach `meta+s` still triggers a UI event.

[2019-01-08 10:47] iFlameing commented on #1323
@hamilton How I can reproduce this issue I am not able to reproduce it ?

[2019-01-08 16:48] wlach commented on #1322
This is true, I feel like maybe the right solution here is to move towards autosaving (#1037) though, I think it might not be that hard.

[2019-01-08 17:48] hamilton commented on #1322
I agree, and perhaps tagged saving ("save as") or something can be handled with a keyboard shortcut like `meta+shift+s`.

[2019-01-08 18:50] bcolloran opened #1328 "default view should be editor+report+console panes"
to illustrate how code and MD maps into the report, we should show the report preview pane by default

[2019-01-08 19:09] bcolloran opened #1329 "move help button to top level menu bar"

[2019-01-08 19:22] bcolloran opened #1330 "there should be some way for non-logged in users to get to a fresh template notebook"

[2019-01-08 19:57] #1201 closed

[2019-01-08 19:59] iFlameing commented on #1323
I found it sorry for the above question.

[2019-01-08 20:06] #1246 closed

[2019-01-08 20:13] wlach commented on #1322
Per discussion, our stopgap solution here will be to show an error in the snackbar if the user is not logged in and they try to save. This should also cover edge cases like the user logging out in another tab.

[2019-01-08 20:30] bcolloran commented on #1175
fixed via #1250

[2019-01-08 20:30] #1175 closed

[2019-01-08 20:53] wlach commented on #1330
Still not sure in my head exactly what the right technical implementation we want here is, but I think the behaviour we want is to have some big button on iodide's front page which leads the user directly to a blank notebook that's easy to start experimenting and playing with. To cover all the bases, maybe it's best to include both python *and* javascript in it. As we hinted at in our meeting, may

[2019-01-08 21:53] #1328 closed

[2019-01-08 22:15] mdboom commented on #733
Is this functionality still working?  For example: https://extremely-alpha.iodide.io/notebooks/21/ doesn't seem to drop into report mode, despite the contents in the `%% meta`.

[2019-01-08 22:55] #641 closed

[2019-01-08 23:03] bcolloran commented on #733
ah, `meta` is fully deprecated already -- report view is exposed by sharing a link with an url param, e.g.:

https://extremely-alpha.iodide.io/notebooks/21/?viewMode=report

one can manually add this  url param, or can click the "REPORT" button and copy the url from there (the url toggles when you change view). Additionally, using sharing a `viewMode=report` link will run all of the code in the no

[2019-01-09 00:03] #1313 closed

[2019-01-09 00:50] wlach opened #1338 "iodide server deployment is super slow"
The iodide server takes quite a while to build on heroku (15-30 mins?), the main culprit seems to be compressing the scipy.data file from pyodide (which is 190 megs big) to brotli. This makes testing changes a bit annoying.

I think we should be able to cache the results of the whitenoise step using this technique:

https://devcenter.heroku.com/articles/buildpack-api#caching

... but we need to be

[2019-01-09 01:00] #1323 closed

[2019-01-09 01:05] bcolloran commented on #1338
:+1:  ah yes, that explains it. it felt slow but i wasn't sure why.

[2019-01-09 01:35] mdboom commented on #1338
There may be little practical benefit to brotli, too, given that it's already LZ4 compressed.  Maybe there's a way to turn off the compression for pyodide assets?

I'm sure the ratio with brotli is better, of course, but the block-based LZ4 compression is tightly integrated with the virtual filesystem that emscripten provides.  You could probably build that on top of brotli and maybe come out ahea

[2019-01-09 01:38] wlach commented on #1338
I would need to double check the numbers but iirc the savings of brotli
(vs. gzip or raw) are quite considerable (like in the 10s of mbs for that
scipy file), so we probably want to continue to use it. Quite surprising
that there would still be such savings with lz4 compression but there you
go...

On Tue, Jan 8, 2019, 20:35 Michael Droettboom <notifications@github.com
wrote:

[2019-01-09 02:08] mdboom commented on #1338
The data files are LZ4 compressed in independent blocks of, IIRC, 4kb, so I'm not surprised anything that uses a bigger window does better.  The advantage of the block approach is that you only have to decompress what you use.

Hopefully much of this will improve soon once we have cross dylib support in emscripten and the Scipy size should be more than halved.

[2019-01-09 15:45] mdboom commented on #861
I'm going to tackle this after the server-side pages improvements / refactoring lands -- it will make it easier to be consistent about style.

[2019-01-09 16:54] wlach commented on #1148
So on reflection today I don't think we actually need or necessarily want to implement this as a feature in the frontend for the MVP.

It should be sufficient just to ask people to email us (me?) if they want their account / data gone -- maybe we could do this in the docs, under some kind of explainer? Note that we already have an easy way for people to delete their individual notebooks from the s

[2019-01-09 21:33] wlach opened #1362 "Add some basic selenium tests to verify that the notebook and server views are usable"
We currently have some server-side user tests which verify that the server views return valid html with the expected json/script content, but no real verification that the end result is usable by the browser. Today that resulted in a seemingly-innocuous code mirror change (#1341) breaking our deployment.

We should add some basic selenium tests that verify things are still working end-to-end from

[2019-01-09 21:50] bcolloran commented on #1362
+1. Is there an online service we can use to hook this up via circle CI?

TBH, to catch most of the bugs we've run into, it would even be enough just to make sure that no errors are returned in the browser console once all the scripts have loaded (or after the first 10 seconds or something like that).

[2019-01-09 22:01] wlach commented on #1362
Yup, circle should be able to run selenium tests just fine.

Unfortunately last I checked you could *not* get the output of the web console when you ran a selenium test, but maybe that's changed (it's been a year or so since I wrote those).

[2019-01-10 00:47] bcolloran commented on #1362
well, no worries. looking for essential divs as you suggest should work fine too. do you know if it's possible to peek inside the iframe?

[2019-01-10 21:56] hamilton commented on #1281
For background, having `iodide.evalQueue` made a lot more sense when we were in the cell paradigm. Since the only way to evaluate code was to enter it into a cell, we wanted a way to square some of the async circles inherent in JS in the cell world. The JSMD-only world + the fetch cell kind of removes the need for lots of workflows that `iodide.evalQueue` solved, so we're deprecating it until ther

[2019-01-10 23:17] bcolloran commented on #1281
@mdboom perhaps check out https://github.com/iodide-project/iodide/pull/1282 and do a quick test that everything works as expected. @hamilton once mdboom gives R+ let's merge that

[2019-01-10 23:54] #1229 closed

[2019-01-11 05:36] bcolloran opened #1372 "fetch cell errors do not un-halt the evaluation queue, so nothing else can be evaluated after error"
@hamilton plz, take a look at:
https://extremely-alpha.iodide.io/notebooks/210/

i reckon since you have the most experience with the fetch cell and evaluation machinery you should be able to make quick work of this one, but lmk if you want me to take a look

[2019-01-11 15:09] #1322 closed

[2019-01-11 15:36] wlach opened #1374 "test-javascript job on circle is failing"
For the last day or so the `test-javascript` job on circle has been failing intermittently (but more often than not). It appears to be timing out.

According to the resources below, it seems like the setup for running jest is optimized for workstations, not ci. Apparently in the latter environment is recommended that one run tests sequentially, not in parallel. We don't have all that many tests in

[2019-01-11 16:12] #1374 closed

[2019-01-11 18:30] #984 closed

[2019-01-11 19:34] #1144 closed

[2019-01-13 10:30] iFlameing commented on #1362
I am working on it.

[2019-01-14 06:09] shreyanshdwivedi commented on #1244
@hamilton I'll like to take this up. May need some guidance as I'm about to make first contribution to this project

[2019-01-14 17:27] hamilton opened #1381 "as a user, when I encounter a CORS issue, I expect to see some helpful text in the console"
One of the most common (and frustrating, confusing) parts of a web-based notebook that relies on network requests to pull data is CORS issues. Right now, however, we don't have a good way of intercepting those, since by default we get a console.warn, which at the moment is not being intercepted by iodide in any way.

[2019-01-14 17:27] bcolloran opened #1382 "document plugin chunks in docs"
need some docs about how plugin chunks work, with example plugin snippets

[2019-01-14 17:51] #1199 closed

[2019-01-14 18:11] wlach commented on #1148
Confirmed with legal that just providing documentation on doing this is enough. I recommend a blurb in the iodide documentation clarifying the following two things:

1. You can always delete any notebook you have created with iodide
2. After you log in, we store your github account name on our servers. If you wish to have any record of this scrubbed (along with any notebooks that you haven't yet r

[2019-01-14 18:16] bcolloran commented on #1166
this is done

[2019-01-14 18:16] #1166 closed

[2019-01-14 18:17] bcolloran commented on #1244
@hamilton i just saw this, somehow it got past me during the work week i think. this is actually perhaps a bit tricky -- the autoindent formatters are pretty jacked across the board right now (in js too). something to do with the jsmd syntax modae and passing in local state.

@shreyanshdwivedi you are welcome to try this, but it might be a hard problem, and will probably take getting into the inte

[2019-01-14 18:18] #1111 closed

[2019-01-14 18:19] bcolloran commented on #1112
@hamilton did your eval queue work fix this?

[2019-01-14 19:01] #1079 closed

[2019-01-14 19:55] teonbrooks commented on #1149
this would be a great addition. i just shared a report and got pinged that content was missing, then pinged that it just took some time to load

[2019-01-14 23:57] #1329 closed

[2019-01-14 23:59] bcolloran commented on #772
this is ongoing, but a big hunk of it is done

[2019-01-14 23:59] #772 closed

[2019-01-15 00:05] bcolloran commented on #573
working now that we don't have nested menus. closing.

[2019-01-15 00:07] bcolloran commented on #173
hamilton fixed this long standing issue with his kernel state PR!

[2019-01-15 00:07] #173 closed

[2019-01-15 00:08] bcolloran commented on #138
marking wontfix, we've moved on in many ways since this issue :-)

[2019-01-15 00:08] #138 closed

[2019-01-15 14:33] mdboom commented on #1148
Thanks, @wlach.  Looks good enough.  Since this is still assigned for me, I'm happy to make a PR with the doc changes.

[2019-01-15 15:10] #1338 closed

[2019-01-15 16:53] teonbrooks commented on #1149
this would be a great addition. i just shared a report and got pinged that content was missing, then pinged that it just took some time to load

[2019-01-15 19:08] bcolloran opened #1384 "make a basic template notebook for new notebooks"

[2019-01-15 19:29] bcolloran opened #1385 "ping ppl re hacks blog, start writing post"

[2019-01-15 21:11] wlach commented on #1330
Rethought this a bit.

tentative new plan:

* add a `/tryit/` endpoint which loads the template notebook for logged-out users (auto-redirect to /new/ for logged in users). This experience will be more impressive once @bcolloran lands #1384.
* while the user is editing, they will be warned that the document will not be saved until they log in
* if the user signs in, autosave the notebook from the c

[2019-01-15 22:54] #1384 closed

[2019-01-15 22:54] bcolloran commented on #1330
#1384 is done

[2019-01-16 00:32] bcolloran commented on #1382
hey guys, plz add your thoughts here:

https://github.com/iodide-project/iodide/blob/master/docs/language_plugins.md

I actually think this part of our universe has been very stable since we added Pyodide about 9 months ago, so I think we can invest in writing pretty detailed docs about how this all works. For example, it would be great if we could point the Julia team at this and they would be li

[2019-01-16 14:01] mdboom commented on #1382
I'm filling in the details now.

[2019-01-17 21:44] wlach opened #1395 "Switch away from using pipenv for installing dependencies"
Using pipenv for installing the dependencies on the iodide server seemed like a good idea, but it's been difficult to work with in practice -- it's quite slow and it's easy to unintentionally upgrade python dependencies if you're not careful. Most recently this difficulty came up when @iFlameing was working on #1362 and wanted to install selenium.

I think we should move back to use requirements f

[2019-01-17 21:46] wlach commented on #1395
I think I'm going to take this one as it's bit tricky to get right and I'd like to get it landed sooner than later.

[2019-01-18 00:34] bcolloran opened #1396 "investigate whether we can provide specific feedback about CORS issues in the case of fetch cell errors"
CORS issues are tricky and confusing. it would be great if we could let people know if they are hitting a CORS error in particular (rather than a fetch error in general) when they run into a CORS problem, and direct them to help / workarounds / more info.

(in investigating this, we might find that there are other kinds of errors we can surface/specify)

cc @hamilton

[2019-01-18 00:41] bcolloran commented on #1396
this link indicates that it may not be possible to detect a CORS problem from JS *at all* https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Functional_overview

we should poke a little more at this, but if it is the case, we should come up with some other UX treatment to help people

[2019-01-18 16:00] wlach opened #1397 "Allow option of "posting" to /new endpoint with a pre-filled jsmd document"
Right now we have a `/new` endpoint which will auto-create a notebook based on a template inside the iodide repository:

https://github.com/iodide-project/iodide/blob/e2ee77fdde96210eddb29ea756964aeb0af9afcd/server/notebooks/views.py#L103
https://github.com/iodide-project/iodide/blob/e2ee77fdde96210eddb29ea756964aeb0af9afcd/server/notebooks/templates/new_notebook_content.jsmd

What we want to do h

[2019-01-18 19:00] bcolloran commented on #1397
Thanks for filing @wlach. @openjck so excited to have you joining in! :-) :100:

[2019-01-18 19:32] bcolloran commented on #1148
closed with https://github.com/iodide-project/iodide/blob/master/docs/policies.md

[2019-01-18 19:32] #1148 closed

[2019-01-18 20:58] #1330 closed

[2019-01-22 20:19] #733 closed

[2019-01-22 20:19] #1382 closed

[2019-01-22 20:50] bcolloran commented on #1285
this can be done once #1390 is merged

[2019-01-22 20:57] bcolloran commented on #1244
i think the indent is actually desirable; or in any case, it's not our bug, because i get the same behavior in the latest iodide as i do if i enter that snippet in:
https://codemirror.net/mode/python/

[2019-01-22 20:57] #1244 closed

[2019-01-22 21:00] bcolloran commented on #1396
supercedes #1381

[2019-01-22 21:00] #1381 closed

[2019-01-22 21:08] bcolloran commented on #1112
it looks like the fetch cell erroring does not halt the eval queue, but any other errors do; updating issue to focus on that

[2019-01-22 21:17] hamilton commented on #1372
Looking into this now. This bug must have been introduced sometime after the fetch chunk feature landed. Writing tests around this bit of functionality is hard, but it seems obvious to me now that we'll have to figure out something here.

[2019-01-22 21:35] hamilton commented on #1112
@bcolloran this is essentially a duplicate of #1372, and will be fixed by #1410. Will close in favor of the other issue

[2019-01-22 21:35] #1112 closed

[2019-01-22 21:43] hamilton commented on #1164
@bcolloran this appears to be fixed. Closing.

[2019-01-22 21:43] #1164 closed

[2019-01-22 21:47] hamilton opened #1411 "clear page load console.log"
I've noticed that we have this `console.log` statement when a notebook loads: `EVAL FRAME ACTION POST TO EDITOR FAILED` that's been there for a while. Is there some way we can account for the action that is posted that errors, and provide either more useful messaging, or something else entirely?

[2019-01-22 22:05] #1372 closed

[2019-01-22 22:11] #1053 closed

[2019-01-22 22:11] bcolloran commented on #1053
those PRs have merged, closing

[2019-01-22 22:13] #1110 closed

[2019-01-22 22:13] bcolloran commented on #1110
since state manipulation is now all handled on the editor side, this is now obselete

[2019-01-22 22:15] #652 closed

[2019-01-22 22:15] bcolloran commented on #652
jsmd recognizes an html chunk now (even tho it's just a pass thru to the md evaluator)

[2019-01-22 22:33] bcolloran commented on #814
the objective here would be to make large code inputs (more than 10 lines let's say?) truncate down to only the first few lines (let's say 5 lines?), but with a button or something in place of the missing lines that says e.g.  "Show X more lines of code" and toggles a local expansion state. And conversely, for there should be a button to collapse long code inputs that are in the expanded state.

[2019-01-23 00:33] #168 closed

[2019-01-23 00:36] hamilton commented on #628
We don't have cells anymore, so this is less of an issue now.

[2019-01-23 00:36] #628 closed

[2019-01-23 00:41] bcolloran commented on #732
obselete

[2019-01-23 00:41] #732 closed

[2019-01-23 00:45] bcolloran commented on #1013
wontfix at any time in the foresable future

[2019-01-23 00:45] #1013 closed

[2019-01-23 00:46] #999 closed

[2019-01-23 00:50] bcolloran commented on #1253
@hamilton fixed all this stuff thanks @iFlameing !

[2019-01-23 00:50] #1253 closed

[2019-01-23 00:52] bcolloran commented on #1256
fixed somewhere along the line

[2019-01-23 00:52] #1256 closed

[2019-01-23 00:53] hamilton commented on #1245
this appears to have been fixed by a recent PR. Closing.

[2019-01-23 00:53] #1245 closed

[2019-01-23 00:54] bcolloran commented on #1219
i think this is out of scope based on where we are now with jsmd editing, and the looming refresh of iodide.environment

[2019-01-23 00:54] #1219 closed

[2019-01-23 05:33] bcolloran opened #1414 "still have a blue button on the sign in page-- but can we just get rid of that sign in page?"
(@hamilton and @wlach )
follow up from #1390

![image](https://user-images.githubusercontent.com/2380975/51584860-00d93380-1e8c-11e9-96ff-e3e720317e22.png)

minimally, we should make this match our purpley gradient, but maybe we can just dispense with this interstitial page. can we do this via a modal or something, or are there technical reasons that we need to visit this in between page?

[2019-01-23 05:48] bcolloran commented on #1266
closed via #1390

[2019-01-23 05:48] #1266 closed

[2019-01-23 05:48] bcolloran commented on #1105
closed via #1390

[2019-01-23 05:48] #1105 closed

[2019-01-23 05:49] hamilton commented on #1414
can't comment on the interstitial itself, but I do know that if we just move to a regular iodide-branded button we'll get __More Purple™__ for free. I could see this being a modal as well.

[2019-01-23 05:50] bcolloran commented on #1285
@hamilton with #1390 in place, mind cutting us a fancy new whirly gif of the beautiful purpley notebook :-)

[2019-01-23 05:52] hamilton commented on #167
closed with #1390.

[2019-01-23 05:52] #167 closed

[2019-01-23 05:52] #634 closed

[2019-01-23 06:21] hamilton commented on #1102
@wlach I believe we can close this issue, correct? I can't remember what we decided, if anything.

[2019-01-23 07:13] bcolloran commented on #165
i'm going to close this for now -- we bth know that this option exists if we ever actually need it, but for now (and for the last year+) we really haven't. so wontfix until the need exists

[2019-01-23 07:13] #165 closed

[2019-01-23 07:16] bcolloran commented on #724
unfortunately the example code linked below does not work plug-and-play :-/

https://github.com/codemirror/CodeMirror/issues/2085

https://codemirror.net/demo/indentwrap.html# (view source of this one)
view-source:https://codemirror.net/demo/indentwrap.html#

[2019-01-23 07:21] bcolloran commented on #1130
gonna mark this as wontfix -- embedding a report view in an iframe should be able to solve this at this point.

[2019-01-23 07:21] #1130 closed

[2019-01-23 07:28] bcolloran opened #1415 "write documentation re: weirdness in targeting elts and manipulating DOM"
need to document the weird edge cases described in #587 -- in particular, due to how the browser event loop works, when DOM elements will show up/change all at once when you create/mutate them in a synchronous loop (so no loop progress tracking via synchronous DOM changes)

[2019-01-23 07:37] bcolloran opened #1416 "iomd is not HTML-escaped, allowing arbitrary code execution"
re #382 (which this supercedes) -- now that we're not focused on the single runnable file/bundle user story, it's really not necessary to patch the IOMD into that script tag. We should just send the IOMD down as a string in a IOMD object or script, or whatever mechanism we're using to send over eg userData. This will solve #382 and also maybe simplify our start up code a teeny bit.

[2019-01-23 07:38] bcolloran commented on #382
closing in favor of #1416

[2019-01-23 07:38] #382 closed

[2019-01-23 07:40] bcolloran commented on #695
not sure there is an issue to fix here, closing

[2019-01-23 07:40] #695 closed

[2019-01-23 07:41] bcolloran commented on #784
i think this is now obselete

[2019-01-23 07:41] #784 closed

[2019-01-23 07:47] bcolloran commented on #841
@hamilton haven't we had this for a long while at this point? can we close?

[2019-01-23 07:50] bcolloran commented on #1132
for the time being, export and standalone mode are not being supported, and i don't know that we'll have the time to fix them maybe ever since we have such a formidable queue of more pressing priorities.  i'd like to wontfix this @hamilton, what do you think?

[2019-01-23 08:04] bcolloran commented on #1212
note also that we've apparently fallen out of sync with upstream codemirror

[2019-01-23 08:37] bcolloran opened #1418 "officially deprecate export notebook?"
@mdboom @hamilton @wlach -- i think we should probably officially deprecate the "export bundle" features from the notebook. we are not really able to support them, and i don't think we will be any time soon. and at this point, they no longer seem as important to the workflow we want to create. i think we could revisit this down the road if we get an infusion of engineering help, but the archive th

[2019-01-23 08:42] bcolloran commented on #1418
also: this semi block #995

[2019-01-23 13:05] mdboom commented on #1418
What are the major blockers / difficulties to make this happen?  Is it primarily the iframe stuff?

I think while this doesn't necessarily help the "internal use at an organization" use case, there have been a lot of cool "remixing" this enabled on the internet at large -- throwing notebooks on Github Pages and CodePen, using with Glitch -- that made it feel like the "good parts" of Distributed We

[2019-01-23 17:29] hamilton commented on #1418
my 2c: I agree w/ @mdboom that having a way of exporting the notebook broadly - notebook itself, files, etc. - feels like a must-have for this project, and it would feel like we are not really executing on the vision of Iodide without it and greatly reducing the value of iodide. I for one would like this functionality for some projects and have missed it over the last few months, to the point wher

[2019-01-23 18:30] hamilton opened #1421 "add a keybinding to move to next chunk without evaluating"
@teon asked if there's a way to progress to another chunk without evaluating. We currently don't have a keybinding for this, but it seems like we probably should.

[2019-01-23 18:34] hamilton commented on #1287
We could move this to the next milestone - doesn't seem particularly pressing right now.

[2019-01-23 18:34] hamilton commented on #1285
yep

[2019-01-23 19:02] bcolloran opened #1422 "stop using system fonts"
as mentioned in #1420

we should not use system fonts b/c they look nicer on macs than other platforms, and if we use system fonts, those of us on macs will not see what a big chunk of users see, and will therefore have a mistaken impression of how good things look and how the various fonts and spacings fit togetehr. We should design to one consistent standard, and use a non-system webfont for cas

[2019-01-23 19:10] hamilton commented on #1422
What is your evidence that this is the case? My understanding is a system font stack (specifically the github font stack, which is the one we're using) is meant to standardize and improve readability on _all_ systems, not just mac. There are sensible defaults used across many OSs as system fonts. From a best practices point of view, this is a pretty common thing recommended by web developers to ma

[2019-01-23 19:11] mdboom commented on #1092
I think we should retain `dist` indefinitely, but the others can go.

[2019-01-23 19:32] bcolloran commented on #1422
ya, this is something that i've noticed for quite a while, in particular in the context of the report view, which i recall looking noticeably different on my system than on macs, with the non-mac version looks a bit worse. it's not going to make or break us, but i would think it is preferable to make sure we're optimizing a consistent experience for all users.

perhaps this might only really matte

[2019-01-23 19:37] bcolloran commented on #1092
perfect, thanks @mdboom -- just removed master-eval, dist-eval, stable, stable-eval.

[2019-01-23 19:37] #1092 closed

[2019-01-23 21:30] bcolloran commented on #1285
looks good to me. the gif shows some sluggishness that we'll need to fix, but that's out of scope for this task. thanks!

[2019-01-23 21:30] #1285 closed

[2019-01-23 21:31] #1212 closed

[2019-01-23 21:40] hamilton opened #1423 "a python chunk with all the code commented out / an empty chunk will throw an error if run"
h/t @teonbrooks

This chunk of python will throw an error

[code]

[2019-01-23 21:40] hamilton commented on #1423
this could be a pyodide error, not iodide.

[2019-01-23 21:43] bcolloran commented on #1423
empty cells error as well, e.g.
[code]

[2019-01-23 21:43] hamilton commented on #1423
cc @mdboom

[2019-01-23 21:45] hamilton commented on #1287
been wanting this for like a year, so you'll hear no argument for me :)

[2019-01-23 21:55] bcolloran opened #1424 "re-enable "skipRunAll""
need to re-enable this functionality. this should be an easy fix

[2019-01-23 22:02] mdboom commented on #1423
Fix in https://github.com/iodide-project/pyodide/pull/303

[2019-01-23 22:42] bcolloran commented on #1423
going to close on the iodide side

[2019-01-23 22:42] #1423 closed

[2019-01-24 00:16] #1385 closed

[2019-01-24 00:57] #1281 closed

[2019-01-24 01:03] mdboom opened #1426 "Don't define PYODIDE_VERSION on Heroku"
We're still in a phase where the interface between Iodide and Pyodide is evolving, so it's necessary to track specific versions of Pyodide for use with specific versions of Iodide.  As we ran into earlier today, it's pretty easy to forget to update the `PYODIDE_VERSION` environment variable on Heroku when this happens.  I think if we remove the variable from the Heroku config, it will fall back on

[2019-01-24 04:30] hamilton opened #1427 "iodide throws a schema invalidation error with language plugins"
I noticed this while running [this notebook](https://extremely-alpha.iodide.io/notebooks/235/). There are no user-facing errors, but in the console I get the following:

[code]

It'd be great if we could update the schema for language plugins to keep this error from appearing, or fix the pyodide loader if that's the source of the issue - either way.

[2019-01-24 21:12] wlach commented on #1426
So I defined this variable in #1380 to fix #1338. You can see where we use it here:

https://github.com/iodide-project/iodide/blob/f4faf01b845311776d9a4abba52b88f4939236a8/bin/post_compile

There's probably a way to autodiscover the pyodide directory and compare it with what's with the cache, and then have the same "only compress if we don't have a copy with the latest version in the cache" logic.

[2019-01-25 12:37] mdboom commented on #1426
Ah -- I didn't realize that's why it was there, but that makes a lot of sense.

Maybe the easy thing for now is just to add a comment in `webpack.config.js` that the corresponding variable in Heroku also needs to be updated.

[2019-01-25 16:31] wlach commented on #1426
Yup that wfm

[2019-01-25 16:33] wlach commented on #1414
Yeah, let's just kill this page and redirect `/new/` to `/tryit/` for logged out users. I'll do up a patch.

[2019-01-25 18:18] hamilton opened #1433 "Restructure the report CSS"
This is not an immediate priority, but I wanted to capture some of my thoughts in case anyone has any feedback.

Our report CSS is somewhat fine if you want to just write a simple report, but there are places where our design choices break down:

(1) I slapped together some weird ways of both allowing a centered-body content paradigm but also allows for other sizing for certain elements. It is mos

[2019-01-25 23:16] wlach commented on #1422
Yeah, I think we should do whatever Medium does for the report view, and something github-ish for the rest of the user interface. I have noted with some annoyance that we're not using the same fonts for the ui in the report view vs. the various server pages.

[2019-01-25 23:36] hamilton commented on #1422
Yep, this all sounds good to me. What do you mean by "ui in the report view"? Do you mean the full notebook client itself is not using the same font stack, or just the report itself? If so, we should obviously change that (or the server pages). The server pages are still somewhat half-baked (which will need to change down the line but we've been aiming for "yep good enough" on those since the star

[2019-01-26 17:05] wlach commented on #1422
The notebook client itself. Note these differences between the server pages:

![image](https://user-images.githubusercontent.com/20569/51790282-f5725a80-2160-11e9-9458-81055c45abd8.png)

And the notebook itself:

![image](https://user-images.githubusercontent.com/20569/51790296-2ce10700-2161-11e9-82cb-5b696b3f8169.png)

The difference is subtle but noticeable. I think it's the one in the server pa

[2019-01-26 17:07] wlach commented on #1433
I pretty much agree with all of this. :smile: rmarkdown-generated reports also have some nice properties which I think we might want to borrow; I particular love the embedded table of contents that you can see in this example:

![image](https://user-images.githubusercontent.com/20569/51790413-edb3b580-2162-11e9-852e-3a77da19dc6a.png)
https://metrics.mozilla.com/webrender/dashboard.html

[2019-01-26 18:06] hamilton commented on #1433
@wlach indeed - we filed an issue way back when for that, in fact (#198). Another potentially important one, which was `wontfix`d before but I think should be reconsidered again, is #498, closed because at the time we vaguely thought "plugins" would solve this issue, but we still don't have that functionality. One way or another we're going to need syntax highlighting code chunks in reports a la G

[2019-01-26 18:32] hamilton commented on #1422
@wlach got it, thanks for clarifying / totally agreed. I don't think we're probably setting the system font stack in the client globally so that would account for the difference, since we _are_ on the server pages. The client CSS is still generally all-over-the-place, though slightly less since we landed #1390.

[2019-01-27 02:35] bcolloran opened #1438 "make it easy to see notebook info from within a notebook"
occurred to me when looking at another user's NB -- it should be possible to see notebook info from within a notebook -- ownership, dates, revision, whatever other metadata we decide is appropriate. but minimally, it would be cool to see other notebooks by the same author

[2019-01-27 02:45] bcolloran opened #1439 "cannot login with multiple accounts from the same browser"
when you are not logged in, when you press the login button you are *immediately* logged in, without actually stopping at a login screen that asks for credentials and allows you to select a different email address or username. Can work around with a private window, but this should be possible without that for people with multiple (work/personal, etc) accounts.

(@wlach @hamilton)

[2019-01-27 02:51] bcolloran opened #1440 "incorrect "This notebook is owned by another user" message after login"
when i visit a notebook owned by my user via URL in a non-logged in state, the yellow message header first correctly shows the "You can modify and experiment with this notebook freely. To save to this server, you need to login." message.

however, after logging in, i am incorrectly shown "This notebook is owned by another user. Make a copy to your account." This goes away on refresh, but it should

[2019-01-28 17:15] openjck commented on #1397
Question about the JSON payload. Is there an existing format that it should adhere to or is defining that format part of this work?

[2019-01-28 17:39] Irelokeh commented on #1440
Hi Everyone, I am a GSOC student and I wish to work on this Issue. I am looking for a proper way to introduce myself but I have no need to open a new Issue for that. I learn there is a PR https://github.com/iodide-project/iodide/pull/1435 which may solve this as @wlach suggested.

Is this a good first Issue for me? (I am comfortable writing JavaScript and have 1 year and 5 months Solid experience

[2019-01-28 17:45] ThobyV commented on #1440
Hi Everyone, I am a GSOC student and I wish to work on this Issue. I am looking for a proper way to introduce myself but I have no need to open a new Issue for that. I learn there is a PR #1435 which may solve this as @wlach suggested.

Is this a good first Issue for me? (I am comfortable writing JavaScript and have 1 year and 5 months hands-on experience with UX Engineering).

I am sorry to drop

[2019-01-28 17:47] ThobyV commented on #1440
Hi Everyone, I  am Thoby, a GSOC student and I wish to work on this Issue. I am looking for a proper way to introduce myself but I have no need to open a new Issue for that. I learn there is a PR #1435 which may solve this as @wlach suggested.

Is there already a person working on this Issue? Is this a good first Issue for me? (I am comfortable writing JavaScript and have 1 year and 5 months Solid

[2019-01-28 18:00] wlach commented on #1440
@ThobyV unfortunately I don't think this is a great starter issue -- it's rather complex and has a lot of moving pieces. Note that we're not planning to do a gsoc for the iodide notebook this year. If you're still interested in this project, I'd recommend playing with the prototype we have on https://extremely-alpha.iodide.io and then either circling back here for an issue to solve or finding your

[2019-01-28 18:58] wlach commented on #1397
No existing format. To start with, something simple like this should work:

[code]

[2019-01-28 20:52] #1414 closed

[2019-01-28 21:50] openjck commented on #1397
Okay, great!

Another question as I think about this: does Iodide support private notebooks? Given that the data on Redash is private, do we want to implement that feature as part of this work, or we were thinking about addressing this some other way, like setting up a different instance of Iodide behind LDAP?

[2019-01-28 21:58] wlach commented on #1397
Well, I wouldn't say the data on redash is private *by definition*, we sometimes share portions of it with the public using the API (chutten's crash dashboard would be a previous example of this, there might be others).

That said, we are setting up an internal iodide server for exactly this use case. Currently just a staging site, but we'll probably promote a version to production soon:

https://

[2019-01-29 21:09] wlach opened #1448 "Notebooks should have enough metadata to generate "featured notebooks" section on front page"
This implies the following pieces of metadata added to the notebook model (https://github.com/iodide-project/iodide/blob/75787f7842b2df25c3ce5581586f51eb293f420c/server/notebooks/models.py#L6):

* An "avatar" field (a reference to an uploaded image, animated or otherwise), may be null
* A field indicating whether the notebook is "featured" (default to false, settable to true only inside admin inte

[2019-01-29 21:19] hamilton commented on #1448
love "priority" part, issue similar to https://github.com/iodide-project/iodide/issues/1291 - a few additional fields in that might be useful - happy to close that one in favor of this to track this specific task

[2019-01-29 23:33] openjck commented on #1397
I had another chat with William about this yesterday. I was confused. For now at least, we don't want to accept data over POST, only JSMD. The */new* endpoint should accept JSMD over post and create a notebook with that JSMD. Redash will send JSMD which includes code for loading Redash data.

[2019-01-30 03:05] bcolloran opened #1450 "clean up iframe message passing code"
per @hamilton's comment here: https://github.com/iodide-project/iodide/pull/1428#discussion_r251545494

One option to investigate: this is a pretty slim lib that seems to handle iframe communication using the style hamilton describes, as well handling and handshakes and stuff -- https://github.com/dollarshaveclub/postmate  Maybe we could build off that?...

[2019-01-30 08:39] jezdez commented on #1397
@wlach @openjck Ah, I didn't realize you were taking a stab at this as well since Rob asked me to look at this next. Any chance we can have a meeting together some time to sync notes?

[2019-01-30 17:42] wlach opened #1453 "Doc links are now broken"
Since we made iodide.io a redirect to extremely-alpha.iodide.io, the docs links we were using (https://iodide.io/docs/) have been broken.

I'd suggest we just use a subdomain like docs.iodide.io for this? @mdboom can you take care of this if you agree?

[2019-01-30 17:44] mdboom commented on #1453
That seems like a good solution.

[2019-01-30 17:49] wlach opened #1454 "CONTRIBUTING.md is out of date and content overlaps with more up-to-date documentation"
@DevinBayly just noted that our current set of instructions in CONTRIBUTING.md doesn't work:

https://github.com/iodide-project/iodide/blob/433afa700c7c5df91facdbf7db3b600ff7a4ffec/CONTRIBUTING.md

There's a big pile of overlap between the content there and our developer documentation:

https://github.com/iodide-project/iodide/blob/master/docs/developer.md

Confusingly I think we also include this

[2019-01-30 19:28] wlach opened #1455 "Add revision browser to notebook"
I think to make saving sane (esp. in an autosave world), we should add a revision browser to the notebook interface itself. I'm going to look into building this.

[2019-01-30 19:36] wlach opened #1457 "Can't promote releases via heroku pipelines"
It would be nice to be able to use heroku's pipeline features to promote releases, but unfortunately this doesn't work as we hardcode various environment-specific pieces of data (e.g. the eval frame location) into our .js via webpack. `create-react-app` has some kind of solution for this problem:

https://github.com/mars/create-react-app-buildpack#compile-time-vs-runtime

It looks a bit hacky to m

[2019-01-30 19:38] bcolloran commented on #1454
sounds good to me will, thanks for spotting that!

[2019-01-30 19:42] #1453 closed

[2019-01-30 20:49] wlach opened #1458 "Get rid of hamburger menu"
I don't think there's much value to the iodide hamburger menu anymore and we should just get rid of it:

![image](https://user-images.githubusercontent.com/20569/52011625-80778b80-24a6-11e9-9840-545127c89a19.png)

* Help already has its own button elsewhere on the toolbar
* New notebook could be included under the user icon
* Clear variables would probably better be placed inside the workspace pan

[2019-01-30 22:53] hamilton commented on #1458
Yep, we don't really need this menu anymore! gj everyone

[2019-01-30 22:55] hamilton commented on #1455
@wlach this sounds good to me - looking forward to seeing what you have in mind. I'd additionally suggest that:

(1) whatever we do in the notebook, let's make sure to have it in `src/shared/components` and
(2) apply the viewer to the revisions page on the server as well

[2019-01-30 23:07] wlach commented on #1455
I'm diving into the implementation -- there might be some complications with sharing the component between the server pages and the notebook interface, as the latter uses redux and the former doesn't.

I think we might want to rethink whether we want to allow management of much of the notebooks outside the notebook interface itself. I think @hamilton added the file browser, revision list, etc. the

[2019-01-30 23:14] hamilton opened #1459 "need to catch and surface plugin load errors"
I had an error that #1452 will fix, but the issue that prompted the PR was only uncovered if I went to the network pane of the devtools console to figure out what happened to pyodide. If there's a 404 or similar issue w/ loading a plugin, we need to surface that in the console.

[2019-01-30 23:17] hamilton commented on #1455
I did that originally as a way to have _some_ way of handling these things.

Re: sharing between the two, we have other methods of sharing components that doesn't conflate the redux parts w/ the react ones. For one thing, all components in general should be unconnected, and the integration to redux should come through `connect` (sometimes exported in the same file, but in this case probably should

[2019-01-31 03:52] openjck commented on #1397
Sure! I put an invite on both of your calendars for 10am Eastern / 4pm Berlin on Thursday. Let me know if that doesn't work.

[2019-01-31 03:55] openjck commented on #1397
Scratch that. I moved it to 9:30am Eastern / 15:30 Berlin. If that's too short of notice, Will, just let me know and we can reschedule for another time Thursday or some time on Friday.

[2019-01-31 15:43] mdboom opened #1461 "The way we handle docs may cause version confusion"
We currently deploy the latest master to the `docs` repo which shows up at `docs.iodide.io`.

Unfortunately, all versions if Iodide (staging, production etc.) will all point to these docs, which may be ahead of what the user can actually do in that version of Iodide.

*Perhaps* we want to serve the docs from the Heroku server at `${WHATEVER_THE_IODIDE_URL_IS}/docs` instead so the docs linked to fr

[2019-01-31 15:46] iFlameing commented on #1458
@wlach can you assign me ?

[2019-01-31 15:55] mdboom opened #1462 "We need a convenient method to test locally-built language plugins"
Local interactive testing of Pyodide currently works by having a [special Iodide notebook](https://github.com/iodide-project/pyodide/blob/master/src/python_dev.html) that loads the old serverless version of Iodide along with a Pyodide loaded from a locally-running webserver.  It's then really easy to interactively test changes to Pyodide itself.  This approach no longer works with current versions

[2019-01-31 17:47] wlach commented on #1458
I can't assign it to you, but in general it's ok to just say you're working on something in an issue like this.

[2019-01-31 17:48] iFlameing commented on #1458
ok

[2019-01-31 17:56] bcolloran commented on #1462
i think #1397 should provide a solution

[2019-01-31 18:05] mdboom commented on #1462
It looks like it might, thanks!

[2019-01-31 20:34] openjck commented on #1397
We discussed another important component of the user experience for this feature in the meeting today: we should be sure that the notebook that Redash creates has thorough documentation. There are two types of documentation that we want to provide:

* Documentation for the data itself (title, description if any, how to get back to the raw data on Redash, etc.)
* Documentation for the code (how it'

[2019-01-31 20:59] bcolloran opened #1465 "need an iodide template notebook to help people use iodide when coming from redash"
@hamilton and @openjck. This is related to #1397.

[2019-01-31 21:50] #1424 closed

[2019-02-01 17:43] hamilton opened #1468 "as a user, I'd like a way have a different default layout or at least order the panes for actual work"
This is not a top priority, but I do think it is a papercut for me, would love feedback if it is for others to see if it is bothersome.

I understand why the default layout has a split console / report preview, but we don't have many good ways of letting users do work with a layout they'd prefer. I, for instance, usually just want to work with the console itself for a big chunk of time until I'm r

[2019-02-04 21:45] bcolloran opened #1476 "potential issue with circle CI caching and tagged repos"
from an email thread involving me and @wlach on 2019-02-04, subject `[Workflow] Failed: iodide-project/iodide on / test-and-deploy (529b9f1)`

"Looking at the log, it looks like there's some issue with circle ci caching and tagged repos. I'd rather not look at this right this second, but please file an issue and I'll look into it soon."

[2019-02-04 21:59] wlach commented on #1476
Link to failing job:

https://circleci.com/gh/iodide-project/iodide/3984?utm_campaign=workflow-failed&utm_medium=email&utm_source=notification

On Mon, 4 Feb 2019 at 16:45, bcolloran <notifications@github.com> wrote:

[2019-02-05 05:47] hamilton opened #1479 "on localhost, loading Julia before Python causes error, but loading python before julia is fine"
cc @mdboom -

Not sure what to make of this issue, since this appears to be a problem primarily on localhost (on `master`). If you run these cells sequentially, it succeeds:

[code]

But this fails:

[code]

It could be the Julia is clobbering something somewhere in the setup that prevents python from working as expected, in which case it'd be a bug on the `julia-wasm` end.

[2019-02-05 14:07] mdboom commented on #1479
Interesting -- haven't done any investigation yet, but I'm not surprised.  There is a lot of global state in what emscripten does -- it's original use cases were around games (i.e. standalone applications that like to own the whole world), not in multiple libraries being tied together in ad hoc ways.

[2019-02-06 19:17] bcolloran opened #1486 "out of place "0" on landing page of internal instance"
There's a "0" above the "shall we get started" section on the internal landing page

![image](https://user-images.githubusercontent.com/2380975/52367249-74d51900-2a00-11e9-94d9-5f3991826cdb.png)

[2019-02-06 21:38] bcolloran commented on #1207
closed via #1419

[2019-02-06 21:38] #1207 closed

[2019-02-06 21:39] bcolloran commented on #799
closed via #1419

[2019-02-06 21:39] #799 closed

[2019-02-06 21:39] bcolloran commented on #797
closed via #1419

[2019-02-06 21:39] #797 closed

[2019-02-06 21:39] bcolloran commented on #796
closed via #1419

[2019-02-06 21:39] #796 closed

[2019-02-06 21:39] bcolloran commented on #781
closed via #1419

[2019-02-06 21:39] #781 closed

[2019-02-06 21:39] bcolloran commented on #622
closed via #1419

[2019-02-06 21:39] #622 closed

[2019-02-06 21:39] bcolloran commented on #619
closed via #1419

[2019-02-06 21:39] #619 closed

[2019-02-06 21:40] bcolloran commented on #607
closed via #1419

[2019-02-06 21:40] #607 closed

[2019-02-06 21:40] bcolloran commented on #492
closed via #1419

[2019-02-06 21:40] #492 closed

[2019-02-06 21:55] bcolloran commented on #1458
@wlach @hamilton -- i wonder if some of the features we plan to add to the notebook on our immediate roadmap (upload data, version management, merge) means it make sense to hang on to the menu for a moment? or do we prefer to expose that functionality with buttons directly on the navbar?

[2019-02-06 22:06] wlach commented on #1458
Unclear to me right now -- there's probably a point where we have too many buttons on the navbar, on the other hand a menu with just one or two things in it is also kind of ridiculous. But maybe we should, in fact, hold off on this for now until we're more sure on where we're going.

[2019-02-07 03:59] hamilton opened #1488 "new output reps requiring strings break both julia and jsx handlers"
@bcolloran @mdboom I'm noticing on `master` that all the Julia reps are broken now upon moving to this new model. Second-guessing this approach right now since I think we want other wasm languages to have more flexibility.

[2019-02-07 13:39] mdboom commented on #1488
Is Julia returned *real* DOM objects rather than an HTML string, maybe?  Sorry I didn't track that rep PR as closely as I would have liked...

[2019-02-07 15:56] hamilton commented on #1488
Yes, that's the case with both of these plugins. For what it's worth I think we supported real DOM objects before.

[2019-02-07 16:03] mdboom commented on #1488
@bcolloran had mentioned (can't find the link) that real DOM objects would be hard to support if console moves out of the eval context used for the report, so I don't think it's an accidental change.  But maybe there's a way to handle the DOM -> string conversion at a higher-level point to make this work again.

[2019-02-07 20:59] #1486 closed

[2019-02-07 21:15] hamilton opened #1493 "iodide console errors out when returning a python module"
This is related to the new reps. This code block breaks things:

[code]

[2019-02-07 21:50] Keno commented on #1488
I'm also happy to do whatever else is necessary here. Nothing in the way the julia integration works was a deliberate choice ;)

[2019-02-07 22:37] mythmon opened #1494 ""Sign up for free" button leads to a 404"
On https://extremely-alpha.iodide.io/, the sign up for free button leads to a 404.

### What I Did

Clicked the "Sign up for free" button on the homepage.

![image](https://user-images.githubusercontent.com/305049/52447475-aa9ffd80-2ae5-11e9-92ae-310c6eabb65a.png)

### What I Expected

I expected to be presented with a register/login page.

### What Happened

I got sent to a 404 page:

![image](ht

[2019-02-07 22:52] hamilton commented on #1494
Yikes, @mythmon thanks for the issue, will investigate now

[2019-02-07 23:01] teonbrooks commented on #1494
looks like it was a regression from removing the login logic: https://github.com/iodide-project/iodide/commit/0533862d91cef9971d80adb3ad229862c2c2229d

[2019-02-07 23:13] hamilton commented on #1494
@teonbrooks yes, just filed #1496 to fix this

[2019-02-07 23:21] hamilton opened #1497 "css: reverse the report cascade"
This is a part of #1433.

Right now, the default report css takes precedence over user inputs because some legacy around how we're handling styling. Reversing this will make report styling much, much easier.

[2019-02-08 00:50] #1494 closed

[2019-02-08 02:27] mdboom commented on #1493
[code]

*Could* be a bug in the Javascript Python proxy that we're just now hitting because it the different way react-inspector handles things.  Let me dig deeper.

[2019-02-08 02:36] mdboom commented on #1493
I think what's happening is that Pyodide is returning a DOM object to do a custom display of a Python object.  That fails due to recent changes required HTML strings, so it falls back on the standard Object rendering which doesn't play with with Javascript proxies.

1. Fixing #1488 should fix the immediate problem.
2. Pyodide can be updated to return a string rather than a DOM object (but I'll wai

[2019-02-08 23:31] bcolloran commented on #1488
@mdboom yeah this is an intentional change. as you said, to make things a bit more modular going forward, we want custom reps to return HTML strings rather than DOM objects. IIUC, both Pyodide and Julia are both using Jupyter's protocol (which I believe works with html strings?). So hopefully this is not a tricky transition.

Of course, the best solution is to use the slick type conversion that so

[2019-02-08 23:43] bcolloran commented on #1493
@mdboom re #1488 -- yep, the change is intentional -- ideally, custom reps will just return html strings. My hope was that this would not be too difficult of a change, b/c we're mostly using the ipython htlm protocol, which IIUC uses html strings:
https://ipython.readthedocs.io/en/stable/config/integrating.html

but in any case: this should *not* cause the iframe to halt. So we'll tackle that bug

[2019-02-09 20:38] mdboom commented on #1488
Would it be possible to convert the DOM object from the object handler to an HTML string and use that?  I think that's effectively what the old version did.  If an when we need to work remotely, we just perform the conversion to HTML before passing it over the wire.

Additionally, how will it distinguish between a string of HTML and a regular string to display verbatim?

[2019-02-11 21:15] hamilton opened #1505 "when saving on the internal instance, I occasionally get an SSO redirect -> a new notebook, losing my work"
I was writing a notebook on our internal instance, and when I attempt to save after working for a while, occasionally I'll get the SSO redirect and lose my work. We'll want to figure out how to prevent this since the localstorage save state stuff also doesn't seem to be saving my previous notebook work.

[2019-02-11 21:36] hamilton commented on #1505
We've identified that this doesn't have to do with the internal instance per se, but a recent merge that creates this behavior that needs to be separately addressed. Closing.

[2019-02-11 21:36] #1505 closed

[2019-02-11 23:24] bcolloran commented on #1488
@mdboom i suppose we could do that. Is there any advantage to that other than not having to make the code change in pyodide and the julia implementation to do that conversion? I'm afraid that keeping this in will cause breakage down the road if implementations begin to lean on something that is likely to go away. I'd rather deal with this now while we just have two implementations to think about.

[2019-02-12 01:11] mdboom commented on #1488
I think I get it.  Thanks for explaining.  The changes to Pyodide should be straightforward -- I just wanted to make sure we still had the same flexibility we had to handle strings vs. HTML etc.  Sounds like we do.

[2019-02-12 01:17] mdboom commented on #1493
Once https://github.com/iodide-project/pyodide/pull/318 is merged and a new Pyodide release is made, the basic stuff should be fixed.  We'll still need to separately tackle (3) above and see why displaying Javascript proxies is causing React Inspector to throw.

[2019-02-13 03:17] #1427 closed

[2019-02-13 16:07] #1459 closed

[2019-02-13 22:10] wlach commented on #1397
Talking to @openjck on gitter, we realized that current session-based authentication to protect/use the endpoint isn't going to work, since neither redash nor the web connection to it will actually have the credentials to post to our server (the former just doesn't have them, the latter would be restricted from contacting iodide due to cors).

To make this work, I think we'll need to allow a type

[2019-02-14 09:13] jezdez commented on #1397
I'm at a workshop right now and can go into details (tomorrow) but my perspective is:

1. we shouldn't push the data directly from the Redash frontend (requiring a big overhead with handling authentication and authorization) but a Celery task running in Redash that simply can use a shared secret (e.g. drf's built-in [TokenAuthentication](https://www.django-rest-framework.org/api-guide/authenticati

[2019-02-14 09:17] edmorley commented on #1397
hawkrest is not actively maintained, so I suspect not the best choice any more unfortunately.
I would use whatever is most maintained for Django + considered ok by the security team.

[2019-02-14 15:36] wlach commented on #1397
Oops, yes, sounds like drf's native TokenAuthentication is the way to go, not hawk. I think some of the treeherder work may still be relevant. Thanks @edmorley and @jezdez.

@jezdez I feel like using celery here is probably overkill -- can't we just do the post as part the request? It should only take a few seconds at most.

[2019-02-14 16:58] jezdez commented on #1397
@wlach Hm, sure at first we can do the post right from the new Redash API handler that we'll have to write anyway. But Redash outsources other heavy lifting code to Celery tasks for a reason, to reduce the chance of blocking the Python process (given the amount of requests at the REST API it receives). So in case the payloading building and submission to Iodide takes long (for whatever reason) we

[2019-02-14 21:53] #1493 closed

[2019-02-15 19:05] hamilton opened #1515 "due to recent webpack upgrades, css ordering has changed, causing style inconsistencies throughout the client"
_EDIT:_ I was able to recreate this locally after dumping all the assets and starting fresh.

I noticed this while working on our internal staging server, but this appears to be an issue on definitely-staging as well.

~Here's how it looks locally on `master`~ here's how it looks on my two-week old version of `master`:

![screen shot 2019-02-15 at 10 43 35 am](https://user-images.githubusercontent

[2019-02-15 19:36] hamilton commented on #1515
It appears that the issue comes from merging https://github.com/iodide-project/iodide/pull/1514, for whatever reason.

[2019-02-15 19:48] hamilton commented on #1515
so the way forward will be to work around whatever has changed in one of the recent webpack updates (likely `4.29.3`, not `4.29.4`).

It's a bit concerning that patch upgrading fundamentally changes the UX of iodide. I think this is kind of a strike against js-in-css as a concept. Untested stylesheet complexity really builds up, and a minor patch change affecting the cascade is pretty damning (and

[2019-02-15 20:12] hamilton commented on #1515
I tried moving the style tags in the iframe (move the material-ui one below the emotion one) and the problem gets fixed. So I've verified that the precedence is definitely the problem (which should be obvious from the original post). https://stackoverflow.com/a/48806677 is a simple solution here.

[2019-02-20 19:46] bcolloran opened #1525 "plugin loader hangs in the case of a url that returns something invalid?"
attempting to load a plugin from `https://raw.githubusercontent.com/gimme404` (as in the example below) causes the plugin evaluation to hang and blocks further evaluation.

[code]
gets stuck at "fake plugin downloaded, initializing"

demo at:
https://extremely-alpha.iodide.io/notebooks/282/

[2019-02-20 22:06] openjck commented on #1397
I'm going to close #1499 since it needs a fair amount of additional work, but the discussion in there is super helpful.

[2019-02-21 00:52] bcolloran opened #1527 "when material-ui's css-in-js solution is ready, deprecate emotion and jss"
see #1524

[2019-02-21 17:12] hamilton commented on #1527
I could be misunderstanding, but "deprecate emotion" would mean writing all of our components in `material-ui`'s css-in-js solution, which is most assuredly not going to be as mature as any of the other css-in-js libraries. That seems like a lot of work for very little actual gain to me - perhaps a lot more work than just deprecating material-ui.

In the long run I think we'd be more interested in

[2019-02-21 18:10] bcolloran commented on #1527
I don't think we want to deprecate material-ui, using an off the shelf widget + theming library buys us a lot in terms of consistency and simplicity. Hopefully we'll soon have more people building more stuff, and it'll be nice for people to have a robust and well documented palette of widgets to choose from that will result in a consistent look (as in #1507, where will was able to just grab the li

[2019-02-21 18:39] hamilton commented on #1527
Agreed that we don't want to deprecate material-ui (that's a lot of work and things are mostly fine), but my point was that deprecating emotion (which we use for lots of components that don't exist in material-ui) would actually be quite a bit of work as well, so I just want to make sure whatever we're replacing emotion with is mature enough. I am hesitant to put all my eggs in the material-ui bas

[2019-02-21 18:52] bcolloran commented on #1527
cool, that all makes sense.

let me know if you find any illuminating articles -- i'm interested in learning more about this stuff and continuing to develop the worldview with you

[2019-02-21 18:56] #1515 closed

[2019-02-21 21:51] wlach commented on #1426
I think I've changed my mind on this-- it's pretty annoying to have to always think about changing the PYODIDE_VERSION variable on heroku. I can't imagine it would be *that* hard to somehow figure out what the variable should be at build time, somehow.

[2019-02-21 22:23] robhudson opened #1530 "Add Dockerfile arg for selecting Python requirements files"
Currently all dependencies are installed via the Python requirements files, including those only needed for local development testing. With a Dockerfile ARG we can be more selective and only install Python dependencies that are required in production.

[2019-02-22 00:47] hamilton commented on #1465
This has been implemented and shared on private channels. Closing for now.

[2019-02-22 00:47] #1465 closed

[2019-02-22 07:19] jezdez commented on #1465
Oh, where has this been shared specifically? @openjck

[2019-02-22 17:53] #1395 closed

[2019-02-22 21:10] #1426 closed

[2019-02-22 23:13] openjck commented on #1465
Ah, I'm not sure. Can you say more, @hamilton?

[2019-02-22 23:15] openjck commented on #1465
Ah, found the link. I'll send it to you privately, Jannis.

[2019-02-25 19:34] wlach commented on #1454
I moved contributing to the iodide docs a while ago.

[2019-02-25 19:34] #1454 closed

[2019-02-25 21:28] wlach commented on #1458
Let's hold off on this for now, it seems like the hamburger menu (or something like it) is useful for the short term.

[2019-02-25 21:28] #1458 closed

[2019-02-25 21:30] #1411 closed

[2019-02-25 23:35] bcolloran opened #1540 "on chrome, bottom of the console scrollback gets cut off in the case of a multi-line entry"
(see https://github.com/iodide-project/iodide/pull/1511#pullrequestreview-207684746 )

on chrome the bottom of the scrollback gets cut off in the case of a multi-line entry.

![image](https://user-images.githubusercontent.com/2380975/53375876-597b7080-3911-11e9-8b1b-d288ef6360c2.png)

i think this was introduced with maybe the language menu PR? I'm pretty sure this was working at some point, becau

[2019-02-25 23:38] bcolloran commented on #1540
that screen shot is confusing, maybe this will be better:

![image](https://user-images.githubusercontent.com/2380975/53376459-3a7dde00-3913-11e9-8f26-3f65cb5609f3.png)

notice that in the bottom right, the console only shows 3 lines of text, the bottom line is cut off

[2019-02-26 15:05] wlach commented on #1476
Didn't see this the last time we deployed, hopefully it was just an intermittent. I took a close look at our circle config and the only problem I found was a typo, which I fixed in 6dbdb53. Going to close this for now.

[2019-02-26 15:05] #1476 closed

[2019-02-26 15:50] wlach opened #1541 "Randomly generate default notebook names?"
We're seeing a lot of "Untitled Notebook" notebooks appear on extremely-alpha.iodide.io, now that people are slowly starting to discover the site. We probably should add a "published" field to the notebook so we can not index these kinds of test notebooks, but I wonder if it might also be useful/fun to randomly generate a name for a new notebook? Going with the iodide/scientific theme, I thought i

[2019-02-26 16:58] mdboom commented on #1541
I like this a lot.  People complain about this problem in Jupyter notebooks on Twitter all the time...

e.g.: https://twitter.com/jakevdp/status/762755807389683712

[2019-02-26 17:06] hamilton commented on #1541
Love this idea a ton. One thing to think about here (mentioned on gitter): might be worth figuring out how to make sure we have a lot of rhythmic / tonal diversity in the generated titles so they're easier to read down a list of untitled notebooks. We could have a generator for astronomy, machine learning / stats, neuroscience, etc.

[2019-02-26 19:37] bcolloran opened #1542 "we should host the R example data sets"
we should make these easily available in iodide for people to experiment with (and maybe have a couple demo notebooks doing stuff with them)

[2019-02-26 19:45] bcolloran commented on #1541
Also love it! Let's go for it! :-)

[2019-02-26 21:10] bcolloran opened #1543 "workspace explorer shows non-user variables at start up"
@hamilton -- another little clean up thing potentially: a few non-user variables are slipping into the workspace pane. (right now i'm just seeing `__SECRET_EMOTION__`, but i could have sworn i saw others a couple days ago)

[2019-02-26 22:30] robhudson commented on #1541
ATMO has a similar thing for naming the servers...
https://github.com/mozilla/telemetry-analysis-service/blob/master/atmo/names.py

[2019-02-26 22:45] renovate[bot] opened #1546 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

File: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `JSON.parse error: Unexpected token . in JSON at position 154`

[2019-02-26 23:01] robhudson commented on #1546
I'll fix this. Sorry for the breakage.

[2019-02-26 23:35] #1546 closed

[2019-02-27 05:02] #1455 closed

[2019-02-27 05:03] hamilton commented on #1107
As of the merge of #1483, this is fixed.

[2019-02-27 05:03] #1107 closed

[2019-02-27 05:05] hamilton commented on #1088
Closed via #1489.

[2019-02-27 05:05] #1088 closed

[2019-02-27 05:07] hamilton commented on #959
@wlach could it be argued that `definitely-staging` satisfies this need?

[2019-02-27 05:07] hamilton commented on #873
Closed via #1507

[2019-02-27 05:07] #873 closed

[2019-02-27 05:09] hamilton commented on #761
Closed via #1509

[2019-02-27 05:09] #761 closed

[2019-02-27 05:10] hamilton commented on #643
more-or-less closed via #1509.

[2019-02-27 05:10] #643 closed

[2019-02-27 05:11] hamilton commented on #360
@bcolloran is this something we ought to close?

[2019-02-27 05:12] hamilton commented on #971
@bcolloran this was fixed, correct?

[2019-02-27 05:12] #971 closed

[2019-02-27 05:18] hamilton commented on #992
Thanks to @mdboom the error is now handled as such:

<img width="834" alt="screen shot 2019-02-26 at 9 15 43 pm" src="https://user-images.githubusercontent.com/95735/53467646-eefb2b00-3a0b-11e9-96c0-9aa3bc99fc63.png">

Big improvement, obviously, over blowing up the eval frame.

In this sense, this issue could be considered "closed" - @bcolloran thoughts here>

[2019-02-27 05:18] #1543 closed

[2019-02-27 05:19] bcolloran commented on #360
yeah i suppose so. thanks @hamilton :+1:

[2019-02-27 05:19] #360 closed

[2019-02-27 05:25] bcolloran commented on #992
i think the underlying issue is still valid, so i'll update the title of this to reflect that.

[2019-02-27 05:31] bcolloran commented on #1223
i think this actually seems to be working fine for now, and i no longer thing it's necessary to deprecate it. may as well keep it in.

[2019-02-27 05:31] #1223 closed

[2019-02-27 05:44] #235 closed

[2019-02-27 05:55] hamilton commented on #992
All for that. I suspect the solution would likely have to be on the `iodide-react-inspector` front, since it seems to be reading the first few keys from `window` in the collapsed version.

[2019-02-27 05:57] hamilton commented on #744
@bcolloran is this issue stale at this point?

[2019-02-27 16:07] wlach opened #1552 "Implement additional python code formatting checks"
I've been really happy with using prettier to lint/check javascript. If you integrate it with your editor to reformat-on-save, you can basically say goodbye to worrying about formatting issues *at all*.

I'd like us to consider doing the same thing with our python codebase. The equivalent tool there seems to be [black](https://github.com/ambv/black) which covers everything but header declaration o

[2019-02-27 17:12] hamilton commented on #1552
:tada: all for it.

[2019-02-27 17:48] robhudson commented on #1552
I'm all for it and happy to work on these changes.

[2019-02-27 17:48] bcolloran commented on #744
i reckon it probably is. thanks @hamilton !!

[2019-02-27 17:48] #744 closed

[2019-02-27 22:13] #1440 closed

[2019-02-27 22:42] hamilton opened #1558 "the iodide API docs are out of date"
We should remove whatever is stale about https://iodide-project.github.io/docs/api/

[2019-02-27 22:59] bcolloran commented on #1558
i just removed the stuff about the environment, which i think we'll remove in favor of a proper upload API.

eval queue is also deprecated now, right?

[2019-02-27 23:08] wlach commented on #959
Yup, I think we're good here now, definitely-staging was exactly what I envisioned.

[2019-02-27 23:08] #959 closed

[2019-02-27 23:44] hamilton commented on #1558
Yep, we can remove that too

[2019-02-28 21:45] hamilton opened #1563 "no link to docs anywhere on the server"
We should probably have something somewhere

[2019-02-28 22:20] #1530 closed

[2019-03-01 02:56] wlach commented on #1563
A link to the docs is actually in the user menu :)

![image](https://user-images.githubusercontent.com/20569/53613283-a37b8500-3ba3-11e9-83e9-040f993e544b.png)

I have no objections to adding them to the footer as well tho

[2019-03-01 06:16] bcolloran opened #1567 "visiting the user page of user without human name shows "username ()" in the tab"
for example, i've never entered my human name in my GH account, so the name displayed in the tab and in the browser window title bar when looking at my user page is "bcolloran ()":

https://extremely-alpha.iodide.io/bcolloran/

[2019-03-01 06:45] bcolloran commented on #912
Actually, I realize that I had not tried testing chromium at extremely-alpha, and saving/forking/logout errors there as well as on localhost.

FWIW, from chrome://settings/help:
`Version 67.0.3396.99 (Official Build) Built on Ubuntu , running on Ubuntu 17.10 (64-bit)`

Chrome works fine on my windows box, so I have no idea what is going on with this.

on localhost, i get the following error:
[code

[2019-03-01 06:55] bcolloran commented on #912
update: doing a complete uninstall of chromium, then manually deleting `~/.config/chromium` and `~/.cache/chromium`, then reinstalling did not clear the problem

[2019-03-01 15:09] wlach commented on #912
@bcolloran I just tried reproducing on my Fedora machine with the Chromium instance there, and everything worked fine. I feel like this is likely an issue with your specific Linux distribution / machine, or the interaction between it and iodide. Not saying there isn't a bug here, but it doesn't seem to be universally reproducible with the same browser / operating system combination.

[2019-03-01 15:11] hamilton commented on #1563
Indeed :) totally didn't even think about that, but yeah as a new user on a technical project page I like to ctrl+f for 'docs' so I put out a pr with one extra link. can't hurt

[2019-03-01 17:55] wlach opened #1568 "Get unexpected results when clicking run after loading a document for the first time"
A colleague of mine loaded this notebook and clicked on the play button:

https://extremely-alpha.iodide.io/notebooks/139/

And then got this error:

`ReferenceError: pyodide is not defined`

It seems like when you first load a document and press play, it evaluates the last cell by default? I guess because that's where the caret position is by default. Here's a simplified notebook that demonstrate

[2019-03-01 18:03] hamilton commented on #1568
Great catch. We should be defaulting the caret position to 0 by default, I think. @bcolloran thoughts there?

[2019-03-01 19:26] #1552 closed

[2019-03-01 20:04] wlach opened #1569 "Provide a more robust set of methods around creating and retrieving notebook revision data"
In support of some kind of a better autosave implementation (#1037), I would like to provide the following:

1. A method to get just the latest revision to a notebook (returning nothing if there are no changes)
2. Enhance the notebook revision create method to *not* create a new revision if there are no changes in content/title since the previous one.
3. Enhance the notebook revision creation meth

[2019-03-01 20:27] #1563 closed

[2019-03-01 21:21] bcolloran commented on #912
great! as long as it's a weirdly specific flaky intermittent thing i won't lose sleep. Having a failure to reproduce on another linux box is reassuring, thanks @wlach :-)

[2019-03-01 21:28] bcolloran commented on #1568
ah yes, we should definitely be defaulting the cursor pos to 0.

longer term/more correct solution: we should move the current cursor position into the redux store and fire an action to update it whenever the cursor moves, instead of just checking the cursor position inside of the evaluateText action. this will more cleanly decouple the actions from the internals of the editor, which will (1) push

[2019-03-02 17:46] hamilton opened #1571 "restoring a locally-saved set of changes with the "restore" link causes a "bad request" error when saving"
I noticed this while attempting to bring harmony to both local and server autosaving on #1565, realizing that perhaps this particular bug was not brought about by changes in that branch.

on `extremely-alpha`, if I make a change to a notebook and then refresh the page (without saving), our autosave functionality kicks in, and I have the option of restoring my unsaved changes. If I click "restore",

[2019-03-02 18:36] hamilton commented on #1571
Digging in a bit different, it doesn't appear that `document.cookie` changes after I click `restore` so I suppose it doesn't have to do with the csrf token. Will do a bit more poking around the local autosave implementation to see if I can dig anything else up. It'd be great to fix this bug generally before announcement.

[2019-03-02 19:05] hamilton commented on #1571
Nevermind, y'all. The fix was actually simpler. I noticed the title was getting set to `undefined` if no title change. The fix is simple - see incoming PR which will reference this issue

[2019-03-02 19:46] #1571 closed

[2019-03-04 05:36] FarooqAR commented on #1567
I want to take this issue.

[2019-03-04 16:50] FarooqAR commented on #814
I would be happy to take this issue :)

[2019-03-04 20:31] wlach opened #1580 "Notebooks owned by other users don't tell you who the user is"
@DevinBayly noticed this with his brain notebook, which was recreated by @hamilton a few months ago:

https://extremely-alpha.iodide.io/notebooks/194/?

If you open it as a user who is not hamilton, you see this banner:

![image](https://user-images.githubusercontent.com/20569/53761006-6e687e80-3e92-11e9-8494-46209a099ce6.png)

Or as an anonymous user:

![image](https://user-images.githubuserconte

[2019-03-05 14:54] wlach commented on #1568
Yup this sounds like the right solution looking at the code. Until we have time to do that, I have an interim patch in #1582 which does the simple thing we talk about above.

[2019-03-05 14:56] wlach commented on #1580
@hamilton @bcolloran -- what do you think about the above? After thinking about it a bit, I feel like we should probably do something more fundamental medium-term (e.g. putting the notebook owner right in the header bar somewhere) but I feel like just updating the infobar would be a good short-term win here.

[2019-03-05 19:00] bcolloran commented on #1580
ya, adding the username and linking back to that userrs page sounds great to me will! thanks!

[2019-03-05 20:45] bcolloran commented on #814
You're welcome to give it a shot @FarooqAR

[2019-03-06 06:22] #1580 closed

[2019-03-06 15:48] #1541 closed

[2019-03-06 17:30] hamilton opened #1585 "reps are slow / nonresponsive for datasets of reasonable size"
This demo notebook shows the challenge: https://definitely-staging.iodide.io/notebooks/14/

I have no way to actually explore the data in javascript because the DOM manipulation to display 191,353 items is intense, and the tab hangs.

We should probably figure out a good way to make it easy to explore data sets like we had before.

[2019-03-06 19:00] bcolloran commented on #1558
@hamilton i think this is now up to date. can you review https://github.com/iodide-project/iodide/blob/master/docs/api.md and close this issue if it looks ok to you? thanks!

[2019-03-06 19:08] wlach opened #1586 "Add a snackbar message if user tries to save notebook"
Glitch has a cute popup that comes up when you press meta-s, saying "Document saved. Pssst Glitch Autosaves!". We should do something similar.

[2019-03-06 20:49] wlach commented on #1569
I implemented (2) in #1579.

I've updated my thinking a bit on (1) and (2). I think the key thing is to *avoid* the state where the user is editing the same notebook in multiple tabs on the same machine or different ones. For the present, we don't have to handle this gracefully -- just avoid it. So with that, I think we can get what we need by doing two things:

1. Store the current (accepted) rev

[2019-03-07 02:59] hamilton opened #1588 "change © to 2018-2019"
The footer still has © 2018. Needs an update.

[2019-03-07 03:51] bcolloran commented on #1438
with the revision viewer in place thanks to @wlach and the "this notebook is owned by X. make a copy..." provided by @hamilton, i think this user story is satisfied for the time being

[2019-03-07 04:00] #1438 closed

[2019-03-07 04:19] bcolloran commented on #731
eff it who cares. one day we may do a design review/rethink. until them, this doesn't really need to be an issue

[2019-03-07 04:19] #731 closed

[2019-03-07 04:22] bcolloran commented on #600
i think the iframe has fixed this since the issue was filed! just tested https://iodide.io/notebooks/34/?viewMode=report in FF and chrome, comparable and satisfactory behavior in both cases! :-)

[2019-03-07 04:22] #600 closed

[2019-03-07 04:23] bcolloran commented on #499
i think our current set up satisfies this in many way, and this is very stale. can file more specific issues if needed.

[2019-03-07 04:23] #499 closed

[2019-03-07 04:24] bcolloran commented on #478
meh this is pretty niche. closing

[2019-03-07 04:24] #478 closed

[2019-03-07 04:26] bcolloran commented on #425
closing this as our custom rep store has moved on substantially in the last year :-)

[2019-03-07 04:26] #425 closed

[2019-03-07 04:27] bcolloran commented on #566
closing this. the architecture has changed in a skillion ways since this was filed. If this become relevant to another user or more details can be provided, we can reopen

[2019-03-07 04:27] #566 closed

[2019-03-07 04:30] #1588 closed

[2019-03-07 14:48] wlach commented on #1586
Actually we should probably actually queue an explicit save in this case -- this would cause a bunch of unnecessary saves with the current implementation of autosave, but after I do some work around the issues mentioned here it should be possible to do in an elegant way:

https://github.com/iodide-project/iodide/issues/1569#issuecomment-470270951

[2019-03-07 15:41] hamilton opened #1591 "cut the render frame overlap b/t report/explore transition"
This isn't exactly high-priority in alpha-land, but If I take a screen cast of a transition, I can point out the frame where the report is laid under the explore view before the report view collapses. We can and should probably fix this, since I think the overlap feels a bit abrasive.

[2019-03-07 15:42] hamilton commented on #1586
If we do queue up an explicit save, I'd elect we only do it if the jsmd / title has changed.

[2019-03-07 18:32] hamilton opened #1592 "have a way to turn off server autosave?"
There are cases where a user may want to simply play with their own notebook without committing the changes. I think that is a user story, but I'm not sure what the matching functionality looks like.

Code and UX wise, if we took this approach, this would be one small bit of state to add to the store, one additional menu item, and one quick check in the polling function too prevent any autosaving.

[2019-03-07 18:34] hamilton commented on #1568
@wlach @bcolloran would you argue that we've fixed the immediate issue here? I understand there is a better medium-term fix to be done but at least we've fixed this rough edge for now.

[2019-03-07 18:34] hamilton commented on #1568
(and maybe should close this)

[2019-03-07 18:49] hamilton opened #1593 "If I am viewing a revision, autosave should be off by default"
We are quickly getting to the point where we need a real strategy around how revisions operate (which is exciting!), but if I am viewing a revision, I believe we should probably have all autosave off by default until we have a better idea. The point of viewing a revision in a notebook (for now) should be primarily to investigate how something works. With #1565, however, viewing a revision will qui

[2019-03-07 18:53] wlach commented on #1568
We could file a new issue with @bcolloran's suggestions above, though I'm not sure what the priority should be. I'll defer to him.

[2019-03-07 19:25] bcolloran commented on #1592
i think the user story that we should aim for around this is actually more like: "make sure users have a way of easily reverting to any version of a notebook (and without clobbering current work)".

this broader story could be broken down into a few smaller items:
- enable a "revert to previous version" button in the version history pane
- add some concept of `previousVersion` to our document data

[2019-03-07 19:26] bcolloran commented on #1593
added some thoughts on the strategy at #1592

[2019-03-07 19:27] bcolloran commented on #1568
i'll file a new issue. i plan to look at this soon.

[2019-03-07 19:27] #1568 closed

[2019-03-07 19:28] bcolloran opened #1594 "move info about cursor position to redux store, and generally decouple the app from codemirror"
we should move the current cursor position into the redux store and fire an action to update it whenever the cursor moves, instead of just checking the cursor position inside of the evaluateText action. this will more cleanly decouple the actions from the internals of the editor, which will (1) push this into our state tree, where we have more kinds of sanity checking and thus bugs like this are e

[2019-03-07 21:06] #1567 closed

[2019-03-08 20:16] wlach commented on #1592
I think the user story is an important one, but I don't think we should expose a modal setting like this in the UI, as it's bound to confuse people. Maybe if the user is looking at an older revision of a notebook, we could just turn *off* autosave, but give the user an option to:

1) Save the revision to a *new notebook*
2) Overwrite the existing notebook

In the revision viewer, we could provide

[2019-03-08 20:26] wlach commented on #1593
I mentioned some of my thoughts on this there:
https://github.com/iodide-project/iodide/issues/1592#issuecomment-471062649

The pertinent suggestion is:

I would suggest communicating this state (and the possible actions) via the header bar.

[2019-03-11 16:31] hamilton opened #1599 "we aren't registering title changes in local autosave"
I hope we can add the title to (local) autosave ASAP, since I think to users it would appear to be a bug.

[2019-03-11 20:31] teonbrooks opened #1601 "Reference links to dom elements broken"
using MASTER

### What I Did
I'm trying to make a reference link to a dom element but it doesn't resolve to the location.
https://definitely-staging.iodide.io/notebooks/19/

@wlach suggested a solution to this bug using [this](https://stackoverflow.com/a/19378662).

[2019-03-12 01:42] teonbrooks commented on #1601
I think it has something to do with how markdown-it parser renders anchor tags and that its html reference is not pointing to the base but to the `.app` source. i will be in sf tomorrow and i will follow up to see if someone can work with me on this bug

[2019-03-12 22:39] teonbrooks commented on #1601
a few things @hamilton and i just discussed.
- the links are opening to a new page (`target=_blank`). this will prevent the referencing within a page
- the anchor needs to reference the iframe, which has the panels, and scroll to those location. the top-level link would need to be able to point to an iframe anchor

open questions:
- does using the base tag in an href allow the link to point to the

[2019-03-13 05:23] teonbrooks commented on #1601
a few things @hamilton and i just discussed.
- the links are opening to a new page (`target=_blank`). this will prevent the referencing within a page
- the anchor needs to reference the iframe, which has the panels, and scroll to those location. the top-level link would need to be able to point to an iframe anchor

open questions:
- does using the base tag in an href allow the link to point to the

[2019-03-13 14:38] runsun-edu opened #1618 "[bug] dragging Editor Scrollbar not working"
Short summary of the bug. Please include the IODIDE version number where you found the bug - if you are just running locally (building for dev or prod) you can put MASTER

### What I Did

Open the top 6 examples to see code. Try to scroll code by dragging the scrollbar.

### What I Expected

Scrolling

### What Happened

For the top-3: They open in the the **Explore** mode ---

 * "A Brief Tour ..

[2019-03-13 14:42] runsun-edu commented on #1618
Further finding:

[2019-03-13 15:00] runsun-edu opened #1619 "evaluation magic for object literals"
### What I Did

Type:

%% js
{a:3,b:4}

and hit SHIFT-ENTER

### What I Expected

Showing {a:3,b:4} in the console

### What Happened

SyntaxError: Unexpected token :

### Further observation

No error if it is an assignment statement:

%% js
d= {a:3,b:4}